
@media (max-width: 1299px) { 
   
}
@media (max-width: 1200px) { 
    .single_job p {
        max-width: 504px;
    }
    .process-line::after, .active-line::after {
        width: 140px;
    }
    .steeper_area ul li {
        margin: 0 60px;
    }
    .nav-link {
        font-size: 12px;
    }

}
@media (max-width:991px) { 
    .job_filter{
        display: block;
    }
    .left-menu-cont {
        height: 90vh;
        overflow: auto;
    }
    .left-menu {
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 999;
        height: 100vh;
        display: none;
    }
    .left-menu-closebtn {
        background: rgb(3, 138, 211);
        width: 25px;
        display: inline-block;
        height: 25px;
        text-align: center;
        color: #fff;
        position: absolute;
        right: 30px;
    }
    .single_job ul, .single_job p {
        max-width: 100%;
    }
    .single_job p{
        margin-bottom: 15px;
    }
    .single_job .cmn_btn {
        position: relative;
        bottom: 0;
        right: 0;
    }
    /* .footer-area {
        margin-bottom: 47px;
    } */
    .left-menu-closebtn {
        display: block;
    }
}
@media (max-width:767px) {
    .banner-content h1 {
        font-size: 42px;
    } 
    .footer_cont {
        padding: 20px 0;
    }
    .input-bundle .col-md-4:last-child, .input-bundle .col-md-6:last-child{
        margin-bottom: 0;
    }
    .input-bundle .col-md-4, .input-bundle .col-md-6 {
        margin-bottom: 15px;
    }
    .steeper_area ul li {
        margin: 0 60px;
    }
    .profile-description-left {
        max-width: 300px;
    }
}
@media (max-width:575px) {
    .banner-content h1 {
        font-size: 32px;
        margin-bottom: 5px;
    }
    .banner-content p {
        color: #fff;
        font-size: 16px;
    }
    .joblist_header {
        padding: 12px 10px;
    }
    .joblist_header h2 {
        font-size: 18px;
    }
    .joblist_header span {
        font-size: 15px;
    }
    .single_job h3 {
        font-size: 18px;
    }
    .single_job ul li i {
        margin-right: 4px;
        font-size: 14px;
    }
    .footer_cont {
        flex-direction: column;
    }
    .footer_cont p {
        font-size: 14px;
        margin-bottom: 15pz;
    }
    .social_icon li i {
        font-size: 16px;
    }
    .personal_form-content {
        padding: 10px 10px;
    }
    .greybg_area {
        padding: 15px 10px 5px 10px;
    }
    .input-bundle .col-md-4, .input-bundle .col-md-6, .input-bundle .col-md-12 {
        padding: 0;
    }
    .personal_form-content .form-group, .single-row {
        flex-direction: column;
        align-items: flex-start !important;
    }
    .input-bundle {
        width: 100%;
        margin: 0;
    }
    .select-input-style {
        width: 82px;
        padding: 0;
    }
    .input-label {
        margin-bottom: 10px;
    }
    .chekbox-container {
        font-size: 13px;
    }
    .name_area {
        width: 100%;
    }
    .name_area .input-style {
        width: calc(100% - 82px);
        padding: 0 0px 0 15px;
    }
    .refered-by-cont-row {
        flex-direction: column;
    }
    .refered-by-cont-row .input-style {
        width: 100%;
        margin: 10px 0;
    }
    .left-menu-title {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .transport-content h3 {
        font-size: 13px;
    }
    .cmn_btn { 

        font-size: 13px;
    }
    .step-form-area .personal_form-content {
        flex-direction: column;
    }
    .profile-description-right {
        padding-left: 37px;
    }
    .steeper_area ul li {
        margin: 0 10px;
    }
    .process-line::after, .active-line::after {
        width: 40px;
    }
    .steeper_area ul li p {
        width: 66px;
        top: -25px;
    }
    .steeper_area ul li:nth-child(2) p, .steeper_area ul li:nth-child(4) p {
        top: auto;
        bottom: -15px;
    }
    .login-box {
        padding: 15px;
    }
}

@media (max-width:480px) {
    .transport_checkbox_area .chekbox-container {
        width: 50%;
        margin-bottom: 8px;
    }
    .transport_checkbox_area {
        flex-wrap: wrap;
    }
}