/*
Theme Name: Name - Multipurpose HTML Template
Author:
Support: admin@gmail.com
Description: Creative HTML Template.
Verson:1.0
*/


/* Css Index 
----------------------------

*/

/* 1.Theme default css */

/*font*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600|Work+Sans:200,400,500,600,700,800,900');
*{
    margin:0;
    padding:0;
}
body{
    font-style:normal;
    font-weight:normal;
    font-family: 'PT Sans', sans-serif;
}
img{
    max-width:100%;
    transition:0.3s;
}
.fix{
    overflow:hidden;
}
button{
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
a{
    color:#eee;
    transition: 0.3s;
}
a:focus,
.button:focus{
    text-decoration:none;
    outline:none;
    color:#fff;
}
a:focus,
a:hover,
.portfolio-cat a:hover
{
    color:#16AFFF;
    text-decoration:none;
}
.uppercase{
    text-transform:uppercase;
}
.capitalize{
    text-transform:capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin:0;
    color:#000;
    text-transform:normal;
    font-family: 'Work Sans', sans-serif;

}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{
    color:inherit;
}
ul{
    margin:0;
    padding:0;
}
li{
    list-style:none;
}
hr{
    border-bottom:1px solid #eceff8;
    border-top:0 none;
    margin:30px 0;
    padding:0;
}
p {
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	color: #616161;
	margin-bottom: 10px;
	letter-spacing: .5px;
}
label{
    cursor:pointer;
    color:#222;
    font-size:13px;
    font-weight:400;
}
*::-moz-selection{
    background:#d6b161;
    color:#fff;
    text-shadow:none;
}
::-moz-selection{
    background:#444;
    color:#fff;
    text-shadow:none;
}
::selection{
    background:#444;
    color:#fff;
    text-shadow:none;
}
*::-moz-placeholder{
    color:#616161;;
    font-size:14px;
    opacity:1;
}
*::placeholder{
    color:#616161;
    font-size:14px;
    opacity:1;
}
.separator{
    border-top:1px solid #f2f2f2;
}
section{
    width: 100%;
    float: left;
}
.bg-gray{background: #f7f7f7;}
.bg-fixed{
	background-attachment: fixed;
} 
.bg-img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
/* 2.header */
.header-area {
	height: 70px;
	position: absolute;
	z-index: 999;
	left: 0;
	right: 0;
	width: 100%;
	transition: 0.5s;
	background: #fff;
}
.logo-area a img {
	max-width: 115px;
	padding-top: 24px;
}
.menu-area {
	text-align: right;
}
.menu-area ul li {
	display: inline-block;
	margin-right: 28px;
	line-height: 70px;
}
.menu-area ul li a {
	font-size: 14px;
	letter-spacing: 1px;
    font-weight: 500;
    position: relative;
}
.menu-area ul li a:before{
    position: absolute;
    content: "";
    bottom: -12px;
    left: 0;
    width: 0;
    height: 2px;
    background: #0bab47;
    transition: 0.3s;
}
.menu-area ul li a:hover:before{
    width: 100%;
}
.fixed-header {
	position: fixed;
	top: 0;
	z-index: 999;
	left: 0;
	right: 0;
}
.header-area.fixed-header{
	background: #fff;
	height: 70px;
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.118)
}
.fixed-header .menu-area ul li a {
	color: #000;
}
.cmn_btn {
	background: #16AFFF;
	color: #fff;
	border: 1px solid #16AFFF;
	font-size: 15px;
	padding: 10px 14px;
	line-height: 1;
	border-radius: 4px;
	transition: 0.3s;
	font-weight: 600;
	cursor: pointer;
}
.cmn_btn:hover{
	background: rgb(3, 138, 211);
}
/* 3.banner-area */
.banner {
	position: relative;
	height: 165px;
	width: 100%;
	background-color: #000;
	overflow: hidden;
	margin-top: 70px;
}
.banner-bg{
	position: absolute;
	height: 220px;
	width: 100%;
	background-repeat: no-repeat;
	background-position:center center;
	z-index: 33;
	background-size: cover;
}
.banner-overlay {
	width: 100%;
	height: 220px;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: rgba(71, 67, 241, 0.7);
}
.banner-content{
	height: 165px;
}
.banner-content h1 {
	font-size: 60px;
	font-weight: 900;
	color: #fff;
	line-height: 1;
	letter-spacing: 1px;
}
.banner-content p {
	color: #fff;
	font-size: 20px;
}
.chekbox-container {
	display: block;
	position: relative;
	padding-left: 28px;
	margin-bottom: 0;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
  .chekbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
}
  .chekbox-container:hover input ~ .checkmark {
	background-color: #ccc;
  }
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  .chekbox-container input:checked ~ .checkmark:after {
	display: block;
  }
  .chekbox-container .checkmark::after {
	left: 8px;
	top: 4px;
	width: 5px;
	height: 10px;
	border: solid #333;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.left-menu-title {
	color: #16AFFF;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 30px;
	line-height: 1;
}
.main-content {
	background: #E5E5E5;
	padding: 20px 0;
}
.left-menu {
	background: #fff;
	padding: 15px 20px;
	border-top: 3px solid #16AFFF;
}
.left-menu-checkboxlist li{
	margin-bottom: 7px;
}
.left-menu-checkboxlist {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 0.5px solid #9A9A9A;
}
.left-menu-checkboxlist:last-child{
	border-bottom:0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.joblist_header h2 {
    font-size: 22px;
    font-weight: 600;
    color: #16AFFF;
    letter-spacing: 0.2px;
}
.joblist_header {
    background: #fff;
	padding: 15px 20px;
	border-top: 3px solid #16AFFF;
	margin-bottom: 15px;
}
.joblist_header span{
	font-size: 18px;
	font-weight: 600;
	line-height: 1;
}
.ps-relative{
	position: relative;
}
.single_job {
	padding: 15px;
	background: #fff;
	margin-bottom: 15px;
}
.single_job:last-child{
	margin-bottom: 0px;
}
.single_job h3 {
	color: #16AFFF;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}
.single_job ul li {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 5px;
}
.single_job ul li:last-child{
	margin-bottom: 0px;
}
.single_job ul li i {
	margin-right: 8px;
}
.single_job ul{
	margin-bottom: 15px;
}
.single_job ul {
	max-width: 400px;
}
.single_job p {
	max-width: 604px;
}
.single_job .cmn_btn {
	position: absolute;
	bottom: 15px;
	right: 15px;
}
.footer-area {
	width: 100%;
	float: left;
	background: #2F2F2F;
  }
  
  .footer_cont p {
	font-size: 16px;
	color: #ddd;
	margin: 0;
}
  
  .footer_cont {
	padding: 50px 0;
  }
  
  .social_icon li {
	display: inline-block;
	margin-left: 20px;
  }
  
  .social_icon li i {
	font-size: 22px;
	transition: .3s;
  }
  .social_icon li:hover i {
	color: #16AFFF;
  }
  .job_filter span {
    font-size: 18px;
    font-weight: 600;
}
.job_filter {
    position: fixed;
    bottom: 0;
    background: rgb(3, 138, 211);
    width: 100%;
    left: 0;
    right: 0;
    padding: 10px 10px;
    text-align: center;
	color: #fff;
	cursor: pointer;
	display: none;
}
.job_filter i{
	margin-right: 10px;
}
.left-menu-closebtn {
	display: none;
}
/* location-html */
.map-area iframe{
	width: 100%;
	height: 300px;
	border: 0px;
}
.apply_btn_area .cmn_btn {
	position: relative;
	margin-top: 25px;
	padding: 10px 38px;
}
.single_job_btm_cont {
	max-width: 100% !important;
	margin-top: 15px !important;
}
.single_job_btm_cont li {
	margin: 0 0 7px 0 !important;
}
.single_job_btm_cont li {
	position: relative;
	padding-left: 12px;
}
.single_job_btm_cont li::before {
	position: absolute;
	left: 0;
	font-family: 'fontAwesome';
	color: #333;
	content: "\f111";
	font-size: 8px;
	margin-top: 6px;
}
#nextBtn {
	background: #69BE61;
	border: 1px solid #69BE61;
	color: #fff;
	line-height: 1;
	padding: 9px 5px;
	width: 80px;
	border-radius: 4px;
}

/* personal-form-css */
.personal-form {
	margin-top: 70px;
	background: #EEEEF6;
	padding-top: 30px;
}
.personal_form-content {
	padding: 20px;
	background: #fff;
	border-top: 3px solid #16AFFF;
	margin-bottom: 20px;
}
.select-input-style{
	position: relative;
}
.select-input-style::after {
	position: absolute;
	content: "\f0d7";
	right: 10px;
	top: 6px;
	color: #333;
	font-size: 16px;
	font-family: "fontAwesome";
	pointer-events: none;
}
.select-input-style .form-control {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	height: 35px !important;
	font-size: 14px;
	background: #F5F5F5;
	border: 0.5px solid #9A9A9A;
	color: #333;
	width: 87px;
}
.input-label {
	font-size: 15px;
	margin: 0;
	width: 100px;
}
.input-label i {
	margin-right: 4px;
	font-size: 14px;
}
.input-label img {
	width: 15px;
	margin-right: 4px;
}
.input-bundle{
	width: calc(100% - 100px);
	margin: 0;
}
.input-style input{
	background: #F5F5F5;
	border: 0.5px solid #9A9A9A;
	height: 35px;
	border-radius: 4px;
	width: 100%;
	padding: 5px 10px;
}
.input-style2 input{
	background: #fff;
	border: 0.5px solid #C8C8C8;
	height: 35px;
	border-radius: 4px;
	width: 100%;
	padding: 5px 10px;
}
.single-row{
	margin-bottom: 15px;
}
.greybg_area {
	padding: 25px 15px 10px 15px;
	background: #F1F1F1;
	border-radius: 10px;
}
.transport_checkbox_area .chekbox-container {
	width: 110px;
}
.transport-content h3{
	font-size: 16px;
	margin-bottom: 20px;
}
.transport-content h3 i{
	font-size: 16px;
	margin-right: 5px;
}
.refered_by_area label {
	font-size: 14px;
	width: 100px;
}
.refered-by-cont {
	width: calc(100% - 100px);
	padding: 0 15px;
}
.refered-by-cont-row .chekbox-container {
	width: 100px;
}
.refered-by-cont-row .input-style {
	width: calc(100% - 100px);
}
.pl-15{
	padding-left: 15px;
}
.proceed_btn_area {
	margin-top: 30px;
	margin-bottom: 25px;
}
.remember-check_area .checkmark {
	background: #fff;
}
.select-input-style {
	width: 102px;
}
.name_area{
	width: calc(100% - 100px);
}
.name_area .input-style {
	width: calc(100% - 102px);
	padding: 0 15px;
}

/* 20-4-2020-work */
.job-description_area{
	order: 1;
}
.map-area{
	order: 2;
	margin-bottom: 15px;
}
.apply_btn_area{
	order: 3;
}
.job-description {
	height: 45px;
	overflow: hidden;
}
.job-description.job-description-full{
	height: auto !important;
}
.job-description.job-description-full .job-description_area p{
	width: 100% !important;
	max-width: 100% !important;
}
.job-description.job-description-full .job-description_area{
	order: 2;
}
.job-description.job-description-full .map-area{
	order: 1;
}

/* form-2-html */
.nav-check {
	background: #EEEEF6;
	width: 16px;
	height: 16px;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	border: 0.5px solid #9A9A9A;
	line-height: 10px;
	position: absolute;
	z-index: 99;
	right: 15px;
}
/* .nav-check::after {
	position: absolute;
	content: "";
	width: 25px;
	height: 25px;
	background: #ef1818;
	border-radius: 50%;
	left: 0;
	right: 0;
	 margin: 0 auto; 
} */
.nav-link {
	background: #F4F4F4;
	border-radius: 5px;
	margin-bottom: 7px;
	color: #333333;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.nav-check i {
	font-size: 10px;
	opacity: 0;
	margin-top: 3px;
}
.nav-link.active {
	background: #FFFFFF !important;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
	color: #333 !important;
	font-weight: 600 !important;
}
.nav-link.complete .nav-check{
	background: #4CC363;;
}
.nav-link.complete .nav-check i{
	color: #fff;
	opacity: 1;
}
.form-layout{
	border-top: 3px solid #16AFFF;
	background: #fff;
	padding:20px;
}
.check-box-label {
	font-size: 14px;
	margin-bottom: 12px;
}
.check-box-label span{
	font-weight: 400;
	color: #333;
}
.mb-20{
	margin-bottom: 20px;
}
.profile-description-left-conts {
	padding-left: 10px;
}
.profile-description-left-conts span {
	color: #000;
	font-weight: 600;
}
.profile-description-left-conts p {
	font-size: 14px;
	margin-bottom: 3px;
}
.profile-description-right p {
	margin-bottom: 3px;
	font-size: 14px;
	color: #333;
}
.profile-description-right p i{
	margin-right: 5px;
}
.profile-description-left {
	max-width: 400px;
}
.next-btn-area {
	margin-top: 20px;
}
.next-btn-area .cmn_btn {
	width: 100px;
}
.step-form-area.personal-form{
	padding-bottom: 50px;
}
.radio-container {
	display: block;
	position: relative;
	padding-left: 27px;
	margin-bottom: 0;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
  .radio-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
  }
  .checkmark2 {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #d8d8d8;
	border-radius: 50%;
	border: 1px solid #bababa;
}
  .radio-container:hover input ~ .checkmark2 {
	background-color: #ccc;
  }

  .radio-container input:checked ~ .checkmark2 {
	background-color: #2196F3;
  }
  .checkmark2:after {
	content: "";
	position: absolute;
	display: none;
  }
  .radio-container input:checked ~ .checkmark2:after {
	display: block;
  }
  
  .radio-container .checkmark2:after {
	   top: 6px;
	  left: 6px;
	  width: 8px;
	  height: 8px;
	  border-radius: 50%;
	  background: white;
  }
  .checkbox-area{
	  margin-bottom: 20px;
  }
  .checkbox-area > span {
	margin-right: 0;
	color: #333;
	font-size: 14px;
	line-height: 1;
	width: 113px;
	display: inline-block;
}
/* steeper */
.steeper_area ul li{
	margin: 0 90px;
	position: relative;
}
.steeper-check i {
	font-size: 9px;
	color: #fff;
	opacity: 0;
}
.steeper-check {
	width: 17px;
	height: 17px;
	background: #C8EFCF;
	border-radius: 50%;
	display: inline-block;
	line-height: 13px;
	text-align: center;
	border: 2px solid #fff;
	box-sizing: content-box;
}
.steeper_area ul li p {
	position: absolute;
	top: -16px;
	font-size: 12px;
	line-height: 1;
	width: 132px;
	left: 50%;
	right: 0;
	margin: 0 auto;
	transform: translateX(-50%);
	text-align: center;
}
.steeper_area ul li {
	margin: 0 90px;
	position: relative;
}
.steeper_area {
	margin: 50px 0 35px 0;
}
.steeper_area::before {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 4px;
	background: #fff;
	content: "";
	z-index: -1;
	transform: translateY(-50%);
}
.steeper_area {
	margin: 50px 0 35px 0;
	position: relative;
	z-index: 9;
}
.process-line::after,.active-line::after {
	position: absolute;
	top: 0;
	right: 1px;
	width: 200px;
	background: rgb(243, 200, 7);;
	content: "";
	height: 4px;
	top: 50%;
	z-index: -1;
	transform: translateY(-50%);
}
.active-line::after {
	background: #4CC363;
}
.steeper_area ul li:first-child:after{
	width: 2000px;
}
.active-line .steeper-check{
	background: #4CC363;
}
.active-line .steeper-check i{
	opacity: 1;
}
.accordian-head {
	background: rgb(3, 138, 211);
	padding: 10px;
	color: #fff;
	cursor: pointer;
}
.accordian-head span {
	line-height: 1;
	font-size: 15px;
	font-weight: 600;
}
.collapse-content{
	padding: 10px;
}
.steeper_area ul li a{
	padding: 0;
	margin: 0;
	background: transparent !important;
	box-shadow: none !important;
}
.steeper_area ul li .nav-link.active {
	background: transparent !important;
	box-shadow: none !important;
}

/* 24-04-2020-work */
.mt-50{
	margin-top: 50px;
}
.transport_checkbox_area label {
	display: flex;
	align-items: center;
	font-size: 15px;
	margin-right: 20px;
}
.transport_checkbox_area label input {
	margin-left: 5px;
	margin-top: 2px;
}
.tab-content .left-menu-title {
	margin-top: 30px;
}
.second-input-design{
	margin-bottom: 12px;
}
.second-input-design label{
	font-size: 14px;
	margin-bottom: 5px;
	color: #333;
	display: block;
}
.textarea-style textarea{
	background: #F5F5F5;
	border: 0.5px solid #9A9A9A;
	resize: none;
	border-radius: 4px;
	width: 100%;
}
.mb-10{
	margin-bottom: 10px !important;
}
.mb-20{
	margin-bottom: 20px !important;
}