
{{>frontend_header_basic}}   

      <!--navigation end-->
                   

    <section class="body_main">
        <div class="container">
            <div >
            

            </div>

            <div class="register">
                <span class="register-form-head">Register</span>

                <p class="form-heading">Welcome to job portal !</p>
                



                <div class="hr-line">
                    <span>
                        
                    </span>
                    <span></span>
                    <span></span>
                </div>
                <form action="{{baseUrl}}/new-registration" id="userRegistration" method="post" class="register-form">
                    
                <div class="row">
                <div class="col-md-12">
                    {{#if success}}
                    <section class="success">
                        {{#each success}}
                            <div class="col-md-12">
                                <div class="alert alert-success alert-dismissible">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{this.msg}}
                                </div>
                            </div>
                        {{/each}} 
                    </section>
                {{else}}
                {{#if errors}}
                    <section class="error" >                        
                        {{#each errors}}
                            <div class="col-md-12">
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{this.msg}}
                            </div>
                            </div>
                        {{/each}}                        
                    </section>
                {{/if}}
                {{/if}}
                </div>
                        <div class="col-md-6">
                            <input type="text" name="fname" id="fname" placeholder="First Name" class="register-field">
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="lname" id="lname" placeholder="Last Name" class="register-field">
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <input type="email" name="email" id="email" value="" placeholder="Email" class="register-field">
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <input type="number" name="ph_no" id="ph_no" placeholder="Mobile No" class="register-field">
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <input type="password" name="password" id="password" value="" placeholder="Password" class="register-field">
                            
                        </div>
                        <div class="col-md-6">
                            <input type="password" name="confirm_password" id="confirm_password" value="" placeholder="Confirm Password" class="register-field">
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <div class="checktoregister">
                                <input type="checkbox" checked="checked" name="check_toregister" class="checkin"><label for="check_toregister" class="agree-withterms">I agreed to the <a href="javascript:void(0)" target="_blank">Terms and Conditions</a> governing the use of abcd.com.</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="checktoregister">
                                <input type="checkbox"  onclick="Toggle()" name="check_toregister" class="checkin"><label for="check_toregister" class="agree-withterms">Show password</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="have_account">
                                Already have an account? <a href="/login">Sign in</a>
                            </p>
                        </div>
                        <div class="button-wrap">
                            <button type="submit" class="btn-register"id="register-btn"> Register </button>
                        </div>
                    </div>
                </form>
            </div>
         </div>   
    </section>

{{>frontend_footer_basic}}


