@font-face {
  font-family: 'EdwardianScriptITC';
  src: url('../fonts/EdwardianScriptITC.eot?#iefix') format('embedded-opentype'),  url('../fonts/EdwardianScriptITC.woff') format('woff'), url('../fonts/EdwardianScriptITC.ttf')  format('truetype'), url('../fonts/EdwardianScriptITC.svg#EdwardianScriptITC') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{font-family: Tahoma; font-size: 15px;}
a{color: #a8f74a; text-decoration: none;}
a:hover{color: #a8f74a; text-decoration: underline;}
img{max-width: 100%;}
.headrwrap{padding-top: 10px;}
.headrbach{float: left; padding-right: 15px; width: 83px;}
.loginbutton_wrap{float: left; font-family:Tahoma; font-size: 15px; font-weight: bold;}
.loginbutton_wrap a{text-decoration: none; color: #fff;}
a.login{display: block; background: #ffaf00; padding: 5px 16px; margin-bottom: 31px;}
a.login:hover{ background: #80cb27;}
a.register{display: block; background: #80cb27; padding: 5px 12px;}
a.register:hover{ background: #ffaf00;}

.header_editor_info{background: #badeed; margin-top: 7px; color: #000000; font-family: Tahoma; font-size: 15px; }
.borderleft{border-left: 1px solid #fff; padding: 18px 0px 20px 0px;}
.editpading{padding: 12px 0px 14px 38px;}

.nav_bg{ background: #126393; 
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.7);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.7);
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-family: tahoma;
    font-size: 14px;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .active>.nav-link   {
    color:#80cb27;
}

.banner{text-align: center;}


.geography_wrap{background: #005c55; color: #fff; padding: 40px 0px;}
.geography_wrap h2{ font-family: 'EdwardianScriptITC'; font-size: 54px; padding-bottom: 22px;}

.editorcolum_wrap{padding: 40px 0px; background: url(../images/pen.jpg) right top no-repeat;}
.editorcolum_wrap h2{font-family: 'EdwardianScriptITC'; font-size: 54px; padding-bottom: 22px; color: #1f33a7;}
.editorcolum_wrap h2:after{content: ''; position: absolute; width: 80%; height: 1px; background: #000; margin-left: -39%; margin-top: 60px}
.editorcolum_wrap a{ color: #00756d;}
.asis_info{color: #1f33a7;}

.footer_logo{ border-top: 1px solid #a5a5a5; padding-top: 30px;}
.footerinfo{text-align: center; color: #828282  ; padding-top: 40px;}
.footerinfo span{color: #1f33a7; font-size: 16px; font-weight: bold;}
.footerinfo p{ padding: 30px 0px;}

.social_wrap{ background: #80cb27; padding: 18px 0px; text-align: center;}
.social_wrap a:hover{opacity:0.7 }

.footer_link{ padding: 70px 0px; background: #126393;}
.footer_link span {font-size: 14px; font-weight: bold; color: #fff;}
.footer_link ul{margin: 22px 0px 0px 0px; padding: 0px; list-style-type: none;}
.footer_link ul li{margin: 0px; padding: 0px 0px 0px 10px; list-style-type: none; line-height: 26px;}
.footer_link ul li:before{position: absolute; height: 1px; background: #fff; content: ''; width: 5px;margin-top: 11px;
    margin-left: -14px}
.footer_link ul li a{color: #fff;}
.qr{ margin-top: 22px;}

.footer_copyrigt{background: #020c27;padding: 32px 0px; text-align: center; color: #fff; font-size: 14px;}


.inner_page{padding: 40px 0px; }
.inner_page h2{font-family: 'EdwardianScriptITC'; font-size: 54px; padding-bottom: 22px; color: #1f33a7;}
.inner_page h2:after{content: ''; position: absolute; left: 0; width: 50%; height: 1px; background: #000; margin-top: 60px; margin-left: 20px;}

@media (max-width: 1024px) {
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
}
.headrbach {width: 68px;
    padding-right: 10px;
    }
    
a.register {
 padding: 5px 6px;
}
a.login {
    padding: 5px 12px;
    margin-bottom: 17px;
}
.header_editor_info {
    font-size: 13px;
}
    .navbar-light .navbar-nav .nav-link {
    font-size: 12px;
}
.editorcolum_wrap h2:after {
    margin-left: -44%;

}
    .footer_link span{font-size: 12px;}
    .footer_link{font-size: 12px;}
 
        
}

/*/ Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 
    .headrbach {
        width: 54px;}
    .loginbutton_wrap {
    font-size: 9px;
}
a.login {
    padding: 5px 7px;
    margin-bottom: 17px;
}
    .header_editor_info {
    font-size: 12px;
}
    .editpading {
    padding: 12px 0px 14px 20px;
}
    .georead{display: block;}
}


/*/ Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 
    .geography_wrap h2 {
    font-size: 34px;
    padding-bottom: 18px;
}
    .geography_wrap {
    padding: 19px 0px;
}
.editorcolum_wrap h2:after {
    width: 48%;
    margin-top: 46px;}
 
    .editorcolum_wrap h2 {
    font-size: 34px;
        padding-bottom: 18px;}
    .footerinfo span {
        font-size: 14px;}
    .headrbach {
    width: 45px;
}
    a.login {
    margin-bottom: 3px;
}
    .header_editor_info {
    font-size: 10px;
}
    .editpading {
    padding: 7px 0px 7px 20px;
}
    
}


