<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script> 
  <script src="../../public/css/bower_components/ckeditor/ckeditor.js"></script>

  {{!-- <title>AdminLTE 2 | General Form Elements</title>
   --}}
  <script src="/css/new_frontend_design/js/vendor/jquery-3.3.1.min.js"></script>

  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="../../public/css/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../public/css/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="../../public/css/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../public/css/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>


  <style>

    #recruiterAddCategory label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
    color: red;
	}
  #editCategory label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
    color: red;
	}
  #jobPost_page1 label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
    color: red;
	}
  #recruiterLogin label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
    color: red;
	}


  </style>
  {{!-- for show time --}}
  <script>
      var myVar;    
      function showTime(){
          var d = new Date();
          var t = d.toLocaleTimeString();
          $("#demo").html(t); // display time on the page
      }
      function stopFunction(){
          clearInterval(myVar); // stop the timer
      }
      $(document).ready(function(){
          myVar = setInterval("showTime()", 1000);
      });
</script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    
    <!-- Logo -->
    <a href="css/index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>J</b>P</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Job Portal</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> {{sessionData.email}}
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i> 5 new members joined
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-user text-red"></i> You changed your username
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>

          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {{#if sessionData.image}}
              <img src="{{baseUrl}}/images/uploads/{{ sessionData.image}}" class="user-image" alt="User Image">
              {{else}}
              <img src="{{baseUrl}}/images/uploads/noImage.png" class="user-image" alt="User Image">
              {{/if}}
              <span class="hidden-xs">{{ sessionData.first_name }} {{ sessionData.last_name }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
              {{#if sessionData.image}}
              <img src="{{baseUrl}}/images/uploads/{{ sessionData.image}}" class="user-image" alt="User Image">
              {{else}}
              <img src="{{baseUrl}}/images/uploads/noImage.png" class="user-image" alt="User Image">
              {{/if}}

                <p>
                  {{ sessionData.first_name }} {{ sessionData.last_name }} - Admin                 
                </p>
              </li>
              <!-- Menu Body -->
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="{{baseUrl}}/admin/profile" class="btn btn-default btn-flat">Profile </a>
                </div>
                <div class="pull-right">
                  <a href="{{baseUrl}}/admin/logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
        </ul>
      </div>
    </nav>
  </header>