 <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          {{#if sessionData.image}}
          <img src="{{baseUrl}}/images/uploads/{{ sessionData.image}}" class="img-circle" alt="User Image">
          {{else}}
          <img src="{{baseUrl}}/images/uploads/noImage.png" class="img-circle" alt="User Image">

          {{/if}}
        </div>
        <div class="pull-left info">
          <p>{{ sessionData.first_name }} {{ sessionData.last_name }} {{req.session.first_name}} </p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview {{#if active.dashboard}}active{{/if}}">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{baseUrl}}/admin/dashboard"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
          </ul>
        </li>
        
        <li class="treeview  {{#if active.journal}}active{{/if}}">
          <a href="#">
            <i class="fa fa-book"></i> <span>Company Application</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{baseUrl}}/admin/journal/listing"><i class="fa fa-circle-o"></i> Candidate Applied for recent job</a></li>
            <li><a href="{{baseUrl}}/admin/requested-companies/all"><i class="fa fa-circle-o"></i>Company Requests</a></li>
          </ul>
        </li>



        <li class="treeview  {{#if active.journal}}active{{/if}}">
          <a href="#">
            <i class="fa fa-book"></i> <span>Registered Users</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{baseUrl}}/admin/users/all"><i class="fa fa-circle-o"></i>All Users List</a></li>
          </ul>
        </li>
        {{!-- <li class="treeview  {{#if active.notice}}active{{/if}}">
          <a href="#">
            <i class="fa fa-book"></i> <span>Notice</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{baseUrl}}/admin/notice/listing"><i class="fa fa-circle-o"></i> Notice Listing</a></li>
            <li><a href="{{baseUrl}}/admin/notice/add"><i class="fa fa-circle-o"></i> Add Notice</a></li>
          </ul>
        </li> --}}
        
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>