<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script> 
  <script src="../../public/css/bower_components/ckeditor/ckeditor.js"></script>

  {{!-- <title>AdminLTE 2 | General Form Elements</title>
   --}}
  <script src="/css/new_frontend_design/js/vendor/jquery-3.3.1.min.js"></script>

  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="../../public/css/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../public/css/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="../../public/css/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../public/css/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script> 



  <style>

    #recruiterAddCategory label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
    color: red;
	}
  #editCategory label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
    color: red;
	}
  #jobPost_page1 label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
    color: red;
	}
  #recruiterLogin label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
    color: red;
	}




 {{!-- country field style --}}

 .autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

  </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="css/index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>J</b>P</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Job Portal</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <li class="dropdown notifications-menu">
            <a href="#" onclick = "notificationsList()"class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span id="notification_count" class="label label-warning"></span>
            </a>
            <ul class="dropdown-menu" >
              <li class="header"id="numNotification">You have notifications</li>
              <li>
                <ul class="menu">
                  <li id="dropdown-menu">

                  </li>
                </ul>
                <!-- inner menu: contains the actual data -->                
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>

          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {{#if sessionData.image}}
              <img src="{{baseUrl}}/images/uploads/{{ sessionData.image}}" class="user-image" alt="User Image">
              {{else}}
              <img src="{{baseUrl}}/images/uploads/noImage.png" class="user-image" alt="User Image">
              {{/if}}
              <span class="hidden-xs">{{ sessionData.first_name }} {{ sessionData.last_name }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
              {{#if sessionData.image}}
              <img src="{{baseUrl}}/images/uploads/{{ sessionData.image}}" class="user-image" alt="User Image">
              {{else}}
              <img src="{{baseUrl}}/images/uploads/noImage.png" class="user-image" alt="User Image">
              {{/if}}

                <p>
                  {{ sessionData.first_name }} {{ sessionData.last_name }} - Recruiter                 
                </p>
              </li>
              <!-- Menu Body -->
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="{{baseUrl}}/recruiter/profile" class="btn btn-default btn-flat">Profile </a>
                </div>
                <div class="pull-right">
                  <a href="{{baseUrl}}/recruiter/logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
        </ul>
      </div>
    </nav>
  </header>
  {{!-- modal div --}}

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align-last: center">Register</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>




  <div class="profilepage" id="profilepage">

  </div>