 <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          {{#if sessionData.image}}
          <img src="{{baseUrl}}/images/uploads/{{ sessionData.image}}" class="img-circle" alt="User Image">
          {{else}}
          <img src="{{baseUrl}}/images/uploads/noImage.png" class="img-circle" alt="User Image">

          {{/if}}
        </div>
        <div class="pull-left info">
          <p>{{ sessionData.companyName }}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview {{#if active.dashboard}}active{{/if}}">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{baseUrl}}/recruiter/dashboard"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
          </ul>
        </li>
        
        <li class="treeview {{#if active.adminManuscript}}active{{/if}}">
          <a href="#">
            <i class="fa fa-image"></i> <span>Job Post</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{baseUrl}}/recruiter/jobPosts/job-list"><i class="fa fa-circle-o"></i> Job Post List</a></li>
            <li><a href="{{baseUrl}}/recruiter/jobPosts/addNew"><i class="fa fa-circle-o"></i> Add New Job</a></li>
            <li><a href="{{baseUrl}}/recruiter/jobPosts/companies"><i class="fa fa-circle-o"></i> Post New Job</a></li>

          </ul>
        </li>

        <li class="treeview {{#if active.recruiterManuscript}}active{{/if}}">
          <a href="#">
            <i class="fa fa-image"></i> <span>Job Category</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{baseUrl}}/recruiter/job-category/job-category-list"><i class="fa fa-circle-o"></i> Job Category List</a></li>
            <li><a href="{{baseUrl}}/recruiter/job-category/add"><i class="fa fa-circle-o"></i> Add Job Category</a></li>

          </ul>
        </li>



        <li class="treeview  {{#if active.journal}}active{{/if}}">
          <a href="#">
            <i class="fa fa-book"></i> <span>Job Application</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{baseUrl}}/recruiter/journal/listing"><i class="fa fa-circle-o"></i> Candidate Applied for recent job</a></li>
            <li><a href="{{baseUrl}}/recruiter/job-applications/company/all"><i class="fa fa-circle-o"></i> Applications</a></li>
          </ul>
        </li>
 
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>