    <section class="body_content">
        <div class="commmon_search_zone">
            <div class="container">
              <div class="row">
                  <div class="col-md-8 left_column">
                    <p class="findjob"><span>Search Job Here if you're looking for job</span></p>
                    <form action="{{baseUrl}}/job-list/searched" method="post" id="search_job_form" class="find_job_form">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <input type="text" name="title" id="job_title" class="job_search_input" maxlength="65" placeholder="Job title">
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <input type="text" name="location" id="job_area" class="job_search_input bg_place" maxlength="300" placeholder="City, state">
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit" id="btn_find_job" class="search_job_btn"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Find jobs</button>
                            </div>
                        </div>
                    </form>
                  </div>
                  <div class="col-md-4 right_column">
                        <div class="post_something">
                            <div class="post"><a href="{{baseUrl}}/profile" target="_blank"><i class="fa fa-clipboard" aria-hidden="true"></i>Post your resume</a> <span>Get attention of employers</span></div>
                            <div class="post"><a href="{{baseUrl}}/recruiter/profile" target="_blank"><i class="fa fa-briefcase" aria-hidden="true"></i>Post a job</a> <span>Start hiring</span></div>
                        </div>
                  </div>
              </div>  
            </div>
        </div>

        <div class="search_history">
                <p class="findjob"><span>Recent searches</span></p>
                <div class="job_title_history">
                    <a href="javascript:void(0)">Nurse</a><a href="javascript:void(0)"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
                <div class="job_title_history">
                    <a href="javascript:void(0)">Kolkat, West Bengal</a><a href="javascript:void(0)"><span class="new_jos_count">25 new</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>


    </section>