<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{{title}}}</title>
    <meta name="description" content="Job Portal">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/css/new_frontend/css/bootstrap.css">
    <link rel="stylesheet" href="/css/new_frontend/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/new_frontend/css/select2.css">
    <link rel="stylesheet" href="/css/new_frontend/style.css">
    <link rel="stylesheet" href="/css/new_frontend/css/responsive.css">
    <script src="/css/new_frontend/js/jquery-2.0.2.min.js"></script>
    <script src="/css/new_frontend/js/bootstrap.js"></script>
    <script type="text/javascript" src="/css/new_frontend/js/select2.min.js"></script>
    <script src="/css/new_frontend/js/popper.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

     
    <style>
	
	#userRegistration {
		width: 670px;
	}
	#userRegistration label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
        color: red;
	}
    #userLogin label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
        color: red;
	}

    #get_otp_form label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
        color: red;
	}

    #userNewPassword label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
        color: red;
	}
    #userProfile label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
        color: red;
	}
	
	</style> 
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- Add your site or application content here -->
    <header class="header-area">
        <div class="container h-100">
            <div class="desktop-view-menu-area d-flex align-items-center justify-content-between h-100">
                <div class="header-content">
                    <a href="/" target="_blank"><img src="/css/new_frontend/img/logo1.png" alt="" /></a>
                    <ul class="menu_left_zone">                        
                        <li><a href="{{baseUrl}}/profile">Post Resume</a></li>
                        <li><a href="{{baseUrl}}/job-list">Find job</a></li>
                        <li><a href="{{baseUrl}}/recruiter/profile" >Post job to hire</a></li>
                    </ul>
                </div>
                {{#if sessionData.member_id}} 
                            <div class="profile-button-wrap_edt">
                                <div class="profile-button_edt">

                                    {{#if sessionData.member_image}}
                                        <a href="javascript:void(0)" class="profile-image"><img src="{{baseUrl}}/images/uploads/{{ sessionData.member_image}}"></a>
                                    {{else}}
                                        <a href="javascript:void(0)" class="profile-image"><img src="{{baseUrl}}/images/uploads/noImage.png"></a>

                                    {{/if}}
                                    <a href="javascript:void(0)" class="profile-name">{{sessionData.fname}} {{sessionData.lname}}</a>
                                </div>
                                <ul class="profile-dropdown">
                                    <li><a href="{{baseUrl}}/profile"><span class="profile-dropdown-icon"><i class="fa fa-user" aria-hidden="true"></i></span>My Profile</a></li>
                                    <li><a href="{{baseUrl}}/forgotPassword"><span class="profile-dropdown-icon"><i class="fa fa-lock" aria-hidden="true"></i></span>Change Password</a></li>
                                    <li><a href="javascript:void(0)"><span class="profile-dropdown-icon"><i class="fa fa-cog" aria-hidden="true"></i></span>Settings</a></li>
                                    <li><a href="javascript:void(0)"><span class="profile-dropdown-icon"><i class="fa fa-life-ring" aria-hidden="true"></i></span>Help & Supp</a></li>
                                    <li><a href="{{baseUrl}}/logout"><span class="profile-dropdown-icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>Logout</a></li>
                                </ul>
                            </div>
                            {{else}}
                                <div>
                                    {{!-- <button type="button" class="header_btn" id="btn_header_login">Login</button> --}}
                                    <a href="{{baseUrl}}/login"class="header_btn" id="btn_header_login">Login</a>

                                    {{!-- <button type="button" class="header_btn btn_blue" id="btn_header_login">Register</button> --}}
                                    <a href="{{baseUrl}}/new-registration"class="header_btn btn_blue" id="btn_header_login">Register</a>
                                </div>
                            {{/if}}
            </div>

        </div>
    </header>