                <div class="col-lg-9">
                    <div class="header">
                        <form action="{{baseUrl}}/job-list/searched" method="post">
                            <div class="textSection">
                                <h1 class="findJob">Find Desire Job</h1>
                            </div>                            
                            <div class="form-box">
                                <input type="text" name= "title" value="" class="search-field business" placeholder="Job title">
                                <input type="text" name= "location" value="" class="search-field location" placeholder="Job location">
                                <button class="search-btn" type="submit">Search</button>
                            </div>
                        </form>

                    </div>






                    <div class="joblist_header d-flex align-items-center justify-content-between">
                        <h2>Job Listings</h2>
                        <span>100 Jobs found</span>
                    </div>
                    <div class="single_job ps-relative">
                        <h3>Support Worker Newcastle</h3>
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Newcastle upon Tyne, UK
                            </li>
                            <li><i class="fa fa-database" aria-hidden="true"></i>
                                8.5 -11 Per Hour
                            </li>
                            <li><i class="fa fa-briefcase" aria-hidden="true"></i>
                                Full Time , Part Time , Temporary
                            </li>
                        </ul>
                        <p>Maintain appropriate sensitive, caring and tactful relationships with patients, families.
                            Assist in the implementation of all care
                            Demonstrate a knowledge of care pr...</p>
                        <button class="cmn_btn">View Details</button>
                    </div>
                    <div class="single_job ps-relative">
                        <h3>Support Worker Newcastle</h3>
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Newcastle upon Tyne, UK
                            </li>
                            <li><i class="fa fa-database" aria-hidden="true"></i>
                                8.5 -11 Per Hour
                            </li>
                            <li><i class="fa fa-briefcase" aria-hidden="true"></i>
                                Full Time , Part Time , Temporary
                            </li>
                        </ul>
                        <p>Maintain appropriate sensitive, caring and tactful relationships with patients, families.
                            Assist in the implementation of all care
                            Demonstrate a knowledge of care pr...</p>
                        <button class="cmn_btn">View Details</button>
                    </div>
                    
                    {{#each result}}                   
                    <div class="single_job ps-relative">
                        <h3>{{this.companyName}}</h3>
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>{{this.location}}
                            </li>
                            <li><i class="fa fa-database" aria-hidden="true"></i>
                                8.5 -11 Per Hour
                            </li>
                            <li><i class="fa fa-briefcase" aria-hidden="true"></i>
                                {{this.jobType}}
                            </li>
                        </ul>
                        <p>{{this.title}}...</p>
                       
                        {{#if this.appliedCandidate}}
                        <button type="button" class="btn btn-lg btn-danger" disabled>Already applied</button>
                        {{else}}
                        <a href="/job-list/{{this.jobPost_id}}" class= "btn btn-danger" id="applyBtn">Apply</a>                                                        
                        {{/if}}
                        <button class="cmn_btn" onclick="sendMessage()" >View Details</button>
                        <input type="button" onclick="sendMessage()" value="send message"class ="btn btn-primary">
                    </div>


                    {{/each}}





                    
                    
                </div>

            </div>
        </div>
    </section>


    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <script>
        let socket = io('http://localhost:5000');
        function sendMessage () {
            console.log("send msg.....")
            socket.emit("messageSent",{
                "message":"One new candidate applied"
            })
        }

    </script> --}}
