 <footer class="footer-area">
        <div class="container">
            <div class="footer_cont d-flex justify-content-between align-items-center">
                <p>@Copyright reserved by Broadifi Technologies</p>
                <ul class="social_icon">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>


<script src="/css/new_frontend_design/js/vendor/modernizr-3.5.0.min.js"></script>
    
    <script src="/css/new_frontend_design/js/popper.min.js"></script>
    <script src="/css/new_frontend_design/js/bootstrap.min.js"></script>
    <script src="/css/new_frontend_design/js/wow.min.js"></script>
    <!-- <script src="js/jquery.meanmenu.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/animated-headline.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script> -->
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script> -->
    <script src="/css/new_frontend_design/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
  	<script type="text/javascript"  src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
  
	<script>
    $(document).ready(function(){
        $('.sort_type').click(function(){
            $(this).toggleClass('arrow_up')
            $('.basic_sort_list').toggleClass('open')
        })

        $('.filter_list_edt li').click(function(){
            $(this).toggleClass('close_dropdown')
        })

    })
	</script>
    <script>
        $(window).scroll(function () {
            var scrollTop = $(this).scrollTop();
            $('.banner-bg').css('top', -(scrollTop * 0.3) + 'px');

        });
    </script>
    <script>
        $(window).scroll(function () {
            if ($(window).scrollTop() >= 2) {
                $('.header-area').addClass('fixed-header');
            } else {
                $('.header-area').removeClass('fixed-header');
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".job_filter").click(function () {
                $(".left-menu").addClass("d-block");
            });
            $(".left-menu-closebtn").click(function () {
                $(".left-menu").removeClass("d-block");
            });

        });
    </script>

    {{!-- notification function --}}
	<script>
  function notificationsList() {
    console.log("function in....")
    console.log({{sessionData.member_id}})

    $.ajax({
                type:'GET',
                url: "{{baseUrl}}/notifications/"+{{sessionData.member_id}},
                
                success:function(data){
                  
                  console.log(data);
                  let countnotification = '<span class="bell-badge">'+data.length+'</span></a> '
                  let notifications = '';
                  data.forEach(function(elem) {
                    
                    notifications += '<li onclick = "notificationRead('+elem.memberNotification_id+')">'+elem.message+'<span class="notify_icons"><i class="fa fa-clock-o" aria-hidden="true"></i>'+elem.modified_date+'</span></li>'
                  })
                  
                  $('#notificationList11').html(notifications);
                  $('#notificationCount').html(countnotification);
                }
        
            })

  }


  $(document).ready(function(){
    notificationsList();
    setInterval(function() {
      notificationsList();
        
    }, 100000);

  });

</script>
<script>
    function notificationRead(memberNotification_id) {
        //$('.body-main').toggleClass('body_pop_overlay');
        //$('.msg_modal_box').show('slow')

    $.ajax({
                type:'GET',
                url: "{{baseUrl}}/notifications/read/"+memberNotification_id+"/"+{{sessionData.member_id}},

                success:function(data){
                  
                  console.log(data);
                  let countnotification = '<span class="bell-badge">'+data.length+'</span></a> '
                  let notifications = '';
                  let notificationsDash = '';
                  let modalContent = '';
                  data.forEach(function(elem) {
                    
                    notifications += '<li onclick = "notificationRead('+elem.memberNotification_id+')">'+elem.message+'<span class="notify_icons"><i class="fa fa-clock-o" aria-hidden="true"></i>'+elem.modified_date+'</span></li>'
                  
                    //notificationsDash += '<div class="dashbrd_notify" onclick = "notificationRead('+elem.memberNotification_id+')"><span class="infos">You received a response from <small class="notify_from">'+elem.message+'</small></span><span class="info_time">'+elem.modified_date+'</span></div>'
                    
                    //modalContent = '<p>'+elem.message+'</p>'
                  })
                  
                  $('#notificationList11').html(notifications);
                  $('#notificationCount').html(countnotification);
                  //$('#dashboardNotification').html(notificationsDash);
                  //$('#modalMsg').html(modalContent);



                    
                    

                }
                
    })
    
    
    
    
    
    
    }
</script>



 {{!-- notififation and profile dropdown --}}
      <script>
        $(document).ready(function(){
            $('.profile-button-wrap').click(function(){
                $(this).toggleClass('open-dropdown')
            })
            $('.notification_wrap_edt').click(function(){
                $(this).toggleClass('open-dropdown')
            });
        })
</script>
<script>
	

	$().ready(function() {
		

		// validate signup form on keyup and submit
		$("#userRegistration").validate({
            
			rules: {
				fname: {
					required: true,
					minlength: 2
				},
				lname: {
					required: true,
					minlength: 2
				},
				ph_no:{
					required: true,
					minlength: 10
				},

                
				email: {
					required: true,
					email: true,
                    
				},
				password: {
					required: true,
					minlength: 5
				},
				confirm_password: {
					required: true,
					minlength: 5,
					equalTo: "#password"
				}
				
			},
			messages: {
				fname: {
					required: "Please provide a name",
					minlength: "Your name must be at least 2 characters long"
				},
				fname: {
					required: "Please provide a last name",
					minlength: "Your last name must be at least 2 characters long"
				},
				
				ph_no: {
					required: "Please provide a mobile number",
					minlength: "Your number must be at least 10 digit long"
				},
				password: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long"
				},
				confirm_password: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long",
					equalTo: "Please enter the same password as above"
				},
				email: {
                    required:"Please provide a email address",
                    email:"Please enter a valid email address"
                }

			}
		});

        // validate Login form on keyup and submit
		$("#userLogin").validate({
            
			rules: {
                
				email: {
					required: true,
					email: true,
                    
				},
				password: {
					required: true,
					minlength: 5
				}
				
			},
			messages: {
				
				password: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long"
				},
				
				email: {
                    required:"Please provide a email address",
                    email:"Please enter a valid email address"
                }

			}
		});


        $("#get_otp_form").validate({
            
			rules: {
                
				email: {
					required: true,
					email: true,
                    
				}
				
			},
			messages: {
				
			
				email: {
                    required:"Please provide a email address",
                    email:"Please enter a valid email address"
                }

			}
		});

        $("#userNewPassword").validate({
            
			rules: {
               
				
				password: {
					required: true,
					minlength: 5
				}
                ,
				confirm_password: {
					required: true,
					minlength: 5,
					equalTo: "#password"
				}
				
			},
			messages: {

				password: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long"
				},
                confirm_password: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long",
					equalTo: "Please enter the same password as above"
				}
				

			}
		});

		$("#userProfile").validate({
            
			rules: {
               				
				name: {
					required: true,
					minlength: 2
				}
                
				
				
			},
			messages: {

				name: {
					required: "Name can not be blank",
					minlength: "Name minimum 2 characters long"
				}
				

			}
		});




        
	});
	</script>
<script> 
    // Change the type of input to password or text 
        function Toggle() { 
            var pass = document.getElementById("password"); 
			var con_pass = document.getElementById("confirm_password");  
            if (pass.type === "password" || con_pass === "password") { 
                pass.type = "text";
				con_pass.type = "text";

            } 
            else { 
                 pass.type = "password"; 
				 con_pass.type = "password"; 
            } 
        } 
</script>
<script>
        $(document).ready(function(){
            $('.profile-button-wrap_edt').click(function(){
                $(this).toggleClass('open-dropdown')
            })
        })
</script>

    {{!-- modal open --}}
<script>
    

    function modalfun(value) {
        $('.body_content').toggleClass('body_pop_overlay');
        $('#'+value).show('slow');
    };
    $(".close_job_detail").click(function(){
            $('.open_job_dscr_modal').hide('');
            $('.body_content').toggleClass('body_pop_overlay');
        });
   

</script>
<script>
	 $(document).ready(function(){
            $('#current_page').click(function(){
                $('.page-item-current').addClass('active');
            })
        })
</script>

</body>

<script>
	let valueArr = new Array(1);
	function addUrlParameter(name, value,chk) {
		//localStorage.input = $('#'value).is(':checked');
		valueArr.push(value);

		console.log("chk value..",chk)
		var searchParams = new URLSearchParams(window.location.search)
		if(chk == "true") {
			searchParams.set(name, '')
			console.log(true)
		}else{
			searchParams.set(name, value)
			console.log(false)
		}
  

  
  window.location.search = searchParams.toString()

}

</script>
<script>
	 $(function (){
	//console.log("url..",urlwindow.location.search);
	let searchParams = new URLSearchParams(window.location.search);
	let param = searchParams.get('loc')
	
    var test = localStorage.input === 'true'? true: false;
    $('#'param).prop('checked', test || false);
});

$('#location_filter').on('change', function() {
   localStorage.input = $(this).is(':checked')
    //console.log($(this).is(':checked'));
});
 
</script>

{{!-- search field ajax submit --}}


<script>
    $(window).scroll(function () {
            if ($(window).scrollTop() >= 2) {
                $('.header-area').addClass('fixed-header');
            } else {
                $('.header-area').removeClass('fixed-header');
            }
        });
</script>
{{!-- modal show --}}

{{!-- job list check box --}}


</html>