<footer class="footer-area">
            <div class="footer_cont d-flex justify-content-between align-items-center">
                <p>@Copyright reserved by Broadifi Technologies</p>
                <ul class="social_icon">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </footer>


    </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>


    <script>
        $(document).ready(function(){
          $(".menu-btn").click(function () {
                $(".wrapper").toggleClass('sidebar_hide')
                $('.body_overlay').addClass('show_overlay')
                $('nav').addClass('show_nav')
            });
          $('.body_overlay').click(function(){
            $(this).removeClass('show_overlay')
            $('nav').removeClass('show_nav')
             $(".wrapper").removeClass('sidebar_hide')
          })
        })
    </script>


    <script>
        $(document).ready(function(){
            $('.profile-button-wrap').click(function(){
                $(this).toggleClass('open-dropdown')
            });
            $('.notification-wrap').click(function(){
                $(this).toggleClass('open-dropdown')
            });
        });
    </script>

    <script>
        $(document).ready(function(){
            $("#e1").select2();
        });
    </script>

    <script>
        $(document).ready(function(){
            $('.profile-button-wrap_edt').click(function(){
                $(this).toggleClass('open-dropdown')
            })
        })
    </script>

    {{!-- notification function --}}
    <script>
  function notificationsList() {
    console.log("function in....")
    console.log({{sessionData.member_id}})

    $.ajax({
                type:'GET',
                url: "{{baseUrl}}/notifications/"+{{sessionData.member_id}},
                
                success:function(data){
                  
                  console.log(data);
                  let countnotification = '<span class="bell-badge">'+data.length+'</span></a> '
                  let notifications = '';
                  data.forEach(function(elem) {
                    
                    notifications += '<li><a href="{{baseUrl}}/notifications/read/'+elem.memberNotification_id+'">'+elem.message+'</a><span class="notify_icons"><i class="fa fa-clock-o" aria-hidden="true"></i>'+elem.modified_date+'</span></li>'
                  })
                  
                  $('#notificationList11').html(notifications);
                  $('#notificationCount').html(countnotification);

                    
                    

                }
            
            
            
            
            })

  }


  $(document).ready(function(){
    notificationsList();
    setInterval(function() {
      notificationsList();
        
    }, 100000);

  });

    </script>


    <script>
        $(document).ready(function(){
          $(".menu-btn").click(function () {
                $(".wrapper").toggleClass('sidebar_hide')
                $('.body_overlay').addClass('show_overlay')
                $('nav').addClass('show_nav')
            });
          $('.body_overlay').click(function(){
            $(this).removeClass('show_overlay')
            $('nav').removeClass('show_nav')
             $(".wrapper").removeClass('sidebar_hide')
          })

          $('.basic_info_fld.state_fld').click(function(){
            $('.state_dropdown').toggleClass('open')
          })
          $('.basic_info_fld.state_fld_1').click(function(){
            $('.state_dropdown_1').toggleClass('open')
          })
          $('.basic_info_fld.country_fld').click(function(){
            $('.country_dropdown').toggleClass('open')
          })
          $('.basic_info_fld.country_fld_1').click(function(){
            $('.country_dropdown_1').toggleClass('open')
          })
          $('.basic_info_fld.city_fld_1').click(function(){
            $('.city_dropdown_1').toggleClass('open')
          })
          $('.basic_info_fld.city_fld').click(function(){
            $('.city_dropdown').toggleClass('open')
          })
            });      
    </script>

    {{!-- chart script --}}
      <script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        animationEnabled: true,
        data: {
            labels: ['All applications', 'Waiting for response', 'Response'],
            datasets: [{
                label: '',
                data: [{{appliesCount.totalApplications}}, {{appliesCount.pendingApplications}},{{appliesCount.selectApplications}} ],
                backgroundColor: [
                    '#ee3115',
                    '#ffd529',
                    '#00c46f'
                ]
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>

    {{!-- Notification Function --}}
    <script>
  function notificationsList() {

    $.ajax({
                type:'GET',
                url: "{{baseUrl}}/notifications/"+{{sessionData.member_id}},
                
                success:function(data){
                  
                  console.log(data);
                  let countnotification = '<span class="bell-badge">'+data.length+'</span></a> '
                  let notifications = '';
                  let notificationsDash = '';
                  let modalContent = '';
                  data.forEach(function(elem) {
                    
                    notifications += '<li onclick = "notificationRead('+elem.memberNotification_id+')">'+elem.message+'<span class="notify_icons"><i class="fa fa-clock-o" aria-hidden="true"></i>'+elem.modified_date+'</span></li>'
                  
                    notificationsDash += '<div class="dashbrd_notify" onclick = "notificationRead('+elem.memberNotification_id+')"><span class="infos">You received a response from <small class="notify_from">'+elem.message+'</small></span><span class="info_time">'+elem.modified_date+'</span></div>'
                    
                    modalContent = '<p>'+elem.message+'</p>'
                  })
                  
                  $('#notificationList11').html(notifications);
                  $('#notificationCount').html(countnotification);
                  $('#dashboardNotification').html(notificationsDash);
                  $('#modalMsg').html(modalContent);
                    
                    

                }
            
            
            
            
            })

  }


  $(document).ready(function(){
    notificationsList();
    setInterval(function() {
      notificationsList();
        
    }, 100000);

  });

</script>
<script>
    function notificationRead(memberNotification_id) {
        //$('.body-main').toggleClass('body_pop_overlay');
        //$('.msg_modal_box').show('slow')

    $.ajax({
                type:'GET',
                url: "{{baseUrl}}/notifications/read/"+memberNotification_id+"/"+{{sessionData.member_id}},

                success:function(data){
                  
                  console.log(data);
                  let countnotification = '<span class="bell-badge">'+data.length+'</span></a> '
                  let notifications = '';
                  let notificationsDash = '';
                  let modalContent = '';
                  data.forEach(function(elem) {
                    
                    notifications += '<li onclick = "notificationRead('+elem.memberNotification_id+')">'+elem.message+'<span class="notify_icons"><i class="fa fa-clock-o" aria-hidden="true"></i>'+elem.modified_date+'</span></li>'
                  
                    notificationsDash += '<div class="dashbrd_notify" onclick = "notificationRead('+elem.memberNotification_id+')"><span class="infos">You received a response from <small class="notify_from">'+elem.message+'</small></span><span class="info_time">'+elem.modified_date+'</span></div>'
                    
                    modalContent = '<p>'+elem.message+'</p>'
                  })
                  
                  $('#notificationList11').html(notifications);
                  $('#notificationCount').html(countnotification);
                  $('#dashboardNotification').html(notificationsDash);
                  $('#modalMsg').html(modalContent);



                    
                    

                }
                
    })
    
    
    
    
    
    
    }
</script>

    {{!-- Notification Modal --}}

<script>
  $('.clr_modal_box').click(function(){
                $('.msg_modal_box').hide()
                $('.body-main').toggleClass('body_pop_overlay');
            })
</script>

    {{!-- body nav bar --}}
        <script>
        $(document).ready(function(){
          $(".menu-btn").click(function () {
                $(".wrapper").toggleClass('sidebar_hide')
                $('.body_overlay').addClass('show_overlay')
                $('nav').addClass('show_nav')
            });
          $('.body_overlay').click(function(){
            $(this).removeClass('show_overlay')
            $('nav').removeClass('show_nav')
             $(".wrapper").removeClass('sidebar_hide')
          })
        })
    </script>
    {{!-- data table --}}

    <script>
      $(document).ready( function () {
    $('#historyTable').DataTable();
} );
    </script>

    {{!-- for History page --}}
        <script>
        $(document).ready(function(){
            var url = window.location.pathname, 
            urlRegExp = new RegExp(url.replace(/\/$/,'') + "$"); // create regexp to match current url pathname and remove trailing slash if present as it could collide with the link in navigation in case trailing slash wasn't present there
        // now grab every link from the navigation
            $('.accordion li a').each(function(){
            // and test its normalized href against the url pathname regexp
            if(urlRegExp.test(this.href.replace(/\/$/,''))){
                $(this).parent('li').addClass('active');
            }
        });
        })
    </script>

    <script>
        $(document).ready(function(){
            $('.company_notification').click(function(){
                $(this).toggleClass('open')
            })
        })
    </script>

    <script>
        $(document).ready(function(){
            $('.has-dropdown').click(function(){
                $('.sub-menu').toggleClass('show-sub-menu')
                $('.has-dropdown a').toggleClass('active')
            });
        });
    </script>
   
    <script>
        $(function () {
        $('#Mytab li a[href="#recent_srch"]').tab('show')
        })
    
    </script>

    
    <script>
    function modalfun(value) {
        $('.body-main').toggleClass('body_pop_overlay');
        $('#'+value).show('slow');
    };
    $(".close_job_detail").click(function(){
            $('.open_job_dscr_modal').hide('');
            $('.body-main').toggleClass('body_pop_overlay');
        });
   

</script>
    
    </body>

</html>   