<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{{title}}}</title>
    <meta name="description" content="Job Portal">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/css/new_frontend/css/bootstrap.css">
    <link rel="stylesheet" href="/css/new_frontend/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/new_frontend/css/select2.css">
    <link rel="stylesheet" href="/css/new_frontend/style.css">
    <link rel="stylesheet" href="/css/new_frontend/css/responsive.css">
    <script src="/css/new_frontend/js/jquery-2.0.2.min.js"></script>
    <script src="/css/new_frontend/js/bootstrap.js"></script>
    <script type="text/javascript" src="/css/new_frontend/js/select2.min.js"></script>
    <script type="text/javascript" src="/css/new_frontend/js/Chart.min.js"></script>
    <script src="/css/new_frontend/js/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script> 

     
    <style>
	
	#userRegistration {
		width: 670px;
	}
	#basic_info_form label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
        color: red;
	}
    #basic_info_form2 label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
        color: red;
	}
    #userLogin label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
        color: red;
	}

    #userForgotPassword label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
        color: red;
	}

    #userNewPassword label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
        color: red;
	}
    #userProfile label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
        color: red;
	}
	.previous-tab,
    .next-tab{
	display: inline-block;
	border: 1px solid #444348;
	border-radius: 3px;
	margin: 5px;
	color: #444348;
	font-size: 14px;
	padding: 10px 15px;
	cursor: pointer;
}
     {{!-- country field style --}}

 .autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}




	</style> 
</head>

<body>
    <div class="wrapper">
        {{!-- sidebar --}}
        <nav id="sidebar">
            <a href="javascript:void(0)" class="logo_laptop"><img src="/css/new_frontend/img/logo1.png"></a>
            <ul class="accordion">
                <li><a href="{{baseUrl}}/dashboard"><span><i class="fa fa-tachometer" aria-hidden="true"></i></span>Dashboard</a></li>
                <li><a href="{{baseUrl}}/profile"><span><i class="fa fa-user" aria-hidden="true"></i></span>My Profile</a></li>
                <li><a href="{{baseUrl}}/history"><span><i class="fa fa-history" aria-hidden="true"></i></span>History</a></li>
                <li><a href="{{baseUrl}}/wishlist"><span><i class="fa fa-bookmark" aria-hidden="true"></i></span>My job</a></li>
            </ul>
        </nav>
        <div class="body-right">
            <header>
                <div class="container-fuild">
                    <div class="row">
                        <div class="col-md-3 col-xs-3">
                            <a href="#" class="menu-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                        <div class="col-md-9 col-xs-3 text-right">



                            {{#if sessionData.member_id}} 
                            <div class="profile-button-wrap_edt">
                                <div class="profile-button_edt">

                                    {{#if sessionData.member_image}}
                                        <a href="javascript:void(0)" class="profile-image"><img src="{{baseUrl}}/images/uploads/{{ sessionData.member_image}}"></a>
                                    {{else}}
                                        <a href="javascript:void(0)" class="profile-image"><img src="{{baseUrl}}/images/uploads/noImage.png"></a>

                                    {{/if}}
                                    <a href="javascript:void(0)" class="profile-name">{{sessionData.fname}} {{sessionData.lname}}</a>
                                </div>
                                <ul class="profile-dropdown">
                                    <li><a href="{{baseUrl}}/profile"><span class="profile-dropdown-icon"><i class="fa fa-user" aria-hidden="true"></i></span>My Profile</a></li>
                                    <li><a href="{{baseUrl}}/forgotPassword"><span class="profile-dropdown-icon"><i class="fa fa-lock" aria-hidden="true"></i></span>Change Password</a></li>
                                    <li><a href="{{baseUrl}}/logout"><span class="profile-dropdown-icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>Logout</a></li>
                                </ul>
                            </div>
                            {{/if}}

                            <div class="notification-wrap pull-right">
                                <div class="notifictaion-button">
                                   <a href="#" class="bell" onclick = "notificationsList()">
                                       <i class="fa fa-bell-o" aria-hidden="true"></i>
                                       <span class="bell-badge"id="notificationCount"></span></a> 
                                </div>
                                <ul class="notifictaion_dropdown">
                                    <li id="notificationList11">
                                        <a href="javascript:void(0)" target="_blank" class="notifictaion">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,</a>
                                        <span class="notify_icons"><i class="fa fa-clock-o" aria-hidden="true"></i>10th Jan, 2020 - 10:00 am</span>
                                    </li>
                                    
                                </ul>
                            </div>


                            <div class="header-content">
                                <ul class="menu_left_zone">                        
                                    <li><a href="{{baseUrl}}/job-list">Find job</a></li>
                                    <li><a href="{{baseUrl}}/recruiter/profile" >Post job to hire</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            
        

