<html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{{title}}}</title>
    <meta name="description" content="Job Portal">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Place favicon.ico in the root directory -->

    <!-- all-css-here -->
    <link rel="stylesheet" href="/css/new_frontend_design/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/new_frontend_design/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <link rel="stylesheet" href="css/animated-headline.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css"> -->
    <link rel="stylesheet" href="/css/new_frontend_design/css/style.css">
    <link rel="stylesheet" href="/css/new_frontend_design/css/responsive.css">
    <script src="/css/new_frontend_design/js/vendor/jquery-3.3.1.min.js"></script>

  
    <style>
	
	#userRegistration {
		width: 670px;
	}
	#userRegistration label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
        color: red;
	}
    #userLogin label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
        color: red;
	}

    #userForgotPassword label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
        color: red;
	}

    #userNewPassword label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
        color: red;
	}
    #userProfile label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
        color: red;
	}
	
	</style>
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- Add your site or application content here -->
  
      <header class="header-area">
        <div class="container h-100">
            <div class="desktop-view-menu-area d-flex align-items-center justify-content-between h-100">
                <a class="logo1" href="{{baseUrl}}/"><img src="{{baseUrl}}/images/uploads/logo1.jpg" alt="" /></a>
                {{!-- <button class="cmn_btn">Visit the website</button> --}}
              
                  {{#if sessionData.member_id}} 
                        <div>
                            {{#if sessionData.member_image}}
                                <img style="max-width:54px; margin-left: 8px; margin-bottom: 1px;" src="{{baseUrl}}/images/uploads/{{ sessionData.member_image}}" class="user-image" alt="User Image">

                            {{else}}
                                <img class= "logo1" src="{{baseUrl}}/images/uploads/noImage.png" class="user-image" alt="User Image">

                            {{/if}}
                            {{!-- <img style="max-width:54px; margin-left: 8px; margin-bottom: 1px;" src="{{baseUrl}}/images/uploads/{{ sessionData.image}}" class="user-image" alt="User Image"> --}}
                            
                            <a href="{{baseUrl}}/logout" class="btn btn-danger">Log Out</a>
                            <a href="{{baseUrl}}/profile" class="btn btn-success">Profile</a>
                        </div>                   
                      

                    {{else}} 
                        <div>
                            <img class= "logo1" src="{{baseUrl}}/images/uploads/noImage.png" class="user-image" alt="User Image">

                            <a href="{{baseUrl}}/login" class="btn btn-success" >Log In  </a>
                            <a href="{{baseUrl}}/new-registration" class="btn btn-primary" >New Register</a>
                        </div>                 
                      

                      <a href="{{baseUrl}}/recruiter/login" class="cmn_btn" >I am a Recruter</a>


                    {{/if}}
                

            </div>

        </div>
    </header>

    
    
    
    <script>
        $(window).scroll(function () {
            var scrollTop = $(this).scrollTop();
            $('.banner-bg').css('top', -(scrollTop * 0.3) + 'px');

        });
    </script>
    <script>
        $(window).scroll(function () {
            if ($(window).scrollTop() >= 2) {
                $('.header-area').addClass('fixed-header');
            } else {
                $('.header-area').removeClass('fixed-header');
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".job_filter").click(function () {
                $(".left-menu").addClass("d-block");
            });
            $(".left-menu-closebtn").click(function () {
                $(".left-menu").removeClass("d-block");
            });

        });
    </script>
