</body>
</html>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"> </script>
<script>

    $( document ).ready(function() {
        get_searched_value();
    });

    function  get_searched_value(){
        
       $.get("{{baseUrl}}/journal/homePageJournal")
            .done(function (data) {
                if(data[0].issue=="winter"){
                    var issue= "Autumn Issue"
                    var journal_no= 2;
                }else{
                    var issue= "Spring Issue"
                    var journal_no= 1;
                }
                 var volume= data[0].year - 2009;

                var currentJournal='Vol.'+volume+' '+'No.'+journal_no+' '+issue+' '+data[0].year ;                
                //var currentJournal='Vol.'+data[0].volume+' '+'No.'+data[0].journal_no+' '+issue+' '+data[0].year ;
                
                //document.getElementById("issue").innerHTML = currentJournal;

                //var lastest_issue= '<a href="{{baseUrl}}/journal/CurrentJournalReadMore?journal_id='+data[0].journal_id+'" style="color: black;"><span id="issue">'+currentJournal+'</span></a>';

                var lastest_issue= '<a href="{{baseUrl}}/journal/currentJournal" style="color: black;"><span id="issue">'+currentJournal+'</span></a>';
                document.getElementById("lastest_issue").innerHTML = lastest_issue;


            });
    }

  </script>