<!-- banner-area-start -->
    <section class="banner">
        <div class="banner-bg" style="background-image:url(img/banner.png);">
            <div class="banner-overlay">
                <div class="banner-content d-flex align-items-center flex-column justify-content-center">
                    <h1>Job Portal</h1>
                    <p>Find Your Future Here</p>
                </div>

            </div>
        </div>
    </section>
<!-- banner-area-end -->