<footer class="footer-area">
        <div class="container">
            <div class="footer_cont d-flex justify-content-between align-items-center">
                <p>@Copyright reserved by Broadifi Technology</p>
                <ul class="social_icon">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- all-js-here -->
    <script src="/css/new_frontend_design/js/vendor/modernizr-3.5.0.min.js"></script>
    
    <script src="/css/new_frontend_design/js/popper.min.js"></script>
    <script src="/css/new_frontend_design/js/bootstrap.min.js"></script>
    <script src="/css/new_frontend_design/js/wow.min.js"></script>
    <!-- <script src="js/jquery.meanmenu.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/animated-headline.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script> -->
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script> -->
    <script src="/css/new_frontend_design/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script>
        $(window).scroll(function () {
            var scrollTop = $(this).scrollTop();
            $('.banner-bg').css('top', -(scrollTop * 0.3) + 'px');

        });
    </script>
    <script>
        $(window).scroll(function () {
            if ($(window).scrollTop() >= 2) {
                $('.header-area').addClass('fixed-header');
            } else {
                $('.header-area').removeClass('fixed-header');
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".job_filter").click(function () {
                $(".left-menu").addClass("d-block");
            });
            $(".left-menu-closebtn").click(function () {
                $(".left-menu").removeClass("d-block");
            });

        });
    </script>
    
   
<script>
	

	$().ready(function() {
		

		// validate signup form on keyup and submit
		$("#userRegistration").validate({
            
			rules: {
                
				email: {
					required: true,
					email: true,
                    
				},
				password: {
					required: true,
					minlength: 5
				},
				confirm_password: {
					required: true,
					minlength: 5,
					equalTo: "#password"
				}
				
			},
			messages: {
				
				password: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long"
				},
				confirm_password: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long",
					equalTo: "Please enter the same password as above"
				},
				email: {
                    required:"Please provide a email address",
                    email:"Please enter a valid email address"
                }

			}
		});

        // validate Login form on keyup and submit
		$("#userLogin").validate({
            
			rules: {
                
				email: {
					required: true,
					email: true,
                    
				},
				password: {
					required: true,
					minlength: 5
				}
				
			},
			messages: {
				
				password: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long"
				},
				
				email: {
                    required:"Please provide a email address",
                    email:"Please enter a valid email address"
                }

			}
		});


        $("#userForgotPassword").validate({
            
			rules: {
                
				email: {
					required: true,
					email: true,
                    
				}
				
			},
			messages: {
				
			
				email: {
                    required:"Please provide a email address",
                    email:"Please enter a valid email address"
                }

			}
		});

        $("#userNewPassword").validate({
            
			rules: {
               
				
				password: {
					required: true,
					minlength: 5
				}
                ,
				confirm_password: {
					required: true,
					minlength: 5,
					equalTo: "#password"
				}
				
			},
			messages: {

				password: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long"
				},
                confirm_password: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long",
					equalTo: "Please enter the same password as above"
				}
				

			}
		});

		$("#userProfile").validate({
            
			rules: {
               				
				name: {
					required: true,
					minlength: 2
				}
                
				
				
			},
			messages: {

				name: {
					required: "Name can not be blank",
					minlength: "Name minimum 2 characters long"
				}
				

			}
		});




        
	});
	</script>
<script> 
    // Change the type of input to password or text 
        function Toggle() { 
            var pass = document.getElementById("password"); 
			var con_pass = document.getElementById("confirm_password");  
            if (pass.type === "password" || con_pass === "password") { 
                pass.type = "text";
				con_pass.type = "text";

            } 
            else { 
                 pass.type = "password"; 
				 con_pass.type = "password"; 
            } 
        } 
</script>









</body>

</html>