<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {{!-- <meta charset="utf-8"> --}}
    <meta name="title" content="Job portal">
    <meta name="description" content="The Indian Journal of Spatial Science (IJSS) is a Peer-Reviewed/Refereed open access journal with all the content published under free licenses.">
    <meta name="keywords" content="The Indian Journal of Spatial Science, indian society of spatial science, IJSS, journal">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Prof. Ashis Sarkar">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="/css/frontend/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/frontend/css/style.css">
      {{!-- recaptha --}}
      <script src='https://www.google.com/recaptcha/api.js'></script>

    <title>{{{title}}} </title>
  </head>
  <body>
     <!--headr top-->   
    <div class="container">
        <header class="headrwrap">
            <div class="row justify-content-md-center">
            

            <div class="col-5 col-sm-2 pl-0">
                {{!-- <div class="headrbach"> <img src="{{baseUrl}}/images/frontend/heade_bach.jpg"  alt=""></div> --}}
                <div class="loginbutton_wrap">
                  {{#if sessionData.member_id}}                    
                      <img style="max-width:54px; margin-left: 8px; margin-bottom: 1px;" src="{{baseUrl}}/images/uploads/{{ sessionData.member_image}}" class="user-image" alt="User Image">
                      <a href="{{baseUrl}}/logout" class="login" style="padding: 0px 9px; margin-bottom: 1px;" >Log Out</a>
                      <a href="{{baseUrl}}/profile" class="register" style="padding: 0px 9px;">Profile</a>

                    {{else}}                  
                      <a href="{{baseUrl}}/login" class="login" >Log In  </a>
                      <a href="{{baseUrl}}/registration" class="register" >Register</a>

                    {{/if}}
                </div>
                
            </div>
            <div class="add-job-button">
                      <a href="{{baseUrl}}/jobposts/company-details" class="btn btn-info" >Employee's Add Job</a>

                </div>
            {{!-- <div class="d-block d-sm-none mt-1 col-sm-8 justify-content-md-center">
              <img src="{{baseUrl}}/images/frontend/rotated_img.gif" alt="">
            </div> --}}
          
        </header>
    </div>
      
      
      


<script>
document.getElementById("time").innerHTML = formatAMPM();

function formatAMPM() {
var d = new Date(),
    minutes = d.getMinutes().toString().length == 1 ? '0'+d.getMinutes() : d.getMinutes(),
    hours = d.getHours().toString().length == 1 ? '0'+d.getHours() : d.getHours(),
    ampm = d.getHours() >= 12 ? 'pm' : 'am',
    months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
    days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];
return days[d.getDay()]+' '+months[d.getMonth()]+' '+d.getDate()+' '+d.getFullYear()+' '+'IST '+' '+hours+':'+minutes+ampm;
}
</script>



