

{{!-- main content start --}}
<section class="main-content">
        <div class="container">
            <div class="row">
                {{!-- sidebar portion start --}}
                <div class="col-lg-3">
                    <div class="left-menu">
                        <div class="left-menu-cont">
                            <a class="left-menu-closebtn" href="#"><i class="fa fa-close"></i></a>
                            <h3 class="left-menu-title">Location</h3>
                            <ul class="left-menu-checkboxlist">
                                <li>
                                    <label class="chekbox-container">kolkata
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                
                            </ul>
                            <h3 class="left-menu-title">Job Role</h3>
                            <ul class="left-menu-checkboxlist">
                                <li>
                                    <label class="chekbox-container">kolkata
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                
                            </ul>
                            <h3 class="left-menu-title">Job Type</h3>
                            <ul class="left-menu-checkboxlist">
                                <li>
                                    <label class="chekbox-container">kolkata
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                
                            </ul>
                        </div>
                    </div>






                </div>









