 {{>frontend_header}}
     
      <section class="inner_page" >
        <div class="container">
            <div class="row">
                
                <div class="col-sm-12">
                    <h2>Contact Us</h2> 
                    <p><strong>Prof Ashis Sarkar</strong></p> 
                    <p>
                        Managing Editor and Publisher, The Indian Journal of Spatial Science
                        Ex-Professor WBSES and HOD: Presidency College/ University, Chandernagore College, West Bengal. </p> 

                    <table>
                        <tr>
                            <td data-tab="Sumangal">Sumangal</td>
                        </tr>
                         <tr>
                            <td data-tab="47 Bosepara Road">47 Bosepara Road</td>
                        </tr>
                        <tr>
                            <td data-tab="P.O. – Chandannagar,">P.O. – Chandannagar,</td>
                        </tr>
                        <tr>
                            <td data-tab="Dist. – Hooghly">Dist. – Hooghly</td>
                        </tr>
                        <tr>
                            <td data-tab="West Bengal, India">West Bengal, India</td>
                        </tr>
                        <tr>
                            <td data-tab="PIN – 712 136">PIN – 712 136</td>
                        </tr>
                        <tr>
                            <td data-tab="47 Bosepara Road">Phone No.</td>
                            <td data-tab="47 Bosepara Road">+91 98 3655 2173</td>
                        </tr>
                        <tr>
                            <td data-tab="e–mail address:">e–mail address:</td>
                            <td data-tab="e–mail address:">editorijss2012@gmail.com, profdrashis@gmail.com</td>
                        </tr>
                    </table><br>



                    <p><strong>Dr. Priyan Pravin Patel</strong></p> 

                    <table>
                        <tr>
                            <td data-tab="Secretary: ">Secretary: </td>
                            <td data-tab="Secretary: ">Indian Society of Spatial Scientists</td>
                        </tr>
                         <tr>
                            <td data-tab="Assistant Professor:">Assistant Professor:</td>
                            <td data-tab="Assistant Professor:">Presidency University, West Bengal</td>
                        </tr>
                        <tr>
                            <td data-tab="Phone No. ">Phone No. </td>
                            <td data-tab="Phone No. ">Presidency University, West Bengal</td>
                        </tr>
                        
                    </table>
                    <br>

                    <p><strong>Ms Indrita Saha</strong></p> 

                    <table>
                        <tr>
                            <td data-tab="Assistant Secretary:">Assistant Secretary:</td>
                            <td data-tab="Assistant Secretary:">Indian Society of Spatial Scientists</td>
                        </tr>
                         <tr>
                            <td data-tab="Assistant Professor, WBES:">Assistant Professor, WBES:</td>
                            <td data-tab="Assistant Professor, WBES:">Krishnanagar Govt. College, West Bengal</td>
                        </tr>
                        <tr>
                            <td data-tab="Phone No. ">Phone No. </td>
                            <td data-tab="Phone No. ">+91 96811 06269</td>
                        </tr>
                        <tr>
                            <td data-tab="e–mail address:">e–mail address:</td>
                            <td data-tab="e–mail address:">indrita.saha@gmail.com </td>
                        </tr>
                    </table>
                    <br>

                    <p><strong>Ms Rupa Sarkar</strong></p> 

                    <table>
                        <tr>
                            <td data-tab="Assistant Teacher: ">Assistant Teacher: </td>
                            <td data-tab="Assistant Teacher: ">St. Joseph’s Convent, Chandernagore, West Bengal</td>
                        </tr>
                         <tr>
                            <td data-tab="Treasurer: ">Treasurer: </td>
                            <td data-tab="Treasurer: ">Indian Society of Spatial Scientists</td>
                        </tr>
                        <tr>
                            <td data-tab="Phone No. ">Phone No. </td>
                            <td data-tab="Phone No. ">+91 98 3071 8783</td>
                        </tr>
                        <tr>
                            <td data-tab="e–mail address:">e–mail address:</td>
                            <td data-tab="e–mail address:">ruparoysarkar@gmail.com</td>
                        </tr>
                    </table>
                </div>
            
            </div>
       </div>   
      </section>

{{>frontend_footer}}
      
<style>
  .email_color{color:blue}
  .dtls{margin-left: 10px}
   table td, table th{ vertical-align: top;  }
</style>