
{{>frontend_header_new}}


        <div class="body-main">
                <div class="body-heading">
                    <span>Dashboard</span>
                </div>
                <div class="body-content">
                    <div class="row">
                        <div class="col-md-8 dashboard_left_zone">
                            <div class="dashboard_top">
                                <h3 class="ovrvw_hd">Overview</h3>
                                <div class="dashbrd_boxzone">
                                    <div class="top_grid">
                                        <b class="tick"><i class="fa fa-check" aria-hidden="true"></i></b><a href="javascript:void(0)">Job applied
                                        <span class="no_ofjob">{{appliesCount.totalApplications}}</span></a>
                                    </div>
                                    <div class="top_grid bg_grn">
                                        <b class="tick bg_yl"><i class="fa fa-heart-o" aria-hidden="true"></i></b><a href="javascript:void(0)">Saved job
                                        <span class="no_ofjob sv">{{saveJobsCount}}</span></a>
                                    </div>
                                </div>
                            </div> 
                            <div class="dashbrd_btm">
                                <h3 class="status_bar_hd">Status &nbsp;<i class="fa fa-bar-chart" aria-hidden="true"></i></h3>
                                <div class="graphical_status">
                                    
                                    <canvas id="myChart"></canvas>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="col-md-4 col-xs-12">
                            <div class="dashbrd_rightzone">
                                <div id="dashboardNotification">
                                <div class="dashbrd_notify">
                                    <span class="infos">You received a response from <small class="notify_from">Webtechnologies pvt. ltd.</small></span>
                                    <span class="info_time">7 hours ago</span>
                                </div>
                                <div class="dashbrd_notify">
                                    <span class="infos">You received a response from <small class="notify_from">Abcd Infotech pvt. ltd.</small></span>
                                    <span class="info_time">57 minutes ago</span>
                                </div>
                                <div class="dashbrd_notify">
                                    <span class="infos">You received a response from <small class="notify_from">Abcd Infotech pvt. ltd.</small></span>
                                    <span class="info_time">10 days ago</span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>

                <!--dashboard notification open modal box start-->
                <div class="msg_modal_box" id="modalMsg">
                    <div id="modalMsg">
                        <p></p>
                    </div>
                    <a href="javascript:void(0)" class="clr_modal_box"><i class="fa fa-times" aria-hidden="true"></i></a>
                    <h4>Webtechnologies pvt. ltd.</h4>
                    <p >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>

                </div>
                <!--dashboard notification open modal box end-->
            </div>
            </div>

{{>frontend_profile_footer}}            
