 {{>frontend_header}}
 {{>frontend_banner}}

      <!--navigation end-->
      
      <section class="main-content">
        <div class="container">
          <div class="row">
             
              <div class="col-sm-12">
                   <h2>Forgot Password</h2>
                   {{#if success}}
                    <section class="success">
                        {{#each success}}
                            <div class="col-md-6">
                                <div class="alert alert-success alert-dismissible">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{this.msg}}
                                </div>
                            </div>
                        {{/each}} 
                    </section>
                {{else}}
                {{#if errors}}
                    <section class="error" >                        
                        {{#each errors}}
                            <div class="col-md-6">
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{this.msg}}
                            </div>
                            </div>
                        {{/each}}                        
                    </section>
                {{/if}}
                {{/if}}
                
              <form method="post" class = "userForgotPassword" id = "userForgotPassword"  action="{{baseUrl}}/forgotPassword">
                <div class="box-body">
                    <div class="row clearfix">     

                        <div class="col-md-6">
                            
                            <label for="email" class="control-label">Email</label>
                            <div class="form-group">
                                <input type="text" name="email" value="" class="form-control" id="email" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="box-footer" id="submit">
                    <button type="submit" class="btn btn-success edt"> Submit </button>
                </div>
                </form>
                 
                </div>
          </div>
       </div>   
      </section>
      
{{>frontend_footer}}
      