 {{>frontend_header_basic}}

    <section class="body_main">
        <div class="container">
            <div class="register">
                <span class="register-form-head">Reset Password</span>
                <div class="hr-line">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <form  action="{{baseUrl}}/forgotPassword" method="post" class="login_form" id="get_otp_form">
                    
                    <div class="row">
                        <div class="col-md-12">
                            {{#if success}}
                                <section class="success">
                                    {{#each success}}
                                        <div class="col-md-6">
                                            <div class="alert alert-success alert-dismissible">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                {{this.msg}}
                                            </div>
                                        </div>
                                    {{/each}} 
                                </section>
                            {{else}}
                            {{#if errors}}
                                <section class="error" >                        
                                    {{#each errors}}
                                        <div class="col-md-6">
                                        <div class="alert alert-danger alert-dismissible">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            {{this.msg}}
                                        </div>
                                        </div>
                                    {{/each}}                        
                                </section>
                            {{/if}}
                            {{/if}}
                        </div>
                        <div class="col-md-12">
                            <label for="otp_mail" class="otp-mail">Enter your Email Id to get the OTP in your inbox</label>
                            <input type="email" name="email" id="email" value="" class="register-field">
                            <span class="text-danger"></span>
                        </div>
                        <div class="button-wrap">
                            <button type="submit" class="btn-register" id="get_otp">Send this email id</button>
                        </div>
                    </div>
                </form>
            </div>
         </div>   
    </section>




 {{>frontend_footer_basic}}