
{{>frontend_header_new}}
<div class="body-main">
                <div class="body-heading">
                    <span>History</span>
                </div>
                <div class="body-content">
                    <div class="body-nav history_nav">
                        <ul class="nav nav-tabs" id="Mytab" role="tablist">
                            <li><a href="#recent_srch" aria-controls="recent_srch" data-toggle="tab" role="tab" aria-selected="true" id="recent_srch_tab" class="body-nav-check">Recent</a></li>
                            <li><a href="#past_srch" aria-controls="past_srch" data-toggle="tab" role="tab" aria-selected="false" id="past_srch_tab" class="body-nav-check">Past</a></li>
                        </ul>
                    </div>
                    <div class="history_body">
                        <div class="tab-content">

                            <div class="tab-pane recent_history_body" id="recent_srch" role="tabpanel" aria-labelledby="recent_srch_tab">
                                <div class="gotojoblist">
                                    <!--<h4>Review your searches <i class="fa fa-hand-o-down" aria-hidden="true"></i></h4>-->
                                    <form action="{{baseUrl}}/job-list/searched" method="post" class="jobsearchbar">
                                      <input type="text" placeholder="Job Title" name="title" id="title" class="searchjob" value="">
                                      <input type="hidden" placeholder="Job Location" name="location" id="location" class="searchjob" value="">

                                      <button type="submit" class="btn_srch" id="search_myjob"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                                

                                {{#each activeApplications}}
                                <div class="srch_list_zone_rcnt">
                                    <a href="javascript:void(0)" class="company_notification"><img src="img/mail2.png">
                                        <span class="msg_badge">3</span>
                                        <div class="company_alert">
                                            <span class="msg_from_company">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span>
                                            <span class="msg_from_company">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span>
                                            <span class="msg_from_company">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span>
                                        </div>
                                    </a>
                                    <div class="open_job">
                                        <h4 class="job_heading">{{this.title}}</h4>
                                        <span class="recruiter_name">{{this.companyName}}</span>
                                        <div class="short_title_zone">
                                            <span class="short_title"><i class="fa fa-briefcase" aria-hidden="true"></i> 1 - 2 Yrs</span>
                                            <span class="short_title"><i class="fa fa-inr" aria-hidden="true"></i> Not disclosed</span>
                                            <span class="short_title"><i class="fa fa-map-marker" aria-hidden="true"></i>{{this.location}}</span>
                                        </div>
                                        <p class="job_brief">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                        <div class="vw_job">
                                            <button type="button" class="btn_vw_job" onclick="modalfun('{{this.jobPost_id}}')">View details</button>
                                        </div>
                                    </div>
                                </div>


                                <div class="open_job_dscr_modal top_gapping" id="{{this.jobPost_id}}">
                                    <span class="close_job_detail"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                                    <div class="job_list_zone no_shadow">
                                        <div class="job_short_info">
                                            <h4 class="job_heading">{{this.title}}</h4>
                                            <span class="recruiter_name">{{this.companyName}}</span>
                                            <div class="short_title_zone">
                                                <span class="short_title"><i class="fa fa-briefcase" aria-hidden="true"></i> 1 - 2 Yrs</span>
                                                <span class="short_title"><i class="fa fa-inr" aria-hidden="true"></i> Not disclosed</span>
                                                <span class="short_title"><i class="fa fa-map-marker" aria-hidden="true"></i>{{this.location}}</span>
                                            </div>
                                            <p class="job_brief">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                            <div class="job_info">
                                                <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>10th June 2020</span>
                                                <ul>
                                                    <li>
                                                        <button type="button" class="btn_save_job job_saved"><i class="fa fa-heart" aria-hidden="true"></i> Saved
                                                        <span class="tooltip_text">This job is saved</span></button>
                                                    </li>
                                                    <li>
                                                        <button type="button" class="btn_apply_job btn_applied">Applied
                                                        <span class="tooltip_text">You applied for this job</span></button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="job_detail">
                                            <div class="job_detail_inner">
                                                <h4 class="job_detail_head">Job description</h4>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>Job title</small></span><span class="job_dscr_line">Administration Executive</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>Job location</small></span><span class="job_dscr_line">Delhi NCR, Pune, Chennai, Mumbai, Jaipur, Thane</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>Salary</small></span><span class="job_dscr_line">upto 3 Lakhs per annum</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>experience</small></span><span class="job_dscr_line">1 to 4 years</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>skills</small></span><span class="job_dscr_line">Lorem ipsum, dolor sit</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>responsibility</small></span><span class="job_dscr_line">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</span>
                                                </div>
                                            </div>
                                            <div class="job_detail_inner">
                                                <h4 class="job_detail_head">Education requirement</h4>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>ug</small></span><span class="job_dscr_line">Any Graduate in Any Specialization</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>PG</small></span><span class="job_dscr_line">Any Postgraduate in Any Specialization</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>doctorate</small></span><span class="job_dscr_line">Doctorate Not Required</span>
                                                </div>
                                            </div>
                                            <div class="job_detail_inner">
                                                <h4 class="job_detail_head">Other details</h4>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>industry type</small></span><span class="job_dscr_line">School</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>functional area</small></span><span class="job_dscr_line">Administration, Business Development</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>Job type</small></span><span class="job_dscr_line">Full time</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>role</small></span><span class="job_dscr_line">----</span>
                                                </div>
                                            </div>
                                            <div class="job_detail_inner">
                                                <h4 class="job_detail_head">Recruiter details</h4>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>Company name</small></span><span class="job_dscr_line">Web Technologies Pvt. Ltd.</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>Company description</small></span><span class="job_dscr_line">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>contact person</small></span><span class="job_dscr_line">Mr. Charlie Doe (HR)</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>contact info</small></span><span class="job_dscr_line"><a href="tel:1234567890">1234567890</a> / <a href="mailto:info@abcd.com">info@abcd.com</a></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                {{/each}}
                                

                            
                            </div>
                            <!--recent tab end-->


                            <!--past tab start-->
                            <div class="tab-pane past_history_body" id="past_srch" role="tabpanel" aria-labelledby="past_srch_tab">
                                


                                {{#each pastApplications}}
                                <div class="srch_list_zone_rcnt bg_white">
                                    <div class="open_job" onclick="modalfun('{{this.jobPost_id}}')">
                                        <h4 class="job_heading">{{this.title}}</h4>
                                        <span class="recruiter_name">{{this.companyName}}</span>
                                        <div class="short_title_zone">
                                            <span class="short_title"><i class="fa fa-briefcase" aria-hidden="true"></i> 1 - 2 Yrs</span>
                                            <span class="short_title"><i class="fa fa-inr" aria-hidden="true"></i> Not disclosed</span>
                                            <span class="short_title"><i class="fa fa-map-marker" aria-hidden="true"></i>{{this.location}}</span>
                                        </div>
                                        <p class="job_brief">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    </div>
                                    <div class="job_expired">
                                        <span class="expired_msg"><i class="fa fa-exclamation-circle" aria-hidden="true"></i><small class="expired">
                                            This job has expired. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                        </small></span> 
                                    </div>
                                </div>

                                <div class="open_job_dscr_modal top_gapping" id="{{this.jobPost_id}}">
                                    <span class="close_job_detail"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                                    <div class="job_list_zone no_shadow">
                                        <div class="job_short_info">
                                            <h4 class="job_heading">{{this.title}}</h4>
                                            <span class="recruiter_name">{{this.companyName}}</span>
                                            <div class="short_title_zone">
                                                <span class="short_title"><i class="fa fa-briefcase" aria-hidden="true"></i> 1 - 2 Yrs</span>
                                                <span class="short_title"><i class="fa fa-inr" aria-hidden="true"></i> Not disclosed</span>
                                                <span class="short_title"><i class="fa fa-map-marker" aria-hidden="true"></i>{{this.location}}</span>
                                            </div>
                                            <p class="job_brief">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                            <div class="job_info">
                                                <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>10th June 2020</span>
                                                <ul>
                                                    <li>
                                                        <button type="button" class="btn_save_job job_saved"><i class="fa fa-heart" aria-hidden="true"></i> Saved
                                                        <span class="tooltip_text">This job is saved</span></button>
                                                    </li>
                                                    <li>
                                                        <button type="button" class="btn_apply_job btn_applied">Applied
                                                        <span class="tooltip_text">You applied for this job</span></button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="job_detail">
                                            <div class="job_detail_inner">
                                                <h4 class="job_detail_head">Job description</h4>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>Job title</small></span><span class="job_dscr_line">Administration Executive</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>Job location</small></span><span class="job_dscr_line">Delhi NCR, Pune, Chennai, Mumbai, Jaipur, Thane</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>Salary</small></span><span class="job_dscr_line">upto 3 Lakhs per annum</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>experience</small></span><span class="job_dscr_line">1 to 4 years</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>skills</small></span><span class="job_dscr_line">Lorem ipsum, dolor sit</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>responsibility</small></span><span class="job_dscr_line">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</span>
                                                </div>
                                            </div>
                                            <div class="job_detail_inner">
                                                <h4 class="job_detail_head">Education requirement</h4>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>ug</small></span><span class="job_dscr_line">Any Graduate in Any Specialization</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>PG</small></span><span class="job_dscr_line">Any Postgraduate in Any Specialization</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>doctorate</small></span><span class="job_dscr_line">Doctorate Not Required</span>
                                                </div>
                                            </div>
                                            <div class="job_detail_inner">
                                                <h4 class="job_detail_head">Other details</h4>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>industry type</small></span><span class="job_dscr_line">School</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>functional area</small></span><span class="job_dscr_line">Administration, Business Development</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>Job type</small></span><span class="job_dscr_line">Full time</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>role</small></span><span class="job_dscr_line">----</span>
                                                </div>
                                            </div>
                                            <div class="job_detail_inner">
                                                <h4 class="job_detail_head">Recruiter details</h4>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>Company name</small></span><span class="job_dscr_line">Web Technologies Pvt. Ltd.</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>Company description</small></span><span class="job_dscr_line">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>contact person</small></span><span class="job_dscr_line">Mr. Charlie Doe (HR)</span>
                                                </div>
                                                <div class="job_description">
                                                    <span class="job_dscr_topic"><small>contact info</small></span><span class="job_dscr_line"><a href="tel:1234567890">1234567890</a> / <a href="mailto:info@abcd.com">info@abcd.com</a></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                {{/each}}






                                <div class="srch_list_zone_rcnt bg_white">
                                    <div class="open_job">
                                        <h4 class="job_heading">Admin Executive</h4>
                                        <span class="recruiter_name">Web Technologies Pvt. Ltd.</span>
                                        <div class="short_title_zone">
                                            <span class="short_title"><i class="fa fa-briefcase" aria-hidden="true"></i> 1 - 2 Yrs</span>
                                            <span class="short_title"><i class="fa fa-inr" aria-hidden="true"></i> Not disclosed</span>
                                            <span class="short_title"><i class="fa fa-map-marker" aria-hidden="true"></i> Delhi NCR, Pune, Chennai</span>
                                        </div>
                                        <p class="job_brief">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    </div>
                                    <div class="job_expired">
                                        <span class="expired_msg"><i class="fa fa-exclamation-circle" aria-hidden="true"></i><small class="expired">
                                            This job has expired. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                        </small></span> 
                                    </div>
                                </div>

                                <div class="srch_list_zone_rcnt bg_white">
                                    <div class="open_job">
                                        <h4 class="job_heading">Admin Executive</h4>
                                        <span class="recruiter_name">Web Technologies Pvt. Ltd.</span>
                                        <div class="short_title_zone">
                                            <span class="short_title"><i class="fa fa-briefcase" aria-hidden="true"></i> 1 - 2 Yrs</span>
                                            <span class="short_title"><i class="fa fa-inr" aria-hidden="true"></i> Not disclosed</span>
                                            <span class="short_title"><i class="fa fa-map-marker" aria-hidden="true"></i> Delhi NCR, Pune, Chennai</span>
                                        </div>
                                        <p class="job_brief">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    </div>
                                    <div class="job_expired">
                                        <span class="expired_msg"><i class="fa fa-exclamation-circle" aria-hidden="true"></i><small class="expired">
                                            This job has expired. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                        </small></span> 
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    
                    
                </div>


            
            <nav aria-label="Page navigation" class="pagination_body">
                                        <ul class="pagination">
                                            <li class="page-item disabled">
                                              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                            </li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item" aria-current="page">
                                              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                              <a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </nav>

            </div>                 

{{>frontend_profile_footer}}  