{{>frontend_header}}
{{>frontend_banner}}

<!--navigation end-->



<section class="main-content">
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <h2>Login Here</h2>
                {{#if reverify}}
                    {{#if loginEmail}}

                    <div class="col-md-6" id = "divInvisible">   
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <p>Email is not verified,click to verify</p> 
                            
                                {{loginEmail}}
                                <a href="/login/{{loginEmail}}" class= "btn btn-primary onclick = "divHide()"">Resend email</a>                                                        
                        </div>                                              
                    </div>
                    {{/if}} 
                {{/if}}

                {{#if success}}
                <section class="success">
                    {{#each success}}
                    <div class="col-md-6">

                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{this.msg}}
                        </div>
                    </div>
                    {{/each}}
                </section>
                {{else}}
                {{#if errors}}
                <section class="error">
                    {{#each errors}}
                    <div class="col-md-6">
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{this.msg}}
                        </div>
                    </div>
                    {{/each}}
                </section>
                {{/if}}

                {{/if}}

                <p>
                    <strong style="color:red">Notice</strong><br>
                    &nbsp; &nbsp;&nbsp; <b>All Registered Members are requested to reset your Password through ‘Forgot
                        Password’ option for Log In.</b>
                </p>
                
                    <form method="post" class = "userLogin" id = "userLogin"action="{{baseUrl}}/login">
                    <div class="box-body">
                        <div class="row clearfix">

                            <div class="col-md-6">
                                <label for="email" class="control-label">Email</label>
                                <span class="text-danger">*</span>
                                <div class="form-group">
                                    {{#if loginEmail}}
                                        <input type="text" name="email" value="{{loginEmail}}" class="form-control" id="email" />
                                        {{else}}
                                        <input type="text" name="email" value="" class="form-control" id="email" />
                                    {{/if}}
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <label for="password" class="control-label">Password</label>
                                <span class="text-danger">*</span>
                                <div class="form-group">
                                    <input type="password" name="password" value="" class="form-control"
                                        id="password" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 text-center">

                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="6LcVc8YUAAAAAPMMqLZXzEz32kCDlWDm71LHW89c">
                            </div>

                        </div>
                    </div>
                    <input type="checkbox" onclick="Toggle()"> 
                    <b>Show Password</b>    
                    <div class="box-footer" id="submit">
                        <button type="submit" class="btn btn-success edt"> Login</button>
                    </div>
                </form>

                
                

            </div>
            <a href="{{baseUrl}}/forgotPassword" style="color: blue; margin-left: 14px;">Forgot password?</a> <a
                href="{{baseUrl}}/new-registration" style="color: blue; margin-left: 14px;">Register</a>
        </div>
    </div>
</section>




{{>frontend_footer}}