
{{>frontend_header_basic}} 

    <section class="body_main">
        <div class="container">
            <div class="register">
                <span class="register-form-head">Login</span>
                <p class="form-heading">Welcome to job portal ! Enter your details to login.</p>
                <div class="hr-line">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <form method="post" class = "login_form" id = "userLogin"action="{{baseUrl}}/login">
                    <div class="row">
                        <div class="col-md-12">
                             {{#if reverify}}
                                {{#if loginEmail}}

                                <div class="col-md-12" id = "divInvisible">   
                                    <div class="alert alert-danger alert-dismissible">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <p>Email is not verified,click to verify</p> 
                                        
                                            {{loginEmail}}
                                            <a href="/login/{{loginEmail}}" class= "btn btn-primary onclick = "divHide()"">Resend email</a>                                                        
                                    </div>                                              
                                </div>
                                {{/if}} 
                            {{/if}}

                            {{#if success}}
                            <section class="success">
                                {{#each success}}
                                <div class="col-md-12">

                                    <div class="alert alert-success alert-dismissible">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        {{this.msg}}
                                    </div>
                                </div>
                                {{/each}}
                            </section>
                            {{else}}
                            {{#if errors}}
                            <section class="error">
                                {{#each errors}}
                                <div class="col-md-12">
                                    <div class="alert alert-danger alert-dismissible">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        {{this.msg}}
                                    </div>
                                </div>
                                {{/each}}
                            </section>
                            {{/if}}

                            {{/if}}
                        </div>
                        <div class="col-md-12">
                            {{#if loginEmail}}
                            <input type="email" name="email" id="email" value="{{loginEmail}}" placeholder="Enter Email Id" class="register-field">
                            {{else}}
                            <input type="email" name="email" id="email" value ="" placeholder="Enter Email Id" class="register-field">
                            {{/if}}
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <input type="password" name="password" id="password" value="" placeholder="Enter Password" class="register-field">
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <div class="checktoregister">
                                <input type="checkbox"  onclick="Toggle()" name="check_toregister" class="checkin"><label for="check_toregister" class="agree-withterms">Show password</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="get_account">
                                Don't have account? <a href="{{baseUrl}}/new-registration">Register here!</a>
                            </div>
                            <div class="get_account forgot_pass">
                                <a href="{{baseUrl}}/forgotPassword" >Forgot password?</a>
                            </div>

                        </div>
                        <div class="button-wrap">
                            <button type="submit" class="btn-register" id="login-btn">Login</button>
                        </div>
                    </div>
                </form>
            </div>
         </div>   
    </section>


{{>frontend_footer_basic}}