 {{>frontend_header}}
 {{>frontend_banner}}

      <!--navigation end-->
      
      <section class="main-content">
        <div class="container">
          <div class="row">
             
              <div class="col-sm-12">
                   <h2>New Password</h2>
                   {{#if success}}
                    <section class="success">
                        {{#each success}}
                            <div class="col-md-6">
                                <div class="alert alert-success alert-dismissible">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{this.msg}}
                                </div>
                            </div>
                        {{/each}} 
                    </section>
                {{else}}
                {{#if errors}}
                    <section class="error" >                        
                        {{#each errors}}
                            <div class="col-md-6">
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{this.msg}}
                            </div>
                            </div>
                        {{/each}}                        
                    </section>
                {{/if}}
                {{/if}}
                
              <form method="post" class = "userNewPassword" id = "userNewPassword" action="{{baseUrl}}/updatePassword">
                <div class="box-body">
                    <div class="row clearfix">     
                        <div class="col-md-8">
                            <label for="otp" class="control-label">OTP</label>
                            <span class="text-danger">*</span>
                            
                            <div class="form-group">
                                <input type="password" name="otp" value="" class="form-control" id="otp" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        
                        <div class="col-md-8">
                            <label for="password" class="control-label">Password</label>
                            <span class="text-danger">*</span>
                            <div class="form-group">
                                <input type="password" name="password" value="" class="form-control" id="password" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        
                        <div class="col-md-8">
                            <label for="confirm_password" class="control-label">Confirm Password</label>
                            <span class="text-danger">*</span>
                            <div class="form-group">
                                <input type="password" name="confirm_password" value="" class="form-control" id="confirm_password" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="box-footer" id="submit">
                    <button type="submit" class="btn btn-success edt"> Save</button>
                    <a href="{{baseUrl}}/updatePassword/{{sendedEmail}}" class="cmn_btn">Resend OTP</a>
                </div>
                </form>
                 
                </div>
          </div>
       </div>   
      </section>
      
{{>frontend_footer}}
      