 {{>frontend_header_basic}}


    <section class="body_main">
        <div class="container">
            <div class="register">
                <span class="register-form-head">Reset Password</span>
                <div class="hr-line">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <form id = "userNewPassword" action="{{baseUrl}}/updatePassword" method="post" class="login_form">
                    
                    <div class="row">
                        <div class="col-md-12">
                            {{#if success}}
                                <section class="success">
                                    {{#each success}}
                                        <div class="col-md-12">
                                            <div class="alert alert-success alert-dismissible">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                {{this.msg}}
                                            </div>
                                        </div>
                                    {{/each}} 
                                </section>
                            {{else}}
                            {{#if errors}}
                                <section class="error" >                        
                                    {{#each errors}}
                                        <div class="col-md-12">
                                        <div class="alert alert-danger alert-dismissible">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            {{this.msg}}
                                        </div>
                                        </div>
                                    {{/each}}                        
                                </section>
                            {{/if}}
                            {{/if}}
                        </div>
                        <div class="col-md-12">
                            <input type="password" name="otp" value="" id="otp" class="register-field" placeholder="Enter otp">
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <input type="password" name="password" value="" id="password" class="register-field" placeholder="Enter new password">
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <input type="password" name="confirm_password" value="" id="confirm_password" class="register-field" placeholder="Confirm new password">
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <div class="checktoregister">
                                <input type="checkbox"  onclick="Toggle()" name="check_toregister" class="checkin"><label for="check_toregister" class="agree-withterms">Show password</label>
                            </div>
                        </div>
                        <div class="button-wrap">
                            <button type="submit" class="btn-register" id="reset_password">Save</button>
                        </div>
                        <div class="button-wrap">
                            
                            <a href="{{baseUrl}}/updatePassword/{{sendedEmail}}" class="btn-register" id="reset_password">Resend OTP</a>
                        </div>
                    </div>
                </form>
            </div>
         </div>   
    </section>



  {{>frontend_footer_basic}}