

<button id="rzp-button1">Click Here to Pay Online</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_MUXBBpeX9feKJw",
    "amount": "2000", // 2000 paise = INR 20
    "name": "Merchant Name",
    "description": "Purchase Description",
    "image": "/your_logo.png",
    "handler": function (response){
        //alert(response.razorpay_payment_id);
        var  razorpay_payment_id=response.razorpay_payment_id;
        //console.log(response);
        //send_payment(razorpay_payment_id);
        fetch('{{baseUrl}}/purchase/'+razorpay_payment_id, {
            method: 'get',
            headers: {
                "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
            }
            })
            
            .then(resp =>  resp.json())
            .then(function (data) {
                    //console.log(data)
            })
            .catch(function (error) {
                //console.log('Request failed', error);
            });
            page_load();
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "test@test.com"
    },
    "notes": {
        "address": "Hello World"
    },
    "theme": {
        "color": "#F37254"
    }
};
var rzp1 = new Razorpay(options);

document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"> </script>

<script>


    function send_payment(razorpay_payment_id) {
        //$razorpay_payment_id = razorpay_payment_id;
        console.log(razorpay_payment_id);
        $.get("{{baseUrl}}/purchase", {
            razorpay_payment_id: razorpay_payment_id
        })
            .done(function (data) {
                console.log(data);
            });
    }
</script>

<script type="text/javascript">
    function page_load(){
        console.log("in function");
        location = '{{baseUrl}}/subcription';
    }
    //setTimeout(function(){
    //    location = '{{baseUrl}}/subcription'
    //},1000)
  
</script>
