
{{>frontend_header_new}}

<div class="body-main">
                <div class="body-heading">
                    <span>Create your profile details</span>
                </div>
                <div class="body-content">
                    <div class="body-nav">
                        <ul class="nav nav-tabs" id="Mytab" role="tablist">
                            <li class="active"><a href="#basic_info" aria-controls="basic_info" data-toggle="tab" role="tab" aria-selected="true" id="basic_details" class="body-nav-check">Basic Details</a></li>
                            <li><a href="#personal_info" aria-controls="personal_info" data-toggle="tab" role="tab" aria-selected="false" id="personal_details" class="body-nav-check">Personal Details</a></li>
                        </ul>
                    </div>
                    <div class="tab-content profile-body">
                            
                            <div class="tab-pane basic_info_zone" id="basic_info" role="tabpanel" aria-labelledby="basic_details">
                                <form role="form" action="{{baseUrl}}/edit" method="post" enctype="multipart/form-data" id="basic_info_form">

                                    <div class="row">
                                        
                                        <div class="col-md-12">
                                        {{#if success}}
                                            <section class="success">
                                                {{#each success}}
                                                    <div class="alert alert-success alert-dismissible">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        {{this.msg}}
                                                    </div>
                                                {{/each}} 
                                            </section>
                                        {{else}}
                                        {{#if errors}}
                                            <section class="error" >                        
                                                {{#each errors}}
                                                    <div style="color:red;" class="control-label">
                                                        <h5>{{this.msg}} </h5>
                                                    </div>
                                                {{/each}}                        
                                            </section>
                                        {{/if}}
                                        {{/if}}

                                        </div>
                                        <input type="hidden" name="first_form" value="true" class="form-control"/>

                                        <input type="hidden" name="member_id" value="{{ result.member_id}}" class="form-control" id="member_id" />

                                        <div class="col-md-12">
                                            <div class="display_pic">
                                                <img src="{{baseUrl}}/images/uploads/{{ sessionData.member_image}}" class="dp_tochange"><label for="change_img" class="change_dp">Change Image</label>
                                                <input type="file" name="image" id="image" value=""class="cv" accept="image/png,image/jpeg,image/jpg">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                        <input type="email" name="email" id="email" value="{{ result.email}}" placeholder="Email Id" class="basic_info_fld" readonly>
                                        </div>
                                        <div class="col-md-6">
                                        <input type="number" name="mb_no" id="mb_no" value="{{ result.mb_no}}"placeholder="Mobile No" class="basic_info_fld">
                                        </div>
                                        <div class="col-md-12"><h5>Present Address:</h5></div>
                                        <div class="col-md-4">
                                        <input type="text" name="p_house_no" id="p_house_no" value="{{ result.parmanent_address.p_house_no}}" placeholder="House no. / Building" class="basic_info_fld">
                                        </div>
                                        <div class="col-md-4">                                           
                                            <select name="p_country" id="p_country" placeholder="Country" value= "{{result.p_country}}" class="basic_info_fld country_fld">                                                
                                                {{#each countries}}                                
                                                <option value="{{this.id}}">{{this.name}}</option>
                                                {{/each}}
                                            </select>

                                            
                                        </div>

                                        <div class="col-md-4">
                                            <select name="p_state2" id="p_state2" placeholder="State" value= "{{result.p_state2}}" class="basic_info_fld country_fld">
                                                
                                                <option value="{{this.id}}">{{this.name}}</option>
                                                
                                            </select>

                                            
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" name="p_street" id="p_street" value="{{ result.parmanent_address.p_street}}" placeholder="Street / Area" class="basic_info_fld">
                                            <span class="danger"></span>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" name="p_city" id="p_city" value="{{ result.parmanent_address.p_city}}" placeholder="City / Town" class="basic_info_fld">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" name="p_state" id="p_state" value="{{ result.parmanent_address.p_state}}" placeholder="State" class="basic_info_fld">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="number" name="p_pin" id="p_pin" value="{{ result.parmanent_address.p_pin}}" placeholder="Pin number" class="basic_info_fld">
                                        </div>
                                        <div class="col-md-12"><h5>Home Address:</h5>
                                        <input type="checkbox" name="filladdress" id="filladdress" onclick="fillAddress()" /> Present address same as parmanent address.<br />

                                        </div>
                                        <div class="col-md-4">
                                        <input type="text" name="hm_house_no" id="hm_house_no" value="{{ result.home_address.hm_house_no}}" placeholder="House no. / Building" class="basic_info_fld">
                                        </div>
                                        
                                       

                                        <div class="col-md-4">   
                                            <select name="hm_country" id="hm_country" placeholder="Country" value= "{{result.home_address.hm_country}}" class="basic_info_fld country_fld">                                                
                                                <option value="{{result.home_address.hm_country_id}}">{{result.home_address.hm_country_name}}</option> 
                                                {{#each countries}}                                                                                
                                                <option value="{{this.id}}">{{this.name}}</option>                                                
                                                {{/each}}
                                            </select>

                                            
                                        </div>

                                        <div class="col-md-4">
                                            <select name="hm_state2" id="hm_state2" placeholder="State" value= "{{result.hm_state2}}" class="basic_info_fld country_fld">
                                                <option value="{{result.home_address.hm_state2}}">{{result.home_address.hm_state2}}</option>
                                                
                                                
                                            </select>

                                            
                                        </div>


                                        <div class="col-md-4">
                                            <input type="text" name="hm_street" id="hm_street" value="{{ result.home_address.hm_street}}" placeholder="Street / Area" class="basic_info_fld">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" name="hm_city" id="hm_city" value="{{ result.home_address.hm_city}}" placeholder="City / Town" class="basic_info_fld">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" name="hm_state" id="hm_state" value="{{ result.home_address.hm_state}}" placeholder="State" class="basic_info_fld">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="number" name="hm_pin" id="hm_pin" value="{{ result.home_address.hm_pin}}" placeholder="Pin number" class="basic_info_fld">
                                        </div>
                                        <div class="col-md-12 button-wrap">
                                            <button type="submit" class="btn-update" id="btn_basic_details">Save & Next</button>
                                        </div>
                                  </div>
                                </form>
                            </div>
                              <!--personal details tab-->
                            <div class="tab-pane basic_info_zone" id="personal_info" role="tabpanel" aria-labelledby="personal_details">
                                <form role="form" action="{{baseUrl}}/edit_second" method="post" enctype="multipart/form-data" id="basic_info_form2">
  
                                  <div class="row">
                                      <div class="col-md-12">
                                        {{#if success}}
                                            <section class="success">
                                                {{#each success}}
                                                    <div class="alert alert-success alert-dismissible">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        {{this.msg}}
                                                    </div>
                                                {{/each}} 
                                            </section>
                                        {{else}}
                                        {{#if errors}}
                                            <section class="error" >                        
                                                {{#each errors}}
                                                    <div style="color:red;" class="control-label">
                                                        <h5>{{this.msg}} </h5>
                                                    </div>
                                                {{/each}}                        
                                            </section>
                                        {{/if}}
                                        {{/if}}

                                    </div>
                                    <input type="hidden" name="member_id" value="{{ result.member_id}}" class="form-control" id="member_id" />
                                    <input type="hidden" name="first_form" value="false" class="form-control"/>

                                    <div class="col-md-12">
                                        <label for="upload_cv" class="cv_input">Upload Resume</label><input type="file" name="image" id="image" value="{{result.upload_cv}}" class="cv" accept="image/pdf,image/doc,image/docx,image/txt"><div class="show_cv"></div>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="skills" class="skill_label">Skills:</label>
                                            <select multiple="multiple" class="chosen-select-no-results" id="e1" value="{{result.skills}}" name="skills">
                                                {{#if result.skills}}
                                                    {{#each result.skills}}
                                                        <option value="{{this}}">{{this}}</option>
                                                    {{/each}}
                                                {{/if}}
                                                <option value="Skill 1">Skill 1</option>
                                                <option value="Skill 2">Skill 2</option>
                                                <option value="Skill 3">Skill 3</option>
                                                <option value="Skill 4">Skill 4</option>
                                                <option value="Skill 5">Skill 5</option>
                                            </select>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="degree" id="degree" value="{{result.degree}}" placeholder="Highest Qualification" class="basic_info_fld">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="college" id="college" value="{{result.college}}" placeholder="Institution / University / College" class="basic_info_fld">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="pass_year" id="pass_year" value="{{result.pass_year}}" placeholder="Pass Year" class="basic_info_fld">
                                    </div>
                                    <div class="col-md-12 experience_fld">
                                        <h5>Work Experience:</h5>
                                        <div class="experience_row after_add_more">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <input type="text" name="experience" id="experience" value="" placeholder="Year / month of experience" class="basic_info_fld">
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" name="company" id="company" value="" placeholder="Company Name" class="basic_info_fld">
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" name="designation" id="designation" value="" placeholder="Job Designation" class="basic_info_fld">
                                                </div> 
                                                <div class="col-md-12"> 
                                                        <button type="button" class="remove_exp">Delete experience</button>
                                                    </div> 
                                                <div class="col-md-12"> 
                                                    <button type="button" class="add_exp">+ Add more experience</button>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="text" name="experience" id="experience" value="" placeholder="Year / month of experience" class="basic_info_fld">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" name="company" id="company" value="" placeholder="Company Name" class="basic_info_fld">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" name="designation" id="designation" value="" placeholder="Job Designation" class="basic_info_fld">
                                                    </div>
                                                    <div class="col-md-12"> 
                                                        <button type="button" class="remove_exp">Delete experience</button>
                                                    </div> 
                                                </div>



                                            </div>
                                        </div>
                                        
                                        <div class="copy hide">
                                            <div class="experience_row">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="text" name="experience" id="experience" value="" placeholder="Year / month of experience" class="basic_info_fld">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" name="company" id="company" value="" placeholder="Company Name" class="basic_info_fld">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" name="designation" id="designation" value="" placeholder="Job Designation" class="basic_info_fld">
                                                    </div>
                                                    <div class="col-md-12"> 
                                                        <button type="button" class="remove_exp">Delete experience</button>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <textarea id="about_yourself" name="about" id="about" value="{{result.about}}" class="write_about_you" placeholder="Tell us about yourself">{{result.about}}</textarea>
                                    </div>
                                    <div class="col-md-12 button-wrap">
                                        <button type="submit" class="btn-update" id="btn_personal_details">Save & Update</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                            
                        
                        
                        
                            
                            <!--<form role="form" action="" method="post" enctype="multipart/form-data" id="personal_info_form">
                                
                            </form>-->
                    </div>
                </div>
            </div>
        </div><!--<footer class="footer-area">
        <div class="container">
            <div class="footer_cont d-flex justify-content-between align-items-center">
                <p>@Copyright reserved by Broadifi Technologies</p>
                <ul class="social_icon">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        </footer>-->
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>




<script>
     $().ready(function() {
		

		// validate signup form on keyup and submit
		var $valid = $("#basic_info_form").validate({
            rules: {
                mb_no:{
					required: true,
					minlength: 10
				},
                
                p_house_no: {
                    required: true,
                    minlength: 4
                },
                p_street: {
                    required:true
                },
                p_city: {
                    required:true,
                    minlength: 4
                },
                p_state: {
                    required:true
                },
                p_pin: { 
                    required:true,
                    minlength:6
                }

            },
			messages: {
                mb_no: {
					required: "Please provide a mobile number",
					minlength: "Your number must be at least 10 digit long"
				},
                alt_email: {
                    email:"Please provide a valid email address"
                },
                p_house_no: {
                    required: "This field can not be blank",
                    minlength: "min length 4"
                },
                p_street: {
                    required:"This field can not be blank"
                },
                p_city: {
                    required:"This field can not be blank",
                    minlength: "min length 4"
                },
                p_state: {
                    required:"This field can not be blank"
                },
                p_pin : {
                    required:"Pin number is required",
                    minlength:"Pin number must be at least 6 digit long"
                }
            }
        })
    })
   
    
</script>

<script>      
        $().ready(function() {
		

		// validate signup form on keyup and submit
		$("#basic_info_form2").validate({
            rules: {
                
                degree: {
                    required:true
                },
                college: {
                    required:true,
                    minlength:5
                },
                pass_year: {
                    required:true
                },
                experience: {
                    required:true
                }

            },
			messages: {               
                degree: {
                    required: "This field can not be blank"
                },
                college: {
                    required: "A college name is required",
                    minlength: "min length 5"
                },
                pass_year: {
                    required: "This field is required"
                },
                experience: {
                    required: "This field is required"
                }
            }
        })
    })
   
    
       	</script> 


 {{!-- ajax submit --}}
<script>
        // this is the id of the form
 $(function () {
    $('#basic_info_form').on('submit', function (e) {
        var $valid = $("#basic_info_form").valid();
        if ($valid){
            console.log("in....");
        e.preventDefault();
        var formData = new FormData(this);
        
         $.ajax({
           type: "POST",
           url: "{{baseUrl}}/edit",
           data: formData,
            dataType: "json",
            contentType: false,
            processData: false,
           error:function(data) {
               console.log("error")
               console.log(data)
           },
           success:function(data)
           {                  
                var response = data
                console.log("response.....")
                console.log(response)
                if(response) {
                    var next = jQuery('.nav-tabs > .active').next('li');
                    if(next.length){
                         next.find('a').trigger('click');
                    }else{
                    jQuery('#myTab a:first').tab('show');
      }
                }

           }
         })
    

        }
        
    
    })
 
})




    </script>



    <script>
        $(document).ready(function(){
            $('.has-dropdown').click(function(){
                $('.sub-menu').toggleClass('show-sub-menu')
                $('.has-dropdown a').toggleClass('active')
            });
        });
    </script>

    <script>
        

    //jQuery('body').on('click','.btn-update', function(){
    $().ready(function() {
		

		// validate signup form on keyup and submit
		$("#basic_info").validate({
            rules: {
                 mb_no:{
					required: true,
					minlength: 10
				},
                
                p_house_no: {
                    required: true,
                    minlength: 4
                },
                p_street: {
                    required:true
                },
                p_city: {
                    required:true,
                    minlength: 4
                },
                p_state: {
                    required:true
                },
                p_pin: { 
                    required:true,
                    minlength:6
                }
            },
            messages: {
            mb_no: {
					required: "Please provide a mobile number",
					minlength: "Your number must be at least 10 digit long"
				},
                
                p_house_no: {
                    required: "This field can not be blank",
                    minlength: "min length 4"
                },
                p_street: {
                    required:"This field can not be blank"
                },
                p_city: {
                    required:"This field can not be blank",
                    minlength: "min length 4"
                },
                p_state: {
                    required:"This field can not be blank"
                },
                p_pin : {
                    required:"Pin number is required",
                    minlength:"Pin number must be at least 6 digit long"
                }
            }

        })
    })
      var next = jQuery('.nav-tabs > .active').next('li');
      if(next.length){
        next.find('a').trigger('click');
      }else{
        jQuery('#myTab a:first').tab('show');
      }
    });


    
    </script>
    <script>
        $(document).ready(function(){
          $(".menu-btn").click(function () {
                $(".wrapper").toggleClass('sidebar_hide')
                $('.body_overlay').addClass('show_overlay')
                $('nav').addClass('show_nav')
            });
          $('.body_overlay').click(function(){
            $(this).removeClass('show_overlay')
            $('nav').removeClass('show_nav')
             $(".wrapper").removeClass('sidebar_hide')
          })
        })
    </script>
  
     <script>
        $(document).ready(function(){
            $('.profile-button-wrap').click(function(){
                $(this).toggleClass('open-dropdown')
            });
            $('.notification-wrap').click(function(){
                $(this).toggleClass('open-dropdown')
            });
        });
    </script>
    <script>
        $(document).ready(function(){
          $(".menu-btn").click(function () {
                $(".wrapper").toggleClass('sidebar_hide')
            }); 
            });       
    </script>
    <script>
        $(function () {
        $('#Mytab li a[href="#basic_info"]').tab('show')
        })
    </script>
    <script>
        $(document).ready(function(){
            $("#e1").select2();
        });
    </script>
    {{!-- present address same as permanent address --}}
    <script>
        $(document).ready(function(){
    $("#filladdress").on("click", function(){
         if (this.checked) { 
                $("#hm_house_no").val($("#p_house_no").val());
                $("#hm_street").val($("#p_street").val());
                $("#hm_city").val($("#p_city").val());
                $("#hm_state").val($("#p_state").val());   
                $("#hm_pin").val($("#p_pin").val());                        

    }
    else {
        $("#hm_house_no").val('');
        $("#hm_street").val('');
        $("#hm_city").val(''); 
        $("#hm_state").val('');           
        $("#hm_pin").val('');           

    }
    });
});
    </script>
<script>
        $(document).ready(function(){
            $('.profile-button-wrap_edt').click(function(){
                $(this).toggleClass('open-dropdown')
            })
        })
</script>

    <script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {
                
                $('#pass_year').datepicker({
                    autoclose: true,
                    format: " yyyy",
                    viewMode: "years", 
                    minViewMode: "years",
                    startDate: '2014',
                    endDate: new Date(),
                });  
            
            });
        </script>



{{!-- notification function --}}

<script>
  function notificationsList() {
    console.log("function in....")
    console.log({{sessionData.member_id}})

    $.ajax({
                type:'GET',
                url: "{{baseUrl}}/notifications/"+{{sessionData.member_id}},
                
                success:function(data){
                  
                  console.log(data);
                  let countnotification = '<span class="bell-badge">'+data.length+'</span></a> '
                  let notifications = '';
                  data.forEach(function(elem) {
                    
                    notifications += '<li onclick = "notificationRead('+elem.memberNotification_id+')">'+elem.message+'<span class="notify_icons"><i class="fa fa-clock-o" aria-hidden="true"></i>'+elem.modified_date+'</span></li>'
                  })
                  
                  $('#notificationList11').html(notifications);
                  $('#notificationCount').html(countnotification);

                    
                    

                }
            
            
            
            
            })

  }


  $(document).ready(function(){
    notificationsList();
    setInterval(function() {
      notificationsList();
        
    }, 100000);

  });

</script>
<script>
    function notificationRead(memberNotification_id) {
        //$('.body-main').toggleClass('body_pop_overlay');
        //$('.msg_modal_box').show('slow')

    $.ajax({
                type:'GET',
                url: "{{baseUrl}}/notifications/read/"+memberNotification_id+"/"+{{sessionData.member_id}},

                success:function(data){
                  
                  console.log(data);
                  let countnotification = '<span class="bell-badge">'+data.length+'</span></a> '
                  let notifications = '';
                  let notificationsDash = '';
                  let modalContent = '';
                  data.forEach(function(elem) {
                    
                    notifications += '<li onclick = "notificationRead('+elem.memberNotification_id+')">'+elem.message+'<span class="notify_icons"><i class="fa fa-clock-o" aria-hidden="true"></i>'+elem.modified_date+'</span></li>'
                  
                    //notificationsDash += '<div class="dashbrd_notify" onclick = "notificationRead('+elem.memberNotification_id+')"><span class="infos">You received a response from <small class="notify_from">'+elem.message+'</small></span><span class="info_time">'+elem.modified_date+'</span></div>'
                    
                    //modalContent = '<p>'+elem.message+'</p>'
                  })
                  
                  $('#notificationList11').html(notifications);
                  $('#notificationCount').html(countnotification);
                  //$('#dashboardNotification').html(notificationsDash);
                  //$('#modalMsg').html(modalContent);



                    
                    

                }
                
    })
    }
</script>

    {{!-- all field jquery validation --}}
    {{!-- country field --}}
<script>
       function homeCountry() {
            console.log('country')


        $.ajax({
           type: "GET",
           url: "{{baseUrl}}/country-state",
           
           error:function(data) {
               console.log("error")
               console.log(data)
           },
           success:function(data)
           {                  
                var response = data
                console.log("response.....")
               
                
                let countryList = '';

                data.forEach(function(elem) {
                    
                    countryList += '<option value="'+elem.id+'">'+elem.name+'</option>'
                  })
                 $('#allCountry').html(countryList);
           }
         })
    



        }
</script>

       

    {{!-- form submit ajax --}}
    
{{!-- country fields --}}

{{!-- add experiences --}}
<script>
        $(document).ready(function() {
          $(".add_exp").click(function(){ 
              var html = $(".copy").html();
              $(".after_add_more").after(html);
          });
          $("body").on("click",".remove_exp",function(){ 
              $(this).parents(".experience_row").remove();
          });
        });
    </script>

<script>
        $(document).ready(function(){
          $(".menu-btn").click(function () {
                $(".wrapper").toggleClass('sidebar_hide')
                $('.body_overlay').addClass('show_overlay')
                $('nav').addClass('show_nav')
            });
          $('.body_overlay').click(function(){
            $(this).removeClass('show_overlay')
            $('nav').removeClass('show_nav')
             $(".wrapper").removeClass('sidebar_hide')
          })

          $('.basic_info_fld.state_fld').click(function(){
            $('.state_dropdown').toggleClass('open')
          })
          $('.basic_info_fld.state_fld_1').click(function(){
            $('.state_dropdown_1').toggleClass('open')
          })
          $('.basic_info_fld.country_fld').click(function(){
            $('.country_dropdown').toggleClass('open')
          })
          $('.basic_info_fld.country_fld_1').click(function(){
            $('.country_dropdown_1').toggleClass('open')
          })
          $('.basic_info_fld.city_fld_1').click(function(){
            $('.city_dropdown_1').toggleClass('open')
          })
          $('.basic_info_fld.city_fld').click(function(){
            $('.city_dropdown').toggleClass('open')
          })
            });      
    </script>

<script>
     $('#hm_country').change(function() { 
          var id=$(this).val();
          getSelectClass(id);
          return false;
    });
    function getSelectClass(id) {
        console.log("state field",id);

        $.ajax({
              url : "{{baseUrl}}/country-state",
              method : "GET",
              data : {id: id},
              
              dataType : 'json',
              success: function(data){
                  var response = data
                console.log("response hm.....")
               
                
                let stateList = '';

                data.forEach(function(elem) {
                    
                    stateList += '<option value="'+elem.name+'">'+elem.name+'</option>'
                  })
                 $('#hm_state2').html(stateList);            
                

              }
            });



    }

</script>

  <script>
        $(document).ready(function(){
            var url = window.location.pathname, 
            urlRegExp = new RegExp(url.replace(/\/$/,'') + "$"); // create regexp to match current url pathname and remove trailing slash if present as it could collide with the link in navigation in case trailing slash wasn't present there
        // now grab every link from the navigation
            $('.accordion li a').each(function(){
            // and test its normalized href against the url pathname regexp
            if(urlRegExp.test(this.href.replace(/\/$/,''))){
                $(this).parent('li').addClass('active');
            }
        });
        })
    </script>

</body>

</html>            