 {{>frontend_header}}
 {{>frontend_banner}}

      <!--navigation end-->
    <div class="joblist_header d-flex align-items-center justify-content-between">
      <section class="main-content">
        <div class="container">
          <div class="row">
              
              <div class="col-sm-12">

                  <h2>My Profile</h2>
                  {{#if success}}
                    <section class="success">
                        {{#each success}}
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{this.msg}}
                            </div>
                        {{/each}} 
                    </section>
                {{else}}
                {{#if errors}}
                    <section class="error" >                        
                        {{#each errors}}
                            <div style="color:red;" class="control-label">
                                <h5>{{this.msg}} </h5>
                            </div>
                        {{/each}}                        
                    </section>
                {{/if}}
                {{/if}}
                <form method="post" class = "userProfile" id = "userProfile" enctype="multipart/form-data" action="{{baseUrl}}/edit">
                <div class="box-body">

                  <input type="hidden" name="member_id" value="{{ result.member_id}}" class="form-control" id="member_id" />

                    <div class="row clearfix">

                        <div class="col-md-4">
                            <label for="name" class="control-label">Name</label>
                            <span class="text-danger">*</span>
                            <div class="form-group">
                                <input type="text" name="name" value="{{ result.name}}" class="form-control" id="name" />
                                <span class="text-danger"></span>
                            </div>
                        </div>                     


                        <div class="col-md-4">
                            <label for="email" class="control-label">Email</label>
                            <div class="form-group">
                                <input type="text" name="email" value="{{ result.email}}" class="form-control" id="email" readonly/>
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="alt_email" class="control-label">Alternate Email</label>
                            <div class="form-group">
                                <input type="text" name="alt_email" value="{{ result.alt_email}}" class="form-control" id="alt_email" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                                               

                        <div class="col-md-4">
                            <label for="nationality" class="control-label">Nationality</label>
                            <div class="form-group">
                                <input type="text" name="nationality" value="{{ result.nationality}}" class="form-control" id="nationality" />
                                <span class="text-danger"></span>
                            </div>
                        </div>

                         
                         <div class="col-md-4">
                            <label for="personal_number" class="control-label"> Personal Number</label>
                            <div class="form-group">
                                <input type="text" name="personal_number" value="{{ result.personal_number}}" class="form-control" id="personal_number" />
                                <span class="text-danger"></span>
                            </div>
                        </div>

                         


                     
                        
                        <div class="col-md-6">
                            <label for="education_qualification" class="control-label">Educational Qualification</label>
                            <div class="form-group">
                                <textarea rows="3" name="education_qualification" class="form-control" id="education_qualification" />{{ result.education_qualification}}</textarea>
                                <span class="text-danger"></span>
                            </div>
                        </div>  
                                              

                        
             

                        <div class="col-md-6">
                            <label for="home_address" class="control-label">Home Address</label>
                            <div class="form-group">
                                <textarea rows="3" name="home_address" class="form-control" id="home_address" />{{ result.home_address}}</textarea>
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="pin_number" class="control-label">Pin Number</label>
                            <div class="form-group">
                                <input type="text" name="pin_number" value="{{ result.pin_number}}" class="form-control" id="pin_number" />
                                <span class="text-danger"></span>
                            </div>
                        </div>  
                                              
            

                        <div class="col-md-6">
                            <label for="Image" class="control-label">Update Profile Picture</label>
                            <div class="form-group">
                                <input type="file" id="image"  name="image" accept=".jpg,.jpeg,.png,">
                                <span class="text-danger"></span>
                            </div>
                        </div> 
                        
                        
                        <div class="col-md-6">
                            <label for="available_reviewers" class="control-label">Available as Reviewer</label>
                            <div class="form-group">
                                <input type="radio" name="available_reviewers" id="available_reviewers" value="1" {{#equals result.available_reviewers 'eq' 1 }}   checked {{/equals}} > Yes
                                <input type="radio" name="available_reviewers" id="available_reviewers" value="0" {{#equals result.available_reviewers 'eq' 0 }}   checked {{/equals}}> No
                                <span class="text-danger"></span>
                            </div>
                        </div>                        
                    </div>
                    </div>
                <div class="btn-group">
                    <div class="box-footer" id="submit">
                    <button type="submit" class="cmn_btn"> Update</button>

                    <img class= "logo1" src="{{baseUrl}}/images/uploads/back_logo.jpg" class="user-image" alt="User Image" onclick="goBack()">
                    
                </div>
                </div>


                </div>
                
                {{!-- <div class="box-footer" id="submit">
                    <button type="button" class="btn btn-success edt" onclick="goBack()"> Back</button>
                </div> --}}
                </form>
                
                </div>

          </div>
       </div>   
      </section>
    </div>  
      
{{>frontend_footer}}
      

<script>
function goBack() {
  window.history.back();
}
</script>