{{>frontend_header}}
<!--navigation end-->

<section class="inner_page">
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <h3 class="titleReg">Register Here</h3>
                {{#if errors}}
                <section class="error">
                    {{#each errors}}
                    <div style="color:red;" class="control-label">
                        <h5>{{this.msg}} </h5>
                    </div>
                    {{/each}}
                </section>
                {{/if}}
                <form method="post" enctype="multipart/form-data" action="{{baseUrl}}/registration">
                    <div class="box-body">
                        <div class="row clearfix">

                            <div class="col-md-12">
                                <label for="name" class="control-label">Name</label>
                                <div class="form-group">
                                    <input type="text" name="name" value="" class="form-control" id="name" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <label for="email" class="control-label">Email</label>
                                <div class="form-group">
                                    <input type="text" name="email" value="" class="form-control" id="email" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="alt_email" class="control-label">Alternate Email</label>
                                <div class="form-group">
                                    <input type="text" name="alt_email" value="" class="form-control" id="alt_email" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="password" class="control-label">Password</label>
                                <div class="form-group">
                                    <input type="password" name="password" value="" class="form-control"
                                        id="password" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="cpassword" class="control-label"> Confirm Password</label>
                                <div class="form-group">
                                    <input type="password" name="cpassword" value="" class="form-control"
                                        id="cpassword" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <label for="nationality" class="control-label">Nationality</label>
                                <div class="form-group">
                                    <input type="text" name="nationality" value="" class="form-control"
                                        id="nationality" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>





                            <div class="col-md-4">
                                <label for="education_qualification" class="control-label">Educational
                                    Qualification</label>
                                <div class="form-group">
                                    <textarea rows="3" name="education_qualification" class="form-control"
                                        id="education_qualification" /></textarea>
                                    <span class="text-danger"></span>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <label for="home_address" class="control-label">Home Address</label>
                                <div class="form-group">
                                    <textarea rows="3" name="home_address" class="form-control"
                                        id="home_address" /></textarea>
                                    <span class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label for="personal_number" class="control-label"> Personal Number</label>
                                <div class="form-group">
                                    <input type="text" name="personal_number" value="" class="form-control"
                                        id="personal_number" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>



                            <div class="col-md-3">
                                <label for="pin_number" class="control-label">Pin Number</label>
                                <div class="form-group">
                                    <input type="text" name="pin_number" value="" class="form-control"
                                        id="pin_number" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="Image" class="control-label">Image</label>
                                <div class="form-group">
                                    <input type="file" id="image" name="image" accept="image/*">
                                    <span class="text-danger"></span>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <label for="available_reviewers" class="control-label">Available as Reviewer</label>
                                <div class="form-group">
                                    <input type="radio" name="available_reviewers" id="available_reviewers" value="1"
                                        checked> Yes
                                    <input type="radio" name="available_reviewers" id="available_reviewers" value="0">
                                    No
                                    <span class="text-danger"></span>
                                </div>
                            </div>


                            {{!-- <div class="col-md-12 text-center">
                                
                                <div class="form-group">
                                    <div class="g-recaptcha" data-sitekey="6LcVc8YUAAAAAPMMqLZXzEz32kCDlWDm71LHW89c">
                                    </div>

                                </div>
                            </div> --}}

                        </div>
                    </div>
                    {{!-- recaptha --}}


                    <div class="box-footer" id="submit">
                        <button type="submit" class="btn btn-success edt"> Save</button>
                    </div>
            </div>
            </form>
        </div>
    </div>
</section>

{{>frontend_footer}}