
{{>landing_header}}

<section class="body_content less_padding">
            <form action="{{baseUrl}}/job-list/searched" method="post" id="search_job_form" class="find_job thin_form">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-xs-12">
                            <input type="text" name="title" id="job_title" class="job_search_input nomargin_input" maxlength="65" placeholder="Job title" value="{{sessionData.title}}">
                        </div>
                        <div class="col-md-5 col-xs-12">
                            <input type="text" name="location" id="location" class="job_search_input bg_place nomargin_input" maxlength="300" placeholder="City, state" value="{{sessionData.location}}">
                        </div>
                        <div class="col-md-2">
                            <button type="submit" id="btn_find_job" class="search_job_btn"><i class="fa fa-hand-o-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="job_search_mid_body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="filter_zone_edt">
                                <div class="filter_head_edt">
                                    <span class="job_keyword_edt"><span class="jobs_no_edt">1,0112</span><small>Admin Executive Jobs</small></span>
                                </div>
                                <div class="filter_bottom_edt">
                                        <ul class="filter_list_edt">
                                            <span class="filterby_edt"><i class="fa fa-sort" aria-hidden="true"></i>Filter by:</span>
                                            <li>
                                                <div class="filter_type_head">
                                                    <span class="filter_type_edt">Job Type</span>  <i class="fa fa-angle-down" aria-hidden="true"></i>
                                                </div>
                                                <ul class="filter_dropdown_edt">
                                                    <li class="check_filter_edt"><input type="checkbox" class="input_check" name="jobtype" value="full_time"><span class="dropdown_text_edt">Full Time<b>(12000)</b></span></li>
                                                    <li class="check_filter_edt"><input type="checkbox" class="input_check" name="jobtype" value="part_time"><span class="dropdown_text_edt">Part Time<b>(290)</b></span></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <span class="filter_type_edt">Salary</span>  <i class="fa fa-angle-down" aria-hidden="true"></i>
                                                <ul class="filter_dropdown_edt">
                                                    <li class="check_filter_edt"><input type="checkbox" class="input_check" name="salary" value="sal_1"><span class="dropdown_text_edt">Upto 1 lakh<b>(12000)</b></span></li>
                                                    <li class="check_filter_edt"><input type="checkbox" class="input_check" name="salary" value="sal_2"><span class="dropdown_text_edt">upto 2 lakh<b>(290)</b></span></li>
                                                    <li class="check_filter_edt"><input type="checkbox" class="input_check" name="salary" value="sal_3"><span class="dropdown_text_edt">2 to 5 lakh<b>(290)</b></span></li>
                                                    <li class="check_filter_edt"><input type="checkbox" class="input_check" name="salary" value="sal_4"><span class="dropdown_text_edt">5 to 7 lakh<b>(290)</b></span></li>
                                                    <li class="check_filter_edt"><input type="checkbox" class="input_check" name="salary" value="sal_5"><span class="dropdown_text_edt">7 to 12 lakh<b>(290)</b></span></li>
                                                    <li class="check_filter_edt"><input type="checkbox" class="input_check" name="salary" value="sal_6"><span class="dropdown_text_edt"> > 12 lakh<b>(290)</b></span></li>
                                                    <li class="check_filter_edt"><input type="checkbox" class="input_check" name="salary" value="sal_7"><span class="dropdown_text_edt"> > 12 and < 15 lakh<b>(290)</b></span></li>
                                                    <li class="check_filter_edt"><input type="checkbox" class="input_check" name="salary" value="sal_8"><span class="dropdown_text_edt"> > 15 lakh<b>(290)</b></span></li>
                                                </ul>    
                                            </li>
                                            <li>
                                                <span class="filter_type_edt">Location</span>  <i class="fa fa-angle-down" aria-hidden="true"></i>
                                                <ul class="filter_dropdown_edt">
                                                    {{#each totalData.unique_locations}}
                                                    <li class="check_filter_edt"><input type="checkbox" class="input_check" id="country_check" name="location" value="{{this}}" ><span class="dropdown_text_edt">{{this}}</b></span></li>

                                                    {{/each}}
                                                </ul>
                                            </li>
                                            <li>
                                                <span class="filter_type_edt">Experience</span>  <i class="fa fa-angle-down" aria-hidden="true"></i>
                                                <ul class="filter_dropdown_edt">
                                                    <li class="check_filter_edt"><input type="checkbox" class="input_check" name="location" value="exp_1"><span class="dropdown_text_edt">0 to 1 yr<b>(12000)</b></span></li>
                                                    <li class="check_filter_edt"><input type="checkbox" class="input_check" name="location" value="exp_2"><span class="dropdown_text_edt">1 to 3 yrs<b>(290)</b></span></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-xs-12">
                            <div class="jobs_content_body">
                                {{#each result}}
                                <div class="job_list_zone">
                                <div class="open_job">
                                    <div id="open_job" onclick="modalfun('{{this.jobPost_id}}')">
                                         <a href="javascript:void(0)" target="_blank" class="open_job">
                                        <h4 class="job_heading">{{this.jobCategory}}</h4>
                                        <span class="recruiter_name">{{this.companyName}}</span>
                                        <div class="short_title_zone">
                                            <span class="short_title"><i class="fa fa-briefcase" aria-hidden="true"></i> 1 - 2 Yrs</span>
                                            <span class="short_title"><i class="fa fa-inr" aria-hidden="true"></i>Not disclosed</span>
                                            <span class="short_title"><i class="fa fa-map-marker" aria-hidden="true"></i>{{this.location}}</span>
                                        </div>
                                        <p class="job_brief">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                        
                                    </div>
                                   <div class="job_info">
                                            <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>{{this.modified_date}}</span>
                                            <ul>
                                                {{#if this.jobSaved}}
                                                <li><button type="button" class="btn_save_job" disabled>Saved</button></li>
                                                {{else}}
                                                <li><a href="{{baseUrl}}/job-list/save-job/{{this.jobPost_id}}" class= "btn_save_job" id="btn_save_job"><i class="fa fa-heart-o" aria-hidden="true"></i> Save job</a> </li>
                                                {{/if}}

                                                {{#if this.appliedCandidate}}
                                                <li><button type="button" class="btn_apply_job" disabled>Already applied</button></li>
                                                {{else}}
                                                <li><a href="/job-list/{{this.jobPost_id}}/{{this.company_id}}" class= "btn_apply_job" id="applyBtn">Apply</a> </li>                                                       
                                                {{/if}}
                                            </ul>
                                        </div>
                                    </a>
                                    </div>
                                </div>
                                <div class="open_job_dscr_modal" id="{{this.jobPost_id}}">
                                            <span class="close_job_detail"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                                            <div class="job_list_zone no_shadow">
                                                <div class="job_short_info">
                                                    <h4 class="job_heading">{{this.title}}</h4>
                                                    <span class="recruiter_name">{{this.companyName}}</span>
                                                    <div class="short_title_zone">
                                                        <span class="short_title"><i class="fa fa-briefcase" aria-hidden="true"></i> 1 - 2 Yrs</span>
                                                        <span class="short_title"><i class="fa fa-inr" aria-hidden="true"></i> Not disclosed</span>
                                                        <span class="short_title"><i class="fa fa-map-marker" aria-hidden="true"></i> Delhi NCR, Pune, Chennai, Mumbai, Jaipur, Thane</span>
                                                    </div>
                                                    <p class="job_brief">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                                    <div class="job_info">
                                                        <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>10th June 2020</span>
                                                        <ul>
                                                            {{#if this.jobSaved}}
                                                            <li><button type="button" class="btn_save_job" disabled>Saved</button></li>
                                                            {{else}}
                                                            <li><a href="{{baseUrl}}/job-list/save-job/{{this.jobPost_id}}" class= "btn_save_job" id="btn_save_job"><i class="fa fa-heart-o" aria-hidden="true"></i> Save job</a> </li>
                                                            {{/if}}

                                                            {{#if this.appliedCandidate}}
                                                            <li><button type="button" class="btn_apply_job" disabled>Already applied</button></li>
                                                            {{else}}
                                                            <li><a href="/job-list/{{this.jobPost_id}}/{{this.company_id}}" class= "btn_apply_job" id="applyBtn">Apply</a> </li>                                                       
                                                            {{/if}}
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="job_detail">
                                                    <div class="job_detail_inner">
                                                        <h4 class="job_detail_head">Job description</h4>
                                                        <div class="job_description">
                                                            <span class="job_dscr_topic"><small>Job title</small></span><span class="job_dscr_line">Administration Executive</span>
                                                        </div>
                                                        <div class="job_description">
                                                            <span class="job_dscr_topic"><small>Job location</small></span><span class="job_dscr_line">Delhi NCR, Pune, Chennai, Mumbai, Jaipur, Thane</span>
                                                        </div>
                                                        <div class="job_description">
                                                            <span class="job_dscr_topic"><small>Salary</small></span><span class="job_dscr_line">upto 3 Lakhs per annum</span>
                                                        </div>
                                                        <div class="job_description">
                                                            <span class="job_dscr_topic"><small>experience</small></span><span class="job_dscr_line">1 to 4 years</span>
                                                        </div>
                                                        <div class="job_description">
                                                            <span class="job_dscr_topic"><small>skills</small></span><span class="job_dscr_line">Lorem ipsum, dolor sit</span>
                                                        </div>
                                                        <div class="job_description">
                                                            <span class="job_dscr_topic"><small>responsibility</small></span><span class="job_dscr_line">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</span>
                                                        </div>
                                                    </div>
                                                    <div class="job_detail_inner">
                                                        <h4 class="job_detail_head">Education requirement</h4>
                                                        <div class="job_description">
                                                            <span class="job_dscr_topic"><small>ug</small></span><span class="job_dscr_line">Any Graduate in Any Specialization</span>
                                                        </div>
                                                        <div class="job_description">
                                                            <span class="job_dscr_topic"><small>PG</small></span><span class="job_dscr_line">Any Postgraduate in Any Specialization</span>
                                                        </div>
                                                        <div class="job_description">
                                                            <span class="job_dscr_topic"><small>doctorate</small></span><span class="job_dscr_line">Doctorate Not Required</span>
                                                        </div>
                                                    </div>
                                                    <div class="job_detail_inner">
                                                        <h4 class="job_detail_head">Other details</h4>
                                                        <div class="job_description">
                                                            <span class="job_dscr_topic"><small>industry type</small></span><span class="job_dscr_line">School</span>
                                                        </div>
                                                        <div class="job_description">
                                                            <span class="job_dscr_topic"><small>functional area</small></span><span class="job_dscr_line">Administration, Business Development</span>
                                                        </div>
                                                        <div class="job_description">
                                                            <span class="job_dscr_topic"><small>Job type</small></span><span class="job_dscr_line">Full time</span>
                                                        </div>
                                                        <div class="job_description">
                                                            <span class="job_dscr_topic"><small>role</small></span><span class="job_dscr_line">----</span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="job_list_zone no_shadow">
                                                <div class="job_detail_inner">
                                                    <h4 class="job_detail_head">Recruiter details</h4>
                                                    <div class="job_description">
                                                        <span class="job_dscr_topic"><small>Company name</small></span><span class="job_dscr_line">Web Technologies Pvt. Ltd.</span>
                                                    </div>
                                                    <div class="job_description">
                                                        <span class="job_dscr_topic"><small>Company description</small></span><span class="job_dscr_line">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</span>
                                                    </div>
                                                    <div class="job_description">
                                                        <span class="job_dscr_topic"><small>contact person</small></span><span class="job_dscr_line">Mr. Charlie Doe (HR)</span>
                                                    </div>
                                                    <div class="job_description">
                                                        <span class="job_dscr_topic"><small>contact info</small></span><span class="job_dscr_line"><a href="tel:1234567890">1234567890</a> / <a href="mailto:info@abcd.com">info@abcd.com</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                </div>

                                {{/each}}
                                
                                <nav aria-label="Page navigation" class="pagination_body">
                                        <ul class="pagination">
                                            <li class="page-item disabled">
                                              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                            </li>
                                            {{#each result.pageArray}}
                                            
                                            <li class="page-item"><a class="page-link" href="{{baseUrl}}/searched-job-list?page={{math @index '+' 1}}&location={{../sessionData.location}}&title={{../sessionData.title}}">{{math @index '+' 1}}</a></li>
                                            {{/each}}
                                            <li class="page-item">
                                              <a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
    </section>

{{>frontend_footer_basic}}