<div class="body-content">
                    <div class="body-nav">
                        <ul class="nav nav-tabs" id="Mytab" role="tablist">
                            <li role="presentation" class="active"><a href="#basic_info" aria-controls="basic_info" data-toggle="tab" role="tab" aria-selected="false" id="basic_details" class="body-nav-check">Basic Details</a></li>
                            <li role="presentation"><a href="#personal_info" aria-controls="personal_info" data-toggle="tab" role="tab" aria-selected="true" id="personal_details" class="body-nav-check">Personal Details</a></li>
                        </ul>
                    </div>
                    <div class="tab-content profile-body">
                        <form action="{{baseUrl}}/edit" method="post" class="tab-content" enctype="multipart/form-data" id="basic_info_form">
                        <div class="tab-pane" id="basic_info" role="tabpanel" aria-labelledby="basic_details">                                                    
                            <div class="row">
                                    <div class="col-md-12">
                                        {{#if success}}
                                            <section class="success">
                                                {{#each success}}
                                                    <div class="alert alert-success alert-dismissible">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        {{this.msg}}
                                                    </div>
                                                {{/each}} 
                                            </section>
                                        {{else}}
                                        {{#if errors}}
                                            <section class="error" >                        
                                                {{#each errors}}
                                                    <div style="color:red;" class="control-label">
                                                        <h5>{{this.msg}} </h5>
                                                    </div>
                                                {{/each}}                        
                                            </section>
                                        {{/if}}
                                        {{/if}}

                                    </div> 
                                    <input type="hidden" name="member_id" value="{{ result.member_id}}" class="form-control" id="member_id" />
                                    <input type="hidden" name="parsonal_details" value="false" class="form-control" id="parsonal_details" />
                                    
                                    <div class="col-md-6">
                                        <input type="email" name="email" id="email" value="{{ result.email}}" placeholder="Email Id" class="basic_info_fld" readonly>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="email" name="alt_email" id="alt_email" value="{{ result.alt_email}}" placeholder="Alternate email Id" class="basic_info_fld">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="number" name="mb_no" id="mb_no" value="{{ result.mb_no}}"placeholder="Mobile No" class="basic_info_fld">
                                    </div>
                                    <div class="col-md-12">
                                        <label for="upload_cv" class="cv_input">Upload Profile Image</label><input type="file" name="image" id="image" value="image" accept=".jpg,.jpeg,.png," class="cv">
                                    </div>
                                    <div class="col-md-12"><h5>Present Address:</h5></div>
                                    <div class="col-md-4">
                                    <input type="text" name="p_house_no" id="p_house_no" value="{{ result.parmanent_address.p_house_no}}" placeholder="House no. / Building" class="basic_info_fld">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="p_street" id="p_street" value="{{ result.parmanent_address.p_street}}" placeholder="Street / Area" class="basic_info_fld">
                                        <span class="danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="p_city" id="p_city" value="{{ result.parmanent_address.p_city}}" placeholder="City / Town" class="basic_info_fld">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="p_state" id="p_state" value="{{ result.parmanent_address.p_state}}" placeholder="State" class="basic_info_fld">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="number" name="p_pin" id="p_pin" value="{{ result.parmanent_address.p_pin}}" placeholder="Pin number" class="basic_info_fld">
                                    </div>
                                    <div class="col-md-12"><h5>Home Address:</h5>
                                    <input type="checkbox" name="filladdress" id="filladdress" onclick="fillAddress()" /> Present address same as parmanent address.<br />

                                    </div>
                                    <div class="col-md-4">
                                    <input type="text" name="hm_house_no" id="hm_house_no" value="{{ result.home_address.hm_house_no}}" placeholder="House no. / Building" class="basic_info_fld">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="hm_street" id="hm_street" value="{{ result.home_address.hm_street}}" placeholder="Street / Area" class="basic_info_fld">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="hm_city" id="hm_city" value="{{ result.home_address.hm_city}}" placeholder="City / Town" class="basic_info_fld">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="hm_state" id="hm_state" value="{{ result.home_address.hm_state}}" placeholder="State" class="basic_info_fld">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="number" name="hm_pin" id="hm_pin" value="{{ result.home_address.hm_pin}}" placeholder="Pin number" class="basic_info_fld">
                                    </div>
                                    <div class="col-md-12 button-wrap">
                                        <button type="button" class="btn-update" id="btn_basic_details">Save & Next</button>
                                    </div>
                              </div>
                            
                          
                        </div>

                        <div class="tab-pane" id="personal_info" role="tabpanel" aria-labelledby="personal_details">
                                    <div class="col-md-12">
                                        {{#if success}}
                                            <section class="success">
                                                {{#each success}}
                                                    <div class="alert alert-success alert-dismissible">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        {{this.msg}}
                                                    </div>
                                                {{/each}} 
                                            </section>
                                        {{else}}
                                        {{#if errors}}
                                            <section class="error" >                        
                                                {{#each errors}}
                                                    <div style="color:red;" class="control-label">
                                                        <h5>{{this.msg}} </h5>
                                                    </div>
                                                {{/each}}                        
                                            </section>
                                        {{/if}}
                                        {{/if}}

                                    </div> 
                                    <input type="hidden" name="member_id" value="{{ result.member_id}}" class="form-control" id="member_id" />
                                    <input type="hidden" name="parsonal_details" value="true" class="form-control" id="parsonal_details" />
                                    
                                    <div class="col-md-12">
                                        <label for="upload_cv" class="cv_input">Upload Resume</label><input type="file" name="image" id="image" value="{{result.upload_cv}}" class="cv">
                                    </div>
                                    <div class="col-md-12">
                                        <label for="skills" class="skill_label">Skills:</label>
                                            <select multiple="multiple" class="chosen-select-no-results" id="e1" value = "{{result.skills}}" name="skills">
                                                <option value="1">Skill 1</option>
                                                <option value="2">Skill 2</option>
                                                <option value="3">Skill 3</option>
                                                <option value="4">Skill 4</option>
                                                <option value="5">Skill 5</option>
                                            </select>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="degree" id="degree" value="{{result.degree}}" placeholder="Highest Qualification" class="basic_info_fld">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="college" id="college" value="{{result.college}}" placeholder="Institution / University / College" class="basic_info_fld">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="pass_year" id="pass_year" value="{{result.pass_year}}" placeholder="Pass Year" class="basic_info_fld">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="experience" id="experience" value="{{result.experience}}" placeholder="Year / month of experience" class="basic_info_fld">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="company" id="company" value="{{result.company}}" placeholder="Company Name" class="basic_info_fld">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="degignation" id="degignation" value="{{result.degignation}}" placeholder="Job Designation" class="basic_info_fld">
                                    </div>
                                    <div class="col-md-12">
                                        <textarea id="about_yourself" name="about" id="about" value="{{result.about}}" class="write_about_you" placeholder="Tell us about yourself">{{result.about}}</textarea>
                                    </div>
                                    
                                    <div class="col-md-12 button-wrap">
                                        <button type="submit" class="btn-update" id="btn_personal_details">Save & Update</button>
                                    </div>
                                                           
                            </div>
                        </form>
                    </div>
                </div>