
{{>frontend_header_new}}

        <div class="body-main">
                <div class="body-heading">
                    <span>Jobs you saved</span>
                </div>
                <div class="body-content">
                    {{#each activeApplications}}
                    <div class="wishlist_job">
                        <h4 class="job_heading">{{this.title}}</h4>
                        <span class="recruiter_name">{{this.companyName}}</span>
                        <div class="short_title_zone">
                            <span class="short_title"><i class="fa fa-briefcase" aria-hidden="true"></i> 1 - 2 Yrs</span>
                            <span class="short_title"><i class="fa fa-inr" aria-hidden="true"></i> Not disclosed</span>
                            <span class="short_title"><i class="fa fa-map-marker" aria-hidden="true"></i>{{this.location}}</span>
                        </div>
                        <p class="job_brief">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        <div class="vw_job">
                            <button type="button" class="btn_vw_job" onclick="modalfun('{{this.jobPost_id}}')">View details</button>
                            {{#if this.appliedCandidate}}
                                    <li><button type="button" class="btn_apply_job" disabled>Already applied</button></li>
                                    {{else}}
                                    <li><a href="{{baseUrl}}/job-list/{{this.jobPost_id}}/{{this.company_id}}" class= "btn_apply_job" id="applyBtn">Apply</a> </li>                                                       
                            {{/if}}
                        </div>
                    </div>

                <div class="open_job_dscr_modal top_gapping" id="{{this.jobPost_id}}">
                <span class="close_job_detail"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                <div class="job_list_zone no_shadow">
                    <div class="job_short_info">
                        <h4 class="job_heading">{{this.title}}</h4>
                        <span class="recruiter_name">{{this.companyName}}</span>
                        <div class="short_title_zone">
                            <span class="short_title"><i class="fa fa-briefcase" aria-hidden="true"></i> 1 - 2 Yrs</span>
                            <span class="short_title"><i class="fa fa-inr" aria-hidden="true"></i> Not disclosed</span>
                            <span class="short_title"><i class="fa fa-map-marker" aria-hidden="true"></i>{{this.location}}</span>
                        </div>
                        <p class="job_brief">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        <div class="job_info">
                            <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>10th June 2020</span>
                            <ul>
                                {{#if this.appliedCandidate}}
                                    <li><button type="button" class="btn_apply_job" disabled>Already applied</button></li>
                                    {{else}}
                                    <li><a href="{{baseUrl}}/job-list/{{this.jobPost_id}}/{{this.company_id}}" class= "btn_apply_job" id="applyBtn">Apply</a> </li>                                                       
                                {{/if}}                            
                            </ul>
                        </div>
                    </div>
                    <div class="job_detail">
                        <div class="job_detail_inner">
                            <h4 class="job_detail_head">Job description</h4>
                            <div class="job_description">
                                <span class="job_dscr_topic"><small>Job title</small></span><span class="job_dscr_line">Administration Executive</span>
                            </div>
                            <div class="job_description">
                                <span class="job_dscr_topic"><small>Job location</small></span><span class="job_dscr_line">Delhi NCR, Pune, Chennai, Mumbai, Jaipur, Thane</span>
                            </div>
                            <div class="job_description">
                                <span class="job_dscr_topic"><small>Salary</small></span><span class="job_dscr_line">upto 3 Lakhs per annum</span>
                            </div>
                            <div class="job_description">
                                <span class="job_dscr_topic"><small>experience</small></span><span class="job_dscr_line">1 to 4 years</span>
                            </div>
                            <div class="job_description">
                                <span class="job_dscr_topic"><small>skills</small></span><span class="job_dscr_line">Lorem ipsum, dolor sit</span>
                            </div>
                            <div class="job_description">
                                <span class="job_dscr_topic"><small>responsibility</small></span><span class="job_dscr_line">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</span>
                            </div>
                        </div>
                        <div class="job_detail_inner">
                            <h4 class="job_detail_head">Education requirement</h4>
                            <div class="job_description">
                                <span class="job_dscr_topic"><small>ug</small></span><span class="job_dscr_line">Any Graduate in Any Specialization</span>
                            </div>
                            <div class="job_description">
                                <span class="job_dscr_topic"><small>PG</small></span><span class="job_dscr_line">Any Postgraduate in Any Specialization</span>
                            </div>
                            <div class="job_description">
                                <span class="job_dscr_topic"><small>doctorate</small></span><span class="job_dscr_line">Doctorate Not Required</span>
                            </div>
                        </div>
                        <div class="job_detail_inner">
                            <h4 class="job_detail_head">Other details</h4>
                            <div class="job_description">
                                <span class="job_dscr_topic"><small>industry type</small></span><span class="job_dscr_line">School</span>
                            </div>
                            <div class="job_description">
                                <span class="job_dscr_topic"><small>functional area</small></span><span class="job_dscr_line">Administration, Business Development</span>
                            </div>
                            <div class="job_description">
                                <span class="job_dscr_topic"><small>Job type</small></span><span class="job_dscr_line">Full time</span>
                            </div>
                            <div class="job_description">
                                <span class="job_dscr_topic"><small>role</small></span><span class="job_dscr_line">----</span>
                            </div>
                        </div>
                        <div class="job_detail_inner">
                            <h4 class="job_detail_head">Recruiter details</h4>
                            <div class="job_description">
                                <span class="job_dscr_topic"><small>Company name</small></span><span class="job_dscr_line">Web Technologies Pvt. Ltd.</span>
                            </div>
                            <div class="job_description">
                                <span class="job_dscr_topic"><small>Company description</small></span><span class="job_dscr_line">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</span>
                            </div>
                            <div class="job_description">
                                <span class="job_dscr_topic"><small>contact person</small></span><span class="job_dscr_line">Mr. Charlie Doe (HR)</span>
                            </div>
                            <div class="job_description">
                                <span class="job_dscr_topic"><small>contact info</small></span><span class="job_dscr_line"><a href="tel:1234567890">1234567890</a> / <a href="mailto:info@abcd.com">info@abcd.com</a></span>
                            </div>
                        </div>
                    </div>

                </div>
                    </div>
                    {{/each}}
                </div>


                

        </div>
    

{{>frontend_profile_footer}} 