 {{>frontend_header}}
     
      <section class="inner_page" style="text-align: justify;">
        <div class="container">
            <div class="row">
                
                <div class="col-sm-12">
                    <h2>Working / Organizing Committee</h2>                    
                    <p><strong>Working / Organizing Committee</strong></p>  
                    <ol>
                        <li value="1">Awareness Campaign </li>

                        <li>Talent Contest.</li>

                        <li>Field Exploration</li>

                        <li>Workshops</li>

                        <li>Hands-on Training </li>

                        <li>Collaboration</li>                       
                        
                    </ol> 
                      <table> 
                        <tr>
                          <th data-tab="Dr. Sandip Das">Dr. Sandip Das</th>
                          <td data-tab="Dr. Sandip Das">
                            <p>
                             Associate Professor: Department of Geography	Shyamaprasad College, Kolkata<br>
                              sandip.das1958@gmail.com
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Dr. Paramita Roy Chowdhury	">Dr. Paramita Roy Chowdhury	</th>
                          <td data-tab="Dr. Paramita Roy Chowdhury	">
                            <p>
                              Associate Professor: Department of Geography Kazi Nazrul University
                              Asansol, West Bengal<br>
                              parorc@gmail.com
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Dr. Kamal Chattopadhyay">Dr. Kamal Chattopadhyay</th>
                          <td data-tab="Dr. Kamal Chattopadhyay">
                            <p>
                              Associate Professor (Retd.): Department of Botany	Suri Vidyasagar College, Birbhum<br>
                              k.k.siuri@gmail.com
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Dr. Shailendra Kumar Singh">Dr. Shailendra Kumar Singh</th>
                          <td data-tab="Dr. Shailendra Kumar Singh">
                            <p>
                              Post Doctoral Fellow in Geography	Centre for Bhojpuri Studies, BHU, Uttar Pradesh<br>
                              uushailendra@gmail.com
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Dr. Uday Chatterjee ">Dr. Uday Chatterjee </th>
                          <td data-tab="Dr. Uday Chatterjee ">
                            <p>
                              Assistant Professor: Dantan Bhatter College Dantan, Paschim Medinipur, West Bengal<br>
                              raj.chatterjee459@gmail.com
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Dr.Arindam Basak">Dr.Arindam Basak</th>
                          <td data-tab="Dr.Arindam Basak">
                            <p>
                              Assistant Professor: Department of Geography	North Bengal University, Siliguri, West Bengal<br>
                              arindambasak@yahoo.co.in
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Dr. Deb Prakash Pahari">Dr. Deb Prakash Pahari</th>
                          <td data-tab="Dr. Deb Prakash Pahari">
                            <p>
                             Scientific Officer: Department of Geography University of Burdwan, West Bengal<br>
                              debprakashpahari@gmail.com
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Dr. Ayan Dasgupta">Dr. Ayan Dasgupta</th>
                          <td data-tab="Dr. Ayan Dasgupta">
                            <p>
                              Assistant Professor: Department of Geography Chandernagore College<br>
                              Chandernagore, Hooghly, West Bengal
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Dr. Mahua Chatterjee ">Dr. Mahua Chatterjee </th>
                          <td data-tab="Dr. Mahua Chatterjee ">
                            <p>
                              Assistant Professor: Department of Geography Lady Brabourne College, Kolkata<br>
                              mahuageo@rediffmail.com
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Dr. Teesta Dey ">Dr. Teesta Dey </th>
                          <td data-tab="Dr. Teesta Dey ">
                            <p>
                              Assistant Professor: Department of Geography	Kidderpore College, Kolkata	<br>
                              teestadey08@yahoo.co.in
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Rajarshi Dasgupta">Rajarshi Dasgupta</th>
                          <td data-tab="Rajarshi Dasgupta ">
                            <p>
                             Faculty (CWTT): Department of Geography, East Calcutta Girls' College, Kolkata	<br>
                              ajarshi-dasgupta@hotmail.com
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Dr. Anu Rai">Tejpal</th>
                          <td data-tab="Dr. Anu Rai">
                            <p>
                            Assistant Professor: Dyal Singh College	Lodhi Road, New Delhi<br>
                              tpjangid@gmail.com 
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Shatarupa Dey Neogi	">Shatarupa Dey Neogi	</th>
                          <td data-tab="Shatarupa Dey Neogi	">
                            <p>
                             Assistant Professor: Department of Geography	Sarojini Naidu College, Kolkata, West Bengal<br>
                             shatarupa.neogi@gmail.com
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Manju Sharma	">Manju Sharma	</th>
                          <td data-tab="Manju Sharma	">
                            <p>
                            Assistant Professor: Department of Geography	Dayanand College, Haryana, India<br>
                             manju.haritash@gmail.com
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Arindam Sarkar ">Arindam Sarkar </th>
                          <td data-tab="Arindam Sarkar ">
                            <p>
                            Faculty (CWTT): Department of Geography	Purash Kanpur Haridas Nandi College, Howrah, WB<br>
                              arindam.srkr1@gmail.com
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Dr. Arindam Dasgupta	">Dr. Arindam Dasgupta	</th>
                          <td data-tab="Dr. Arindam Dasgupta	">
                            <p>
                            Associate Professor: PG Department of Geography	Chandernagore College, West Bengal<br>
                              arindam.dasgupta184@gmail.com
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Dr. Anu Rai">Dr. Anu Rai</th>
                          <td data-tab="Dr. Anu Rai">
                            <p>
                            Assistant Professor: Department of Geography Adamas University, Barasat, Kolkata	<br>
                              anu.rai@adamasuniversity.ac.in, rai.anu4052gmail.com
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Dr. Abira Dutta Roy ">Dr. Abira Dutta Roy </th>
                          <td data-tab="Dr. Abira Dutta Roy ">
                            <p>
                            Assistant Professor: Department of Geography	Adamas University, Barasat, Kolkata<br>
                              abiraduttaroy@gmail.com,
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Debasmita Biswas">Debasmita Biswas</th>
                          <td data-tab="Debasmita Biswas">
                            <p>
                            Assistant Professor: Department of Geography	Chandernagore College, West Bengal<br>
                              biswasdebasmita23@gmail.com
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Joy Karmakar ">Joy Karmakar  </th>
                          <td data-tab="Joy Karmakar ">
                            <p>
                            SRF; Centre for Urban Economic Studies Department of Economics, University of Calcutta, Kolkata
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Ujjawal Dutta">Ujjawal Dutta</th>
                          <td data-tab="Ujjawal Dutta">
                            <p>
                            Research Scholar: Department of Geography	Seacom Skills University, Bolpur, Birbhum	
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Basudeb Halder">Basudeb Halder</th>
                          <td data-tab="Basudeb Halder">
                            <p>
                            Assistant Professor: Department of Geography  Sarat Centenary College, Hooghly West Bengal
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Dhiren Barman">Dhiren Barman</th>
                          <td data-tab="Dhiren Barman">
                            <p>
                            Research Scholar: Department of Geography	Seacom Skills University, Bolpur, Birbhuml
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <th data-tab="Pabitrajyoti Mondal">Pabitrajyoti Mondal</th>
                          <td data-tab="Pabitrajyoti Mondal">
                            <p>
                            Research Scholar: Department of Geography	Burdwan University, purba Bardhaman, West Bengal
                            </p>
                          </td>
                        </tr>

                      </table>

                    <p>(including President, Vice President, Secretary, Jt. Secretary, Treasurer, Asstt. Treasurer and Editor-in-Chief / Managing Editor)</p>

                </div>
            
            </div>
       </div>   
      </section>

{{>frontend_footer}}
      

<style>
   table td, table th{ vertical-align: top; padding: 7px; }
</style>