
 {{> header}}
 {{> sidebar}}

 
        <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        <h1>
            Admin Add
        </h1>
        
        </section>

        <!-- Main content -->
        <section class="content">

        <!-- Default box -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Admin Add</h3>
                </div>
                {{#if errors}}
                    <section class="error" style="margin-left: 10px;">                        
                        {{#each errors}}
                            <div style="color:red;" class="control-label">
                                <h5>{{this.msg}} </h5>
                            </div>
                        {{/each}}                        
                    </section>
                {{/if}}
                <form method="post" action="{{baseUrl}}/admin/page/edit">
                <div class="box-body">

                    <input type="hidden" name="page_id" value="{{result.page_id}}" class="form-control" id="title" />
                    <div class="row clearfix">

                        <div class="col-md-6">
                            <label for="title" class="control-label">Title</label>
                            <div class="form-group">
                                <input type="text" name="title" value="{{result.title}} " class="form-control" id="title" />
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="slug" class="control-label">Slug</label>
                            <div class="form-group">
                                <input type="text" name="slug" value="{{result.slug}}" class="form-control" id="slug" />
                                <span class="text-danger"></span>
                            </div>
                        </div> 

                        
                    </div>
                    <div class="row clearfix">     

                        <div class="col-md-12">
                            <label for="description" class="control-label">Description</label>
                            <div class="form-group">
                                <textarea rows="5" name="description" class="form-control" id="description" />{{result.description}}</textarea>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <label for="status" class="control-label">Status</label>
                            <div class="form-group1">
                                <input type="radio" name="status"  value="1" {{#equals result.status 'eq' 1 }}   checked {{/equals}}> Active
                                <input type="radio" name="status"  value="0" {{#equals result.status 'eq' 0 }}   checked {{/equals}}> Inactive
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="box-footer" id="submit">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
                </form>
                 
            </div>
        <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>


  <!-- Content Wrapper. Contains page content -->
 


<script>
  //iCheck for checkbox and radio inputs
   //$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({ checkboxClass: 'icheckbox_minimal-blue', radioClass : 'iradio_minimal-blue' })
  </script>
  <!-- /.content-wrapper -->
  
  {{> footer}}

  <script src="https://cdn.ckeditor.com/4.11.2/standard/ckeditor.js"></script>
  <script>
       CKEDITOR.replace('description');
  </script>