
 {{> header}}
 {{> sidebar}}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Page Management
            <small><a href="{{baseUrl}}/admin/page/add" class="btn btn-primary btn-sm">Add New</a> </small>
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">My Page </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="page" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="page_info">
                    <thead>
                    <tr>
                        <th>Title </th>
                        <th>Slug</th>
                        <th>Created Date</th>                        
                        <th>Stratus</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    {{#each result}}                 
                    
                    <tbody>
                        <tr role="row" class="odd">
                            <td>{{this.title}}</td>
                            <td>{{this.slug}}</td>
                            <td> {{this.created_date}}</td>
                            <td>
                                <a href="{{baseUrl}}/admin/page/status?page_id={{this.page_id}}">{{#equals this.status 'eq' 1 }} <span class="label label-success">Active</span>{{/equals}} {{#equals this.status 'eq' 0 }} <span class="label label-danger">Inactive</span>{{/equals}}</a> 
                            </td>
                            <td><div class="btn-group btn-group-xs"><a href="{{baseUrl}}/admin/page/edit?page_id={{this.page_id}}" class="btn btn-info">Edit</a> <a href="{{baseUrl}}/admin/page/delete?page_id={{this.page_id}}" class="btn btn-danger del">Delete</a></div> </td>
                        </tr>
                    </tbody>
                    {{/each}}
                    <tfoot>
                    <tr>
                        <th>Title</th>
                        <th>Slug</th>
                        <th>Created Date</th>                        
                        <th>Stratus</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>


  {{> footer}}

  <script>
      $(".del").click(function(){
            if (!confirm("Do you want to delete")){
                return false;
            }
        });
    $(document).ready(function() {
        $('#page').DataTable();
    } );
        
  </script>