 {{>frontend_header}}

 
    <section class="inner_page">
        <div class="container">
          <div class="row">
              
              <div class="col-sm-12">
                  <h2>Manuscript Submission</h2>
                    {{#if errors}}
                        <section class="error" >                        
                            {{#each errors}}
                                <div style="color:red;" class="control-label">
                                    <h5>{{this.msg}} </h5>
                                </div>
                            {{/each}}                        
                        </section>
                    {{/if}}
                <form method="post" enctype="multipart/form-data" action="{{baseUrl}}/manuscript/add">
                <div class="box-body">
                    <div class="row clearfix">

                        <div class="col-md-6">
                            <label for="title" class="control-label">Manuscript Title</label>
                            <div class="form-group">
                                <input type="text" name="title" value="" class="form-control" id="title" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <label for="written_by" class="control-label">Written By</label>
                            <div class="form-group">
                                <input type="text" name="written_by" value="" class="form-control" id="written_by" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                                              

                        <div class="col-md-6">
                            <label for="about_manuscript" class="control-label">Few Words about Manuscript</label>
                            <div class="form-group">
                                <textarea rows="3" name="about_manuscript" class="form-control" id="about_manuscript" /></textarea>
                                <span class="text-danger"></span>
                            </div>
                        </div>

                       
                        <div class="col-md-6">
                            <label for="Image" class="control-label">Upload Manuscript File:</label>
                            <div class="form-group">
                                <input type="file" id="image"  name="image" accept="image/*" >
                                <span class="text-danger"></span>
                            </div>
                        </div>                       
                    </div>
                    </div>
                
                <div class="box-footer" id="submit">
                    <button type="submit" class="btn btn-success edt"> Save</button>
                </div>
                </div>
                </form>
          </div>
       </div>   
      </section>

  <!-- Content Wrapper. Contains page content -->
 


<script>
  //iCheck for checkbox and radio inputs
   //$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({ checkboxClass: 'icheckbox_minimal-blue', radioClass : 'iradio_minimal-blue' })
  </script>
  <!-- /.content-wrapper -->
{{>frontend_footer}}

  <script src="https://cdn.ckeditor.com/4.11.2/standard/ckeditor.js"></script>
  <script>
      // CKEDITOR.replace('description');
       
  </script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js "></script>
{{!-- <script src="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></script> --}}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script>
$( "#year" ).datepicker();

  </script>