
 {{> header}}
 {{> sidebar}}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Article & Author Listing</h3>
                {{#if success}}
                    <section class="success" style="margin-top: 10px; margin-bottom: -20px;">
                        {{#each success}}
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{this.msg}}
                            </div>
                        {{/each}} 
                    </section>
                {{else}}
                {{#if errors}}
                    <section class="error" >                        
                        {{#each errors}}
                            <div style="color:red;" class="control-label">
                                <h5>{{this.msg}} </h5>
                            </div>
                        {{/each}}                        
                    </section>
                {{/if}}
                {{/if}}
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="journal1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="journal1_info">
                    <thead>
                    <tr>
                        <th>Title </th>
                        <th>Author</th>
                        <th>Created Date</th>       
                    </tr>
                    </thead>
                    {{#each result}}                 
                    
                    <tbody>
                        <tr role="row" class="odd">
                            <td>{{this.title}}</td>
                            <td>{{this.author}}</td>
                            <td> {{this.year}}</td>
                        </tr>
                    </tbody>
                    {{/each}}
                    <tfoot>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Created Date</th>   
                    </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>


  {{> footer}}

  <script>
      $(".del").click(function(){
            if (!confirm("Do you want to delete")){
                return false;
            }
        });

    $(document).ready(function() {
        $('#journal1').DataTable();
    } );
        
  </script>