
 {{> header}}
 {{> sidebar}}

 
        <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        <h1>
            Admin Add
        </h1>
        
        </section>

        <!-- Main content -->
        <section class="content">

        <!-- Default box -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Admin Add</h3>
                </div>
                {{#if errors}}
                    <section class="error" style="margin-left: 10px;">                        
                        {{#each errors}}
                            <div style="color:red;" class="control-label">
                                <h5>{{this.msg}} </h5>
                            </div>
                        {{/each}}                        
                    </section>
                {{/if}}
                <form method="post" enctype="multipart/form-data" action="{{baseUrl}}/admin/journal/edit">
                <div class="box-body">

                    <input type="hidden" name="journal_id" value="{{result.journal_id}}" class="form-control" id="title" />
                    <div class="row clearfix">

                        <div class="col-md-6">
                            <label for="title" class="control-label">Title</label>
                            <div class="form-group">
                                <input type="text" name="title" value="{{result.title}} " class="form-control" id="title" />
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="author" class="control-label">Author</label>
                            <div class="form-group">
                                <input type="text" name="author" value="{{result.author}}" class="form-control" id="author" />
                                <span class="text-danger"></span>
                            </div>
                        </div> 

                        
                    </div>
                    <div class="row clearfix">

                        <div class="col-md-6">
                            <label for="volume" class="control-label">Volume</label>
                            <div class="form-group">
                                <input type="text" name="volume" value="{{result.volume}}" class="form-control" id="volume" />
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="year" class="control-label">Year</label>
                            <div class="form-group">
                                <input type="text" name="year" value="{{result.year}}" class="form-control" id="year" />
                                <span class="text-danger"></span>
                            </div>
                        </div> 

                        
                    </div>
                    <div class="row clearfix">

                        <div class="col-md-6">
                            <label for="journal_no" class="control-label">Journal No</label>
                            <div class="form-group">
                                <input type="text" name="journal_no" value="{{result.journal_no}}" class="form-control" id="journal_no" />
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="issue" class="control-label">Issue</label>
                            <div class="form-group">
                                <select name="issue" id="issue" class="form-control">
                                    <option value="summer" {{#equals result.issue 'eq' "summer" }}   selected {{/equals}}>Summer or Spring Issue</option>
                                    <option value="winter" {{#equals result.issue 'eq' "winter" }}   selected {{/equals}}>Winter or Autumn or Fall Issue</option>
                                </select>

                                <span class="text-danger"></span>
                            </div>
                        </div> 

                        
                    </div>
                    <div class="row clearfix">     

                        <div class="col-md-12">
                            <label for="description" class="control-label">Description</label>
                            <div class="form-group">
                                <textarea rows="5" name="description" class="form-control" id="description" />{{result.description}}</textarea>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <label for="Image" class="control-label">Image</label>
                            <div class="form-group">
                                <input type="file" id="image" class="form-control" name="image" accept="image/*" >
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="status" class="control-label">Status</label>
                            <div class="form-group1">
                                <input type="radio" name="status"  value=1 {{#equals result.status 'eq' 1 }}   checked {{/equals}}> Active

                                <input type="radio" name="status"  value=0 {{#equals result.status 'eq' 0 }}   checked {{/equals}}> Inactive<br>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="box-footer" id="submit">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
                </form>
                 
            </div>
        <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>


  <!-- Content Wrapper. Contains page content -->
 


<script>
  //iCheck for checkbox and radio inputs
   //$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({ checkboxClass: 'icheckbox_minimal-blue', radioClass : 'iradio_minimal-blue' })
  </script>
  <!-- /.content-wrapper -->
  
  {{> footer}}

  <script src="https://cdn.ckeditor.com/4.11.2/standard/ckeditor.js"></script>
  <script>
      // CKEDITOR.replace('description');
  </script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js "></script>
{{!-- <script src="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></script> --}}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script>
$( "#year" ).datepicker();

  </script>