
 {{> admin_header}}
 {{> admin_sidebar}}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Dashboard</h1>
    </section>
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner" >
              <h3 style="margin-bottom: 35px;" >{{dashboard.last_count}}</h3>
              <p>Number of Views</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-eye" style="margin-top: 15px; "></i>
            </div>
            {{!-- <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a> --}}
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{members.length}}</h3>

              <p>No of Member Registrations</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-people" style="margin-top: 15px;"></i>
            </div>
            <a href="{{baseUrl}}/admin/member/listing" class="small-box-footer" style="float: left;
    padding: 3px 11px;">Member Listing</a>
            <a href="/documents/members.csv" target="_blank" class="small-box-footer">Download Csv</a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{journals.length}} </h3>

              <p>No of CVs</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-book" style="margin-top: 15px;"></i>
            </div>
            <a href="{{baseUrl}}/admin/dashboard/articleListing" class="small-box-footer" style="float: left; padding: 3px 11px;">Article Listing</a>
            <a href="/documents/articles.csv" target="_blank" class="small-box-footer">Download Csv</a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{journals.length}} </h3>

              <p>No of Applications</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-person" style="margin-top: 15px;"></i>
            </div>
            <a href="{{baseUrl}}/admin/dashboard/articleListing" class="small-box-footer" style="float: left; padding: 3px 11px;" >Author Listing</a>
            <a href="/documents/authors.csv" target="_blank" class="small-box-footer">Download Csv</a>
          </div>
        </div>
        <!-- ./col -->
      </div>
        <!-- /.box -->
       

    </section>
    <!-- /.content -->
</div>


  {{> footer}}

