
/*font*/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600|Work+Sans:200,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
}

body {
    font-style: normal;
    font-weight: normal;
    font-family: 'PT Sans', sans-serif;
}

img {
    max-width: 100%;
    transition: 0.3s;
}

.fix {
    overflow: hidden;
}

button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

/*a {
    color: #eee;
    transition: 0.3s;
}

a:focus,
.button:focus {
    text-decoration: none;
    outline: none;
    color: #fff;
}

a:focus,
a:hover,
.portfolio-cat a:hover {
    color: #16AFFF;
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

h1,
h2
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #000;
    text-transform: normal;
    font-family: 'Work Sans', sans-serif;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}
*/
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

hr {
    border-bottom: 1px solid #eceff8;
    border-top: 0 none;
    margin: 30px 0;
    padding: 0;
}

*::-moz-selection {
    background: #d6b161;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

*::-moz-placeholder {
    color: rgb(133, 133, 133);
    font-size: 13px;
    opacity: 1;
}

*::placeholder {
    color: rgb(133, 133, 133);
    font-size: 13px;
    opacity: 1;
}

.separator {
    border-top: 1px solid #f2f2f2;
}

section {
    width: 100%;
    float: left;
}

.bg-gray {
    background: #f7f7f7;
}

.bg-fixed {
    background-attachment: fixed;
}

.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


/* 2.header */



.logo-area a img {
    max-width: 115px;
    padding-top: 24px;
}

.menu-area {
    text-align: right;
}

.menu-area ul li {
    display: inline-block;
    margin-right: 28px;
    line-height: 70px;
}

.menu-area ul li a {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    position: relative;
}

.menu-area ul li a:before {
    position: absolute;
    content: "";
    bottom: -12px;
    left: 0;
    width: 0;
    height: 2px;
    background: #0bab47;
    transition: 0.3s;
}

.menu-area ul li a:hover:before {
    width: 100%;
}

.fixed-header {
    position: fixed;
    top: 0;
    z-index: 999;
    left: 0;
    right: 0;
}

.header-area.fixed-header {
    background: #e2ecf1;
    height: 70px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.118)
}

.fixed-header .menu-area ul li a {
    color: #000;
}


/* 3.banner-area */

.banner {
    position: relative;
    height: 165px;
    width: 100%;
    background-color: #000;
    overflow: hidden;
    margin-top: 70px;
}

.banner-bg {
    position: absolute;
    height: 220px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 33;
    background-size: cover;
}

.banner-overlay {
    width: 100%;
    height: 220px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgba(71, 67, 241, 0.7);
}

.banner-content {
    height: 165px;
}

.banner-content h1 {
    font-size: 60px;
    color: #fff;
    line-height: 1;
    letter-spacing: 1px;
}

.banner-content p {
    color: #fff;
    font-size: 20px;
}

.chekbox-container {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chekbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.chekbox-container:hover input~.checkmark {
    background-color: #ccc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.chekbox-container input:checked~.checkmark:after {
    display: block;
}

.chekbox-container .checkmark::after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #333;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.left-menu-title {
    color: #16AFFF;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 1;
}

.main-content {
    background: #E5E5E5;
    padding: 20px 0;
}

.left-menu {
    background: #fff;
    padding: 15px 20px;
    border-top: 3px solid #16AFFF;
}

.left-menu-checkboxlist li {
    margin-bottom: 7px;
}

.left-menu-checkboxlist {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 0.5px solid #9A9A9A;
}

.left-menu-checkboxlist:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.joblist_header h2 {
    font-size: 22px;
    font-weight: 600;
    color: #16AFFF;
    letter-spacing: 0.2px;
}

.joblist_header {
    background: #fff;
    padding: 15px 20px;
    border-top: 3px solid #16AFFF;
    margin-bottom: 15px;
}

.joblist_header span {
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
}

.ps-relative {
    position: relative;
}

.single_job {
    padding: 15px;
    background: #fff;
    margin-bottom: 15px;
}

.single_job:last-child {
    margin-bottom: 0px;
}

.single_job h3 {
    color: #16AFFF;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.single_job ul li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
}

.single_job ul li:last-child {
    margin-bottom: 0px;
}

.single_job ul li i {
    margin-right: 8px;
}

.single_job ul {
    margin-bottom: 15px;
}

.single_job ul {
    max-width: 400px;
}

.single_job p {
    max-width: 604px;
}

.single_job .cmn_btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.footer-area {
    width: 100%;
    float: left;
    background: #2F2F2F;
    padding: 0px 40px;
}

.footer_cont p {
    font-size: 16px;
    color: #ddd;
    margin: 0;
}

.footer_cont{padding: 50px 0; display: flex; justify-content: space-between;}

.social_icon li {
    display: inline-block;
    margin-left: 20px;
}

.social_icon li i {
    font-size: 22px;
    transition: .3s;
}

.social_icon li:hover i {
    color: #16AFFF;
}

.job_filter span {
    font-size: 18px;
    font-weight: 600;
}

.job_filter {
    position: fixed;
    bottom: 0;
    background: rgb(3, 138, 211);
    width: 100%;
    left: 0;
    right: 0;
    padding: 10px 10px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: none;
}

.job_filter i {
    margin-right: 10px;
}


/* location-html */

.map-area iframe {
    width: 100%;
    height: 300px;
    border: 0px;
}

.apply_btn_area .cmn_btn {
    position: relative;
    margin-top: 25px;
    padding: 10px 38px;
}

.single_job_btm_cont {
    max-width: 100% !important;
    margin-top: 15px !important;
}

.single_job_btm_cont li {
    margin: 0 0 7px 0 !important;
}

.single_job_btm_cont li {
    position: relative;
    padding-left: 12px;
}

.single_job_btm_cont li::before {
    position: absolute;
    left: 0;
    font-family: 'fontAwesome';
    color: #333;
    content: "\f111";
    font-size: 8px;
    margin-top: 6px;
}

#nextBtn {
    background: #69BE61;
    border: 1px solid #69BE61;
    color: #fff;
    line-height: 1;
    padding: 9px 5px;
    width: 80px;
    border-radius: 4px;
}


/* personal-form-css */

.personal-form {
    margin-top: 70px;
    background: #EEEEF6;
    padding-top: 30px;
}

.personal_form-content {
    padding: 20px;
    background: #fff;
    border-top: 3px solid #16AFFF;
    margin-bottom: 20px;
}

.select-input-style {
    position: relative;
}

.select-input-style::after {
    position: absolute;
    content: "\f0d7";
    right: 10px;
    top: 6px;
    color: #333;
    font-size: 16px;
    font-family: "fontAwesome";
    pointer-events: none;
}

.select-input-style .form-control {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    height: 35px !important;
    font-size: 14px;
    background: #F5F5F5;
    border: 0.5px solid #9A9A9A;
    color: #333;
    width: 87px;
}

.input-label {
    font-size: 16px;
    margin: 0;
    width: 100px;
}

.input-label i {
    margin-right: 4px;
    font-size: 14px;
}

.input-label img {
    width: 15px;
    margin-right: 4px;
}

.input-bundle {
    width: calc(100% - 100px);
    margin: 0;
}

.input-style input {
    background: #F5F5F5;
    border: 0.5px solid #9A9A9A;
    height: 35px;
    border-radius: 4px;
    width: 100%;
    padding: 5px 10px;
}

.input-style2 input {
    background: #fff;
    border: 0.5px solid #C8C8C8;
    height: 35px;
    border-radius: 4px;
    width: 100%;
    padding: 5px 10px;
}

.single-row {
    margin-bottom: 15px;
}

.greybg_area {
    padding: 25px 15px 10px 15px;
    background: #F1F1F1;
    border-radius: 10px;
}

.transport_checkbox_area .chekbox-container {
    width: 110px;
}

.transport-content h3 {
    font-size: 16px;
    margin-bottom: 20px;
}

.transport-content h3 i {
    font-size: 16px;
    margin-right: 5px;
}

.refered_by_area label {
    font-size: 14px;
    width: 100px;
}

.refered-by-cont {
    width: calc(100% - 100px);
    padding: 0 15px;
}

.refered-by-cont-row .chekbox-container {
    width: 100px;
}

.refered-by-cont-row .input-style {
    width: calc(100% - 100px);
}

.pl-15 {
    padding-left: 15px;
}

.proceed_btn_area {
    margin-top: 30px;
    margin-bottom: 25px;
}

.remember-check_area .checkmark {
    background: #fff;
}

.select-input-style {
    width: 102px;
}

.name_area {
    width: calc(100% - 100px);
}

.name_area .input-style {
    width: calc(100% - 102px);
    padding: 0 15px;
}


/* 20-4-2020-work */

.job-description_area {
    order: 1;
}

.map-area {
    order: 2;
    margin-bottom: 15px;
}

.apply_btn_area {
    order: 3;
}

.job-description {
    height: 45px;
    overflow: hidden;
}

.job-description.job-description-full {
    height: auto !important;
}

.job-description.job-description-full .job-description_area p {
    width: 100% !important;
    max-width: 100% !important;
}

.job-description.job-description-full .job-description_area {
    order: 2;
}

.job-description.job-description-full .map-area {
    order: 1;
}


/* form-2-html */

.nav-check {
    background: #EEEEF6;
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    border: 0.5px solid #9A9A9A;
    line-height: 10px;
	position: absolute;
	right: 15px;
	z-index: 99;
	top: 10px;
}


/* .nav-check::after {
	position: absolute;
	content: "";
	width: 25px;
	height: 25px;
	background: #ef1818;
	border-radius: 50%;
	left: 0;
	right: 0;
	 margin: 0 auto; 
} */

.nav-link {
    background: #F4F4F4;
    border-radius: 5px;
    margin-bottom: 7px;
    color: #333333;
    font-size: 14px;
    position: relative;
}

.nav-check i {
    font-size: 10px;
	opacity: 0;
	margin-top: 2px;
}

.nav-link.active {
    background: #FFFFFF !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    color: #333 !important;
    font-weight: 600 !important;
}

.nav-link.complete .nav-check {
    background: #4CC363;
    ;
}

.nav-link.complete .nav-check i {
    color: #fff;
    opacity: 1;
}

.form-layout {
    border-top: 3px solid #16AFFF;
    background: #fff;
    padding: 20px;
}

.check-box-label {
    font-size: 14px;
    margin-bottom: 12px;
}

.check-box-label span {
    font-weight: 400;
    color: #333;
}

.mb-20 {
    margin-bottom: 20px;
}

.profile-description-left-conts {
    padding-left: 10px;
}

.profile-description-left-conts span {
    color: #000;
    font-weight: 600;
}

.profile-description-left-conts p {
    font-size: 14px;
    margin-bottom: 3px;
}

.profile-description-right p {
    margin-bottom: 3px;
    font-size: 14px;
    color: #333;
}

.profile-description-right p i {
    margin-right: 5px;
}

.profile-description-left {
    max-width: 400px;
}

.next-btn-area {
    margin-top: 20px;
}

.next-btn-area .cmn_btn {
    width: 100px;
}

.step-form-area.personal-form {
    padding-bottom: 50px;
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 27px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #d8d8d8;
    border-radius: 50%;
    border: 1px solid #bababa;
}

.radio-container:hover input~.checkmark2 {
    background-color: #ccc;
}

.radio-container input:checked~.checkmark2 {
    background-color: #2196F3;
}

.checkmark2:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked~.checkmark2:after {
    display: block;
}

.radio-container .checkmark2:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.checkbox-area {
    margin-bottom: 20px;
}

.checkbox-area>span {
    margin-right: 0;
    color: #333;
    font-size: 14px;
    line-height: 1;
    width: 113px;
    display: inline-block;
}


/* steeper */

.steeper_area ul li {
    margin: 0 90px;
    position: relative;
}

.steeper-check i {
    font-size: 9px;
    color: #fff;
    opacity: 0;
}

.steeper-check {
    width: 17px;
    height: 17px;
    background: #C8EFCF;
    border-radius: 50%;
    display: inline-block;
    line-height: 13px;
    text-align: center;
    border: 2px solid #fff;
    box-sizing: content-box;
}

.steeper_area ul li p {
    position: absolute;
    top: -16px;
    font-size: 12px;
    line-height: 1;
    width: 132px;
    left: 50%;
    right: 0;
    margin: 0 auto;
    transform: translateX(-50%);
    text-align: center;
}

.steeper_area ul li {
    margin: 0 90px;
    position: relative;
}

.steeper_area {
    margin: 50px 0 35px 0;
}

.steeper_area::before {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 4px;
    background: #fff;
    content: "";
    z-index: -1;
}

.steeper_area {
    margin: 50px 0 35px 0;
    position: relative;
    z-index: 9;
}

.process-line::after,
.active-line::after {
    position: absolute;
    top: 0;
    right: 1px;
    width: 200px;
    background: rgb(243, 200, 7);
    ;
    content: "";
    height: 4px;
    top: 50%;
    z-index: -1;
}

.active-line::after {
    background: #4CC363;
}

.steeper_area ul li:first-child:after {
    width: 2000px;
}


/* comment on later */


/* .active-line .steeper-check {
    background: #4CC363;
}

.active-line .steeper-check i {
    opacity: 1;
} */


/* comment on later */

.accordian-head {
    background: rgb(3, 138, 211);
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

.accordian-head span {
    line-height: 1;
    font-size: 15px;
    font-weight: 600;
}

.collapse-content {
    padding: 10px;
}

.steeper_area ul li a {
    padding: 0;
    margin: 0;
    background: transparent !important;
    box-shadow: none !important;
}

.steeper_area ul li .nav-link.active {
    background: transparent !important;
    box-shadow: none !important;
}


/* 24-04-2020-work */

.mt-50 {
    margin-top: 50px;
}

.transport_checkbox_area label {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-right: 20px;
}

.transport_checkbox_area label input {
    margin-left: 5px;
    margin-top: 2px;
}

.tab-content .left-menu-title {
    margin-top: 30px;
}

.second-input-design {
    margin-bottom: 12px;
}

.second-input-design label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
    display: block;
}

.textarea-style textarea {
    background: #F5F5F5;
    border: 0.5px solid #9A9A9A;
    resize: none;
    border-radius: 4px;
    width: 100%;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}
.terms_conditions_area {
	margin-bottom: 15px;
}
.login-box {
	max-width: 500px;
	margin: 0 auto;
	background: #fff;
	padding: 30px;
	border-top: 3px solid #16AFFF;
}
.login-box .input-style {
	margin-bottom: 20px;
}





/*new css for profile page*/

.wrapper{
    width: 100%;
    height: auto;
    margin: 0px auto;
    padding-left: 220px;
    position: relative;
    -webkit-transition: all 300ms ease-out 0s;
    -moz-transition: all 300ms ease-out 0s;
    -ms-transition: all 300ms ease-out 0s;
    -o-transition: all 300ms ease-out 0s;
    transition: all 300ms ease-out 0s;
}
nav{width: 220px; background: #f6f6f6; position: fixed; left: 0; top: 0; z-index: 10003; height: 100%; border-right: solid 1px #3239431a;
    -webkit-transition: all 300ms ease-out 0s; -moz-transition: all 300ms ease-out 0s; -ms-transition: all 300ms ease-out 0s; -o-transition: all 300ms ease-out 0s;
    transition: all 300ms ease-out 0s; }


.logo_laptop {
    width: 220px;
    height: 80px;
    display: block;
    padding: 20px 0px;
    text-align: center;
    background: #eee;
    margin-bottom: 30px;
}

.accordion li {
    list-style: none;
    width: 220px;
    height: 70px;
    overflow: hidden;
    position: relative;
}
.accordion li a {
    display: block;
    white-space: nowrap;
    padding: 17px 0px;
    width: 90px;
    position: relative;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    -webkit-transition: all 300ms ease-out 0s;
    -moz-transition: all 300ms ease-out 0s;
    -ms-transition: all 300ms ease-out 0s;
    -o-transition: all 300ms ease-out 0s;
    transition: all 300ms ease-out 0s;
}
.accordion li:hover a{color: #fff; padding: 17px 0px;}
.accordion li:hover a span{color: #fff; overflow: visible; }
.accordion li:hover a img{}
.accordion li:hover{background: #0a94dd; overflow: visible; cursor: pointer;}



.accordion li a span{
    margin-right: 0px;
    width: 60px;
    display: inline-block;
    height: 25px;
    overflow: hidden;
    position: relative;
    top: 6px;
}
.accordion li a span img{
    width: 25px;
    position: absolute;
    bottom: 0px;
    left: 30%;
    -webkit-transition: all 300ms ease-out 0s;
    -moz-transition: all 300ms ease-out 0s;
    -ms-transition: all 300ms ease-out 0s;
    -o-transition: all 300ms ease-out 0s;
    transition: all 300ms ease-out 0s;
}
/*.accordion li.has-dropdown: a::after {
    position: absolute;
    right: -125%;
    top: 22px;
    display: block;
    content: "\f0da";
    font-family: 'FontAwesome';
    font-size: 20px;
    color: #fff;
}*/
.accordion li.has-dropdown:hover a::after {
    position: absolute;
    right: -125%;
    top: 22px;
    display: block;
    content: "\f0da";
    font-family: 'FontAwesome';
    font-size: 20px;
    color: #fff;
}
.accordion li.has-dropdown .sub-menu {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 999;
    top: 70px;
    width: 220px;
    background-color: #515964;
}
.accordion li.has-dropdown .sub-menu.show-sub-menu{display: block;}
.accordion li.has-dropdown a.active{transition: all.3s;}
.accordion li.has-dropdown a.active::after{transition: all.3s; transform: rotate(90deg);}
.accordion li.has-dropdown .sub-menu li:hover{margin-bottom: 0px; background-color: transparent;}
.accordion li.has-dropdown .sub-menu li:hover a{background-color: transparent;}
.accordion li.has-dropdown .sub-menu li{margin-bottom: 0px; width: 100%; list-style-type: none; text-align: left; height: inherit;}
.accordion li.has-dropdown .sub-menu li a{
    font-size: 15px;
    padding: 8px 0px;
    padding-left: 30px;
    color: #fff;
}
.accordion li.has-dropdown .sub-menu li a::after{font-size: 0;}
.accordion li.has-dropdown .sub-menu li a:hover{color: #0a94dd;}
.accordion li.has-dropdown .sub-menu li:first-child a{padding-top: 16px;}
.accordion li.has-dropdown .sub-menu li:last-child a{padding-bottom: 16px;}

header{
    height: 80px;
    width: 100%;
    background: #f6f6f6;
    padding-left: 220px;
    -moz-box-shadow: 0px 0px 20px rgba(50,57,67,0.1);
    -webkit-box-shadow: 0px 0px 20px rgba(50,57,67,0.1);
    -o-box-shadow: 0px 0px 20px rgba(50,57,67,0.1);
    -ms-box-shadow: 0px 0px 20px rgba(50,57,67,0.1);
    box-shadow: 0px 0px 20px #f9fafa;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1001;
    -webkit-transition: all 300ms ease-out 0s;
    -moz-transition: all 300ms ease-out 0s;
    -ms-transition: all 300ms ease-out 0s;
    -o-transition: all 300ms ease-out 0s;
}

.menu-btn{display: block; margin-left: 40px; margin-top: 32px; float: left;}
.menu-btn span{background-color: #16afff; border-radius: 25px;
    display: block;
    margin-bottom: 6px;
    width: 25px;
    height: 2px;
    -webkit-transition: all 300ms ease-out 0s;
    -moz-transition: all 300ms ease-out 0s;
    -ms-transition: all 300ms ease-out 0s;
    -o-transition: all 300ms ease-out 0s;
    transition: all 300ms ease-out 0s;
}
.menu-btn:hover span{background-color: #323943;}

/*sidebar hide*/
.wrapper.sidebar_hide{padding-left: 90px;}
.wrapper.sidebar_hide header{padding-left: 90px;}
.wrapper.sidebar_hide nav{width: 90px;}
.wrapper.sidebar_hide nav a{font-size: 0;}
.wrapper.sidebar_hide nav a.logo_laptop{width: 90px;}
.wrapper.sidebar_hide nav ul.accordion li{width: 90px;}
.wrapper.sidebar_hide nav ul.accordion li.has-dropdown:hover a::after{font-size: 0;}
/*sidebar hide*/

.profile-button-wrap{
    width: 250px;
    position: relative;
    float: right;
    height: 80px;
    cursor: pointer;
    margin-right: 15px;
}
.profile-button-wrap:hover{background-color: #0a94dd;}
.profile-button-wrap:hover .profile-name{color: #fff;}
.profile-button{height: 80px;}
.profile-image{float: right; width: 45px; height: 45px; border-radius: 50%; overflow: hidden; margin-right: 25px; margin-top: 17px;}
a.profile-name{text-decoration: none; display: inline-block; font-size: 14px; font-weight: 600; float: left; padding-left: 25px; margin-top: 28px; color: #323943;}
.profile-dropdown{transform: scale(0); transform-origin: top right; float: right !important; margin-right: 0px; margin-top: 0px;
        box-shadow: 0px 5px 10px #f9fafa; width: 250px; padding: 0px 0; background-color: #f6f6f6; text-align: left; transition: all .15s linear;}
.profile-dropdown-icon{display: inline-block; width: 30px; text-align: left;}
.profile-dropdown li{list-style-type: none; padding: 6px 20px; transition: all .4s;}
.profile-dropdown li:first-child{padding-top: 12px;}
.profile-dropdown li a{font-size: 14px; color: #333; text-decoration: none; transition: all .4s;}
.profile-dropdown li:hover{background-color: #0a94dd; transition: all .4s;}
.profile-dropdown li:hover a{ color: #fff; transition: all .4s;}
.profile-button-wrap.open-dropdown .profile-dropdown{display: block; transform: scale(1); transform-origin: top right; transition: all .15s linear;}

.notification-wrap{position: relative; height: 80px; width: 80px; text-align: center; margin-right: 10px; cursor: pointer;}
.notification-wrap:hover{background-color: #0a94dd;}
.notification-wrap:hover .bell{color: #fff;}
.bell{position: relative; display: inline-block; max-width: 100%; margin-top: 13px; font-size: 36px; color: #323943;}
.bell img{ max-width: 100%; height: 30px; margin-top: 13px;}
.bell-badge{text-decoration: none; background-color: #ff5252; color: #fff; font-size: 11px; padding: 1px 7px; border-radius: 20px; position: absolute; top: 5px; left: 15px;}
.notifictaion_dropdown{position: absolute; top: 80px; right: 0; min-width: 400px; padding: 0; transform: scale(0); transform-origin: top right; float: right !important;
    box-shadow: 0px 5px 10px #f9fafa; background-color: #f8fffd; text-align: left; transition: all .15s linear; max-height: 320px; overflow-y: scroll;}
.notifictaion_dropdown li{padding: 20px 15px; border-bottom: 1px dotted #d6d6d7;}
a.notifictaion{text-decoration: none; font-size: 14px; color: #323943; line-height: 17px;}
.notify_icons{display: block; font-size: 12px; color: #323943ad; margin-top: 6px;}
.notify_icons i{margin-right: 10px;}
.notification-wrap.open-dropdown .notifictaion_dropdown{display: block; transform: scale(1); transform-origin: top right; transition: all .15s linear;}

.body-main{width: 100%; height: 100%; margin-top: 0px !important; padding: 120px 40px 40px 40px;}
.body-heading{text-align: center;}
.body-heading span{display: inline-block; color: #323943; margin-bottom: 40px; font-size: 20px; line-height: 24px; border-bottom: 1px dotted #000;}
.body-content{width: 100%; padding: 30px; background-color: #f8f8f8; border-radius: 4px;}
.body-nav{margin-left: -30px; margin-right: -30px; margin-top: -30px; text-align: center;}
.body-nav ul.nav.nav-tabs{text-align: center; list-style: none; border-bottom: solid 1px #dde5e7; margin-bottom: 0px !important;}
.body-nav ul li{display: inline-block;}
.body-nav ul li a{text-decoration: none; display: inline-block; padding: 22px 25px; margin-right: 25px; font-size: 16px; color: #323943; font-weight: 500;}
.body-nav ul li a.active{border-bottom: solid 4px #16afff; color: #16afff;}
.body-nav ul li a:hover{border-bottom: solid 4px #16afff; color: #16afff;}

.profile-body{padding: 40px 0px 15px;}

.nav-tabs{text-align: center;}
.body-nav-check b{margin-right: 10px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    background-color: #f9f9f9;
    border-radius: 100%;
    font-weight: normal;
}
.body-nav-check b i{color: transparent;}

.basic_info_zone form{width: 100%;}
.basic_info_zone form h5{font-size: 16px; font-weight: 400; color: #323943;}
.basic_info_fld{width: 100%; height: 60px; line-height: 60px; background:none; outline: none; box-shadow: none; border: 1px solid #c4c4c4; border-radius: 6px;
    padding: 0px 12px; color: #323943; font-size: 14px; margin-bottom: 25px;}
.basic_info_fld:focus{border: 1px solid #777878;}
.write_about_you:focus{border: 1px solid #777878;}
.write_about_you{width: 100%; height: 150px; background: none; border-radius: 6px; border: 1px solid #c4c4c4; outline: none; box-shadow: none; resize: none;
    padding: 12px; font-size: 14px; margin-bottom: 25px; color: #323943;}
.cv{margin-bottom: 30px;}

.btn-update{float: right; border: none; outline: none;box-shadow: none; font-size: 16px; padding: 15px 35px; color: #fff; background-color: #0a94dd; border-radius: 4px; text-transform: capitalize; cursor: pointer; transition: all 0.3s;}
.btn-update:hover{background-color: #3328bc;}
.button-wrap{padding-top: 40px; padding-bottom: 40px;}
.cv_input{font-size: 16px; font-weight: 400; color: #323943; margin-right: 40px;}
.skill_label{font-size: 16px; font-weight: 400; color: #323943; display: block; margin-bottom: 10px;}
.skills_option_zone{width: 100%; margin-bottom: 25px;}
.body_overlay{display: none; position: absolute; height: 100%; width: 100%; left:0px; top: 0px; background: rgba(0,0,0,0.6); z-index: 9999;}

/*end profile page*/




/*start css for register page*/

.header-area{height: 80px; position: fixed; z-index: 999; left: 0; right: 0; width: 100%; padding-left: 0px; transition: 0.5s; background: #e2ecf1;}
.desktop-view-menu-area{display: flex; justify-content: space-between; align-items: center; height: 80px;}
.header_btn { background: #459f0f; color: #fff; border: 1px solid transparent; border-radius: 4px; font-size: 14px; font-family: 'lato'; font-weight: 600; padding: 10px 25px;
    line-height: 1; border-radius: 4px; transition: 0.3s; cursor: pointer; margin-left: 10px;}
.header_btn:hover{background: none; color: #323943; border: 1px solid #393243;}
.btn_blue{background: #0b7bb6;}

.register{width: 100%; text-align: center; padding: 50px 0px; margin-top: 80px; font-family: 'lato';}
.register-form{width: 70%; min-width: 70%; text-align: left; margin: 50px auto; background-color: #f8fffd; border-radius: 10px; padding: 55px 30px 20px; transition: all 0.4s;}
.register-form:hover{box-shadow: 0px 6px 42px -25px #111;}
.register-form-head{display: inline-block; font-size: 36px; font-weight: 300; color: #323943; line-height: normal; margin-bottom: 15px;}
.form-heading{font-size: 14px; font-weight: 900; letter-spacing: 0.5px; color: #323943; line-height: normal; margin-bottom: 18px;}
.hr-line span{display: inline-block; width: 50px; height: 3px;}
.hr-line span:nth-child(1){ background: #459f0f;}
.hr-line span:nth-child(2){ background: #e2ecf1;}
.hr-line span:nth-child(3){ background: #0b7bb6;}

.register-field{width: 100%; height: 48px; line-height: 48px; padding: 0px 14px; outline: none; box-shadow: none; border: 1px solid #c4c4c4; border-radius: 4px; 
    background-color: #fafcff; margin-bottom: 20px; font-size: 16px; color: #000;}
.register-field:focus{border: 1px solid #000;}
.register-field::placeholder{font-size: 16px; color: #212529;}
.checktoregister{width: 100%; text-align: left; margin-top: 15px;}
.checkin{vertical-align: middle; width: 13px; height: 13px;}
.agree-withterms{font-size: 16px; color: #000; padding-left: 10px;}
.agree-withterms a{text-decoration: none; font-size: 16px; color: #16afff;}
p.have_account{text-align: left; padding-left: 23px; font-size: 16px; margin: 15px 0px 40px;}
p.have_account a{text-decoration: none; font-size: 16px; color: #16afff;}

.button-wrap{width: 100%; text-align: center;}
.btn-register{border: none; outline: none;box-shadow: none; width: 48%; text-align: center; font-size: 16px; padding: 10px 0px; color: #fff; 
    background: #0b7bb6; border-radius: 6px; text-transform: capitalize; cursor: pointer; transition: all 0.3s;}
.btn-register:hover{background-color: #5045d5;}
.error_show{display: inline-block; background: #f8cdd3; border-radius: 4px; font-size: 13px; padding: 10px 12px; margin-bottom: 20px;}
a.verify-email{text-decoration: none; background: #53c50f; padding: 6px 8px; color: #fff; border-radius: 4px; margin-left: 8px; 
    cursor: pointer; font-size: 13px;}
.success_show{display: inline-block; background: #c5f2ab; border-radius: 4px; font-size: 13px; padding: 10px 12px; margin-bottom: 20px; color: #323943;}
a.success{padding: 6px 8px; font-size: 13px; text-decoration: none; color: #459f0f; background: #fff; border-radius: 4px; margin-left: 8px;}

/*end register page*/

/*start css for login page*/
.login_form{width: 50%; min-width: 50%; margin: 50px auto; background-color: #f8fffd; border-radius: 10px; padding: 55px 30px 20px; transition: all 0.4s;}
.login_form:hover{box-shadow: 0px 6px 42px -25px #111;}
.login_form .register-field{margin-bottom: 30px;}
.get_account{float: left; display: inline-block; text-align: left; font-size: 16px; margin-bottom: 40px;}
.get_account a{text-decoration: none; font-size: 16px;}
.forgot_pass{float: right;}

/*css for landing pages*/
.bg_light{background: #f8f8f8;}
.header-content{height: 80px; display: flex; justify-content: flex-start; align-items: center;}
.menu_left_zone{padding-left: 30px; list-style: none;}
.menu_left_zone li{list-style-type: none; display: inline-block; height: 80px; line-height: 80px; padding: 0px 12px; cursor: pointer;}
.menu_left_zone li a{text-decoration: none; text-transform: capitalize; font-size: 16px; color: #205095;}
.menu_left_zone li:hover{border-bottom: 2px solid #323943;}
.menu_left_zone li:hover a{color: #323943;}
.menu_right_zone{padding: 0px; list-style: none;}
.menu_right_zone li{list-style-type: none; display: inline-block; height: 80px; line-height: 80px; padding: 0px 12px; cursor: pointer;}
.menu_right_zone li:hover{border-bottom: 2px solid #323943;}
.menu_right_zone li:last-child:hover{border-bottom: 2px solid transparent;}
.menu_right_zone li a{text-decoration: none; text-transform: capitalize; font-size: 16px; color: #205095;}
.menu_right_zone li:hover a{color: #323943;}

.body_content{margin-top: 80px; padding: 70px 0px;}.commmon_search_zone{padding: 30px 20px;}
.left_column{background-color: #f8fffd; padding: 30px 15px; min-height: 270px;}
.right_column{}
.find_job_form{}

.findjob{text-align: center; font-size: 20px; color: #5b5b5b; line-height: 28px; margin-bottom: 30px;}
.findjob span{border-bottom: 1px dotted #000; }
.job_search_input{width: 100%; height: 45px; line-height: 45px; padding: 0px 12px; font-size: 16px; color: #323943; border: 1px solid #8b8a8a;outline: none; 
    margin-bottom: 30px; background-color: transparent; background-image: url(img/search.png); background-repeat: no-repeat; background-position: 96% center;}
.bg_place{background-image: url(img/geo.png);}
.job_search_input:focus{background-image: none; box-shadow: 0px 6px 15px #cecece; border: 1px solid #323943;}
.job_search_input::placeholder{font-size: 16px;}
.search_job_btn{background: #2080a1; color: #fff; font-size: 16px; font-weight: 600;outline: none;box-shadow: none;padding: 10px 40px; border: 1px solid transparent;
    margin: 0px auto; cursor: pointer;}
.search_job_btn i{padding-right: 10px;}
.search_job_btn:hover{background-color: #0f6b8b;}

.post_something{min-height: 270px; border: 1px solid #333; text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.post{margin-bottom: 25px; font-size: 17px; line-height: normal; color: #323943;}
.post:last-child{margin-bottom: 0px;}
.post a{text-decoration: none; font-size: 20px; color: #fff; background-color: #2080a1; padding: 15px 40px; display: block; margin-bottom: 4px;}
.post a:hover{background-color: #0f6b8b;}
.post a i{padding-right: 10px;}

.search_history{width: 50%; margin: 0px auto; padding: 60px 25px 0px;}
.job_title_history{background-color: #efefef; padding: 12px 20px; display: flex; justify-content: space-between; margin-bottom: 8px;}
.job_title_history a{text-decoration: none; font-size: 16px; color: #323943;}
.new_jos_count{font-size: 14px; padding-right: 10px;}

.error_job_search{display: none; background-color: #f8cdd3; padding: 12px; width: 100%; margin-bottom: 30px; color: #323943; text-align: center; font-size: 13px;}
.error_search{display: inline-block; width: 30px; text-align: left;}
.error_search img{width: 20px; height: auto;}



@media (max-width: 1200px)
{
    .wrapper{padding-left: 0px !important;}
    nav{display: none !important; overflow: auto; -webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); 
        -moz-transform: translateX(-100%); transform: translateX(-100%);}
    header{padding-left: 0px;}
    .wrapper.sidebar_hide nav a.logo_laptop{width: 220px;}
    nav.show_nav{display: block !important; width: 220px !important; border: none; -webkit-transform: translateX(0%); -ms-transform: translateX(0%); 
        -o-transform: translateX(0%); -moz-transform: translateX(0%); transform: translateX(0%);}
    .body_overlay.show_overlay{display: block;}
    .wrapper.sidebar_hide nav ul.accordion li{width: 220px;}
    .wrapper.sidebar_hide nav a{font-size: 16px;}
    .wrapper.sidebar_hide nav ul.accordion li.has-dropdown:hover a::after{font-size: 20px;}
    .wrapper.sidebar_hide nav ul.accordion li.has-dropdown:hover .sub-menu li a::after{font-size: 0;}
}





@media (max-width: 767px)
{
    /*start css for profile page*/
    .profile-button-wrap{width: 230px; margin-right: 40px;}
    .profile-image{margin-right: 15px;}
    a.profile-name{padding-left: 15px;}
    .profile-dropdown{width: 230px;}
    .bell{font-size: 30px;}


    /*start css for register page*/
    .header_btn{padding: 10px 20px; font-size: 13px;}
    .register-form{width: 100%; padding-left: 15px; padding-right: 15px; margin: 20px auto;}
    .register-form-head{font-size: 22px;}
    .register-field{height: 40px; line-height: 40px; font-size: 14px; margin-bottom: 16px;}
    .register-field::placeholder{font-size: 14px;}
    .hr-line span{width: 38px;}
    .checkin{height: 11px; width: 11px;}
    .agree-withterms{font-size: 13px; padding-left: 6px;}
    .agree-withterms a{font-size: 13px;}
    p.have_account{padding-left: 17px; font-size: 13px; margin-bottom: 20px;}
    p.have_account a{font-size: 13px;}
    .btn-register{font-size: 13px;}
    .footer_cont{padding: 25px 15px;}
    .footer-area{padding: 0px 10px;}
    .footer_cont p{font-size: 13px;}
    .social_icon li{margin-left: 10px;}
    .social_icon li i{font-size: 18px;}
    .register{padding: 30px 0px;}


    /*start css for login page*/

    .login_form{min-width: 100%; margin: 20px auto;}
    .get_account{display: block; font-size: 13px; margin-bottom: 15px;}
    .get_account a{font-size: 13px;}
    .forgot_pass{float: left; display: block;}
}


@media (max-width: 480px)
{
    .menu-btn span{width: 20px; margin-bottom: 4px;}
    .menu-btn{margin-left: 10px;}
    .profile-button-wrap{width: inherit; margin-right: 10px;}
    .profile-image{margin-right: 12px; height: 35px; width: 35px; margin-top: 22px;}
    a.profile-name{float: none; padding-right: 5px; margin-top: 30px;}
    .notification-wrap{width: 42px;}
    .notification-wrap.pull-right{float: none !important;}
    .bell{font-size: 30px; margin-top: 22px; padding-left: 3px;}
    .bell-badge{font-size: 9px; padding: 1px 4px; top: 0px; left: 8px;}
    .notifictaion_dropdown{min-width: 200px; left: 0 !important;}
    .notifictaion_dropdown li{padding: 15px 10px;}
    a.notifictaion{font-size: 12px;}
    .body-main{padding: 120px 15px 40px 15px;}
    .body-nav ul li a{font-size: 14px; padding: 15px 10px; margin-right: 15px;}
    .body-heading span{font-size: 17px;}
    .body-nav{margin-right: 0px; margin-left: 0px;}
    .body-content{padding: 30px 10px;}
    .basic_info_fld{height: 45px; line-height: 45px; font-size: 13px;}
    .btn-update{font-size: 13px; padding: 15px 25px;}
    .footer_cont{flex-direction: column;}
    .footer_cont p{margin-bottom: 15px;}
    .social_icon li:first-child{margin-left: 0px;}
    .basic_info_zone form h5{font-size: 14px;}
    .cv_input{font-size: 14px;}
    .skill_label{font-size: 14px;}
    .write_about_you{height: 100px;}
    .button-wrap{padding-top: 20px;}

}













