
 {{> company_header}}
 {{> company_sidebar}}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Job Applications List
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Job Applications List </h3>
                {{#if success}}
                    <section class="success" style="margin-top: 10px; margin-bottom: -20px;">
                        {{#each success}}
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{this.msg}}
                            </div>
                        {{/each}} 
                    </section>
                {{else}}
                {{#if errors}}
                    <section class="error" >                        
                        {{#each errors}}
                            <div style="color:red;" class="control-label">
                                <h5>{{this.msg}} </h5>
                            </div>
                        {{/each}}                        
                    </section>
                {{/if}}
                {{/if}}
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="notice1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="notice1_info">
                    
                    {{#each result}}    
                        <thead>
                            <tr>
                                <th>Job Details</th>
                            </tr>
                            
                        </thead>


                        <tbody>
                            <tr role="row" class="odd">
                                <td><p><b>Company:</b>{{this.companyName}} </p>
                                <p><b>Title:</b>{{this.title}}</p>
                                <p><b>Category:</b>{{this.jobCategory}}</p>
                                <p><b>Location:</b>{{this.location}}</p></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>                        
                            <th>Applicant Email </th>                           
                            {{!-- <th>Action</th> --}}
                            <th>Action 2</th>
                            </tr>
                        </thead>

                        {{#each this.applications}}
                        {{#if this.notSelected}}
                        <tbody>
                            <tr role="row" class="odd">
                            <td>{{this.applicant_email}}</td>
                            <td>{{../this.companyName}}</td>
                            {{!-- <td><div class="btn-group btn-group-xs"><a href="{{baseUrl}}/recruiter/job-category/edit?category_id={{this.category_id}}" class="btn btn-info">Edit</a> <a href="{{baseUrl}}/recruiter/job-category/delete?category_id={{this.category_id}}" class="btn btn-danger del">Delete</a></div> </td> --}}
                            <td><div class="btn-group btn-group-xs"><a href="{{baseUrl}}/recruiter/job-applications/view?applicant_id={{this.applicant_id}}&company_name={{../this.companyName}}&job_id={{../this.jobPost_id}}" class="btn btn-info">View Details</a> <a href="{{baseUrl}}/recruiter/job-category/delete?category_id={{this.category_id}}" class="btn btn-danger del">Delete</a></div> </td>
                            
                            </tr>
                        </tbody>
                        {{/if}}
                        {{/each}}        

                            
                        
                    {{/each}}
                    {{!-- <tfoot>
                    <tr>
                        <th>Title</th>
                        <th>Created Date</th>                        
                        <th>Stratus</th>
                        <th>Action</th>
                    </tr>
                    </tfoot> --}}
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>


  {{> company_footer}}

  <script>
      $(".del").click(function(){
            if (!confirm("Do you want to delete")){
                return false;
            }
        });

    $(document).ready(function() {
        $('#notice1').DataTable();
    } );
        
  </script>