 {{> header}}
 {{> sidebar}}


  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Candidate Details
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Candidate Detail Page</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      
      <!-- Main row -->
      <div class="candidate_prfl_display">
        <div class="row">
          <div class="col-md-12">
            <div class="cnd_prfl_img">
              <img src="{{baseUrl}}/images/uploads/{{result.image}}" class="cv_img">
            </div>
          </div>
          <div class="col-md-12">
            <div class="cnd_detail">
              <span class="cnd_detail_heading">Name:</span>
              <span class="about_candidate">{{result.fname}} {{result.lname}}</span>
            </div>
          </div>

          <div class="col-md-12">
            <div class="cnd_detail">
              <span class="cnd_detail_heading">Email Id:</span>
              <span class="about_candidate">{{result.email}}</span>
            </div>
          </div>

          <div class="col-md-12">
            <div class="cnd_detail">
              <span class="cnd_detail_heading">Mobile no:</span>
              <span class="about_candidate">1234567890</span>
            </div>
          </div>

          <div class="col-md-12">
            <div class="cnd_detail">
              <span class="cnd_detail_heading">Present address:</span>
              <span class="about_candidate">80, Tollygunge, near Apollo Clinic, Kolkata, West Bengal, India, 700042</span>
            </div>
          </div>

          <div class="col-md-12">
            <div class="cnd_detail">
              <span class="cnd_detail_heading">Permanent address:</span>
              <span class="about_candidate">80, Tollygunge, near Apollo Clinic, Kolkata, West Bengal, India, 700042</span>
            </div>
          </div>

          <div class="col-md-12">
            <div class="cnd_detail">
              <span class="cnd_detail_heading">Skills:</span>
              <span class="about_candidate">Skill 1, skill 2, skill3</span>
            </div>
          </div>

          <div class="col-md-12">
            <div class="cnd_detail">
              <span class="cnd_detail_heading">highest qualification:</span>
              <span class="about_candidate">M.A in English</span>
            </div>
          </div>

          <div class="col-md-12">
            <div class="cnd_detail">
              <span class="cnd_detail_heading">Institution/University:</span>
              <span class="about_candidate">Kolkata University</span>
            </div>
          </div>

          <div class="col-md-12">
            <div class="cnd_detail">
              <span class="cnd_detail_heading">Pass year:</span>
              <span class="about_candidate">2018</span>
            </div>
          </div>

          <div class="col-md-12">
            <div class="previous_job">
              <h4>About Work Experience</h4>
              <span class="experience">No. 1</span>
              <div class="cnd_detail">
                <span class="cnd_detail_heading">year / month of experience:</span>
                <span class="about_candidate">2 years</span>
              </div>
              <div class="cnd_detail">
                <span class="cnd_detail_heading">previous company name:</span>
                <span class="about_candidate">Web Technologies Pvt. Ltd.</span>
              </div>
              <div class="cnd_detail">
                <span class="cnd_detail_heading">Job designation:</span>
                <span class="about_candidate">Admin Executive</span>
              </div>
            </div>
            
          </div>

          <div class="col-md-12">
            <div class="previous_job">
              <span class="experience">No. 2</span>
              <div class="cnd_detail">
                <span class="cnd_detail_heading">year / month of experience:</span>
                <span class="about_candidate">2 years</span>
              </div>
              <div class="cnd_detail">
                <span class="cnd_detail_heading">previous company name:</span>
                <span class="about_candidate">Web Technologies Pvt. Ltd.</span>
              </div>
              <div class="cnd_detail">
                <span class="cnd_detail_heading">Job designation:</span>
                <span class="about_candidate">Admin Executive</span>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="cnd_detail">
              <span class="cnd_detail_heading">About yourself:</span>
              <span class="about_candidate">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</span>
            </div>
          </div>

          <div class="col-md-12">
            <div class="cnd_detail">
              <span class="cnd_detail_heading">curriculum vitae:</span>
                <a href="{{baseUrl}}/images/uploads/{{result.upload_cv}}" target="_blank" class="btn btn-success" >Download CV</a>
              
              <div class="cnd_cv"><a href="{{baseUrl}}/images/uploads/{{result.upload_cv}}" target="_blank"><img src="{{baseUrl}}/images/uploads/{{result.upload_cv}}" class="cv_img"></a></div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="cnd_detail">
               <a href="{{baseUrl}}/recruiter/job-applications/selection-mail?applicant_email={{result.email}}&applicant_id={{result.member_id}}&company_name={{result.company_name}}&jobPost_id={{result.jobPost_id}}" class="selected" id="btn_selected">Select for the Interview</a> 
              <button type="button" class="selected reject" id="btn_reject">Reject</button>
            </div>
          </div>
        <div class="col-md-12">
            <div class="open_job_dscr_modal" id="modal_id">
                <span class="close_job_detail"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                <a href="{{baseUrl}}/images/uploads/{{result.upload_cv}}" target="_blank" class="btn btn-success" >Download CV</a>
                <img src="{{baseUrl}}/images/uploads/{{result.upload_cv}}" alt="">
                                            
            </div>
        </div>

        </div>
      </div>

      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  </div>

 {{> footer}}