<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{{title}}}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/css/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/css/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/css/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/css/plugins/iCheck/square/blue.css">
    <!-- Extra CSS -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- jQuery 3 -->
    <script src="/css/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/css/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="/css/plugins/iCheck/icheck.min.js"></script>

    <!--Extra Js -->


    <script src="/css/new_frontend_design/js/vendor/jquery-3.3.1.min.js"></script>

    <style>

        #recruiterLogin label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
        color: red;
	    }

        #recruiterRegistration label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
        color: red;
	    }

        #recruiterForgotPassword label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
        color: red;
	    }

        #recruiterNewPassword label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
        color: red;
	    }
    </style>

</head>
<body class="hold-transition login-page">
  {{{ body}}}
<!-- /.login-box -->

{{!-- 
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<script>
    $().ready(function() {

         $("#recruiterLogin").validate({
            
			rules: {
                
				email: {
					required: true,
					email: true,
                    
				},
				password: {
					required: true,
					minlength: 5
				}
				
			},
			messages: {
				
				password: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long"
				},
				
				email: {
                    required:"Please provide a email address",
                    email:"Please enter a valid email address"
                }

			}
		});

        $("#recruiterRegistration").validate({
            
			rules: {
                
				email: {
					required: true,
					email: true,
                    
				},
				password: {
					required: true,
					minlength: 5
				},
				confirm_password: {
					required: true,
					minlength: 5,
					equalTo: "#password"
				}
				
			},
			messages: {
				
				password: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long"
				},
				confirm_password: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long",
					equalTo: "Please enter the same password as above"
				},
				email: {
                    required:"Please provide a email address",
                    email:"Please enter a valid email address"
                }

			}
		});
        $("#recruiterForgotPassword").validate({
            
			rules: {
                
				email: {
					required: true,
					email: true,
                    
				}
				
			},
			messages: {
				
			
				email: {
                    required:"Please provide a email address",
                    email:"Please enter a valid email address"
                }

			}
		});
        $("#recruiterNewPassword").validate({
            
			rules: {
               
				
				password: {
					required: true,
					minlength: 5
				}
                ,
				confirm_password: {
					required: true,
					minlength: 5,
					equalTo: "#password"
				}
				
			},
			messages: {

				password: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long"
				},
                confirm_password: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long",
					equalTo: "Please enter the same password as above"
				}
				

			}
		});


    })


</script>



</body>
</html>