
 {{> company_header}}
 {{> company_sidebar}}
   
   

 
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        <h1>
            Company Deatils
        </h1>
        
        </section>

        <!-- Main content -->
        <section class="content">

        <!-- Default box -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Company Deatils</h3>
                </div>
                {{#if errors}}
                    <section class="error" style="margin-left: 10px;">                        
                        {{#each errors}}
                            
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h5><i class="icon fa fa-ban"></i> {{this.msg}} </h5>
                                
                            </div>




                        {{/each}}                        
                    </section>
                {{/if}}
                <form method="post" class = "jobPost_page1" id="jobPost_page1" action="{{baseUrl}}/recruiter/jobposts/addNew">
                <div class="box-body">
                    
                    {{!-- <div class="row clearfix">
                        <div class="col-md-8">
                            <label for="companyName" class="control-label">Company Name</label>
                            <span class="text-danger">*</span>
                            <div class="form-group">
                                <select name="companyName" id="companyName" class="form-control">
                                    {{#each companies}}  
                                        <option value="{{this.companyName}}">{{this.companyName}}</option>

                                    {{/each}}
                                </select>

                                <span class="text-danger"></span>
                            </div>
                        </div> 
                       

                    </div> --}}
                    <input type="hidden" name="company_id" value="{{sessionData.company_id}}" class="form-control" id="company_id" />

                    <div class="row clearfix">

                        <div class="col-md-8">
                            <label for="companyName" class="control-label">Company</label>
                            <span class="text-danger">*</span>
                            <div class="form-group">
                                <input type="text" name="companyName" value="{{sessionData.companyName}}" class="form-control" id="companyName" readonly />
                                <span class="text-danger"></span>
                            </div>
                        </div> 
                        
                    </div>
                    <div class="row clearfix">

                        <div class="col-md-8">
                            <label for="title" class="control-label">Title</label>
                            <span class="text-danger">*</span>
                            <div class="form-group">
                                <input type="text" name="title" value="" class="form-control" id="title" />
                                <span class="text-danger"></span>
                            </div>
                        </div> 
                        
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-8">
                            <label for="jobCategory" class="control-label">Job Category</label>
                            <span class="text-danger">*</span>
                            <div class="form-group">
                                <select name="jobCategory" id="jobCategory" class="form-control">
                                    {{#each categories}}  
                                        <option value="{{this.categoryName}}">{{this.categoryName}}</option>

                                    {{/each}}
                                </select>

                                <span class="text-danger"></span>
                            </div>
                        </div> 
                       

                    </div>

                    <div class="row clearfix">
                        <div class="col-md-8">
                            <label for="jobType" class="control-label">Job Type</label>
                            <span class="text-danger">*</span>
                            <div class="form-group">
                                <select name="jobType" id="jobType" class="form-control">
                                    
                                    <option value="Half">Half Time</option>
                                    <option value="Full">Full Time</option>
                                </select>
                                <span class="text-danger"></span>
                            </div>
                        </div> 
                    </div>

                    <div class="row clearfix">

                        <div class="col-md-8">
                            <label for="location" class="control-label">Location</label>
                            <span class="text-danger">*</span>
                            <div class="form-group">
                                <input type="text" name="location" value="" class="form-control" id="location" />
                                <span class="text-danger"></span>
                            </div>
                        </div>                                      
                    </div>


                    <div class="row clearfix">     

                        <div class="col-md-8">
                            <label for="description" class="control-label">Job Description</label>
                            <span class="text-danger">*</span>
                            <div class="form-group">
                                <textarea  name="description" value="" class="form-control" id="description"/></textarea>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        
                    </div>

                   

                    <div class="row clearfix"> 
                        <div class="col-md-6">
                            <label for="status" class="control-label">Status</label>
                            <span class="text-danger">*</span>
                            <div class="form-group1">
                                <input type="radio" name="status" checked  value=1 > Active
                                <input type="radio" name="status"  value=0> Inactive
                            </div>
                        </div>
                    </div>

                </div>
                <div class="box-footer" id="submit">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
                </form>
                 
            </div>
        <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
       

  <!-- Content Wrapper. Contains page content -->
 


<script>
  //iCheck for checkbox and radio inputs
   //$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({ checkboxClass: 'icheckbox_minimal-blue', radioClass : 'iradio_minimal-blue' })
  </script>
  <!-- /.content-wrapper -->
 {{> company_footer}}


  <script>
      $(function (){
        CKEDITOR.replace('description');
        
      })
      
       
  </script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js "></script>
{{!-- <script src="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></script> --}}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script>
//$( "#year" ).datepicker();

var start = 2010;
//var end = new Date().getFullYear();
var end = 2035;
var options = "";
for(var year = start ; year <=end; year++){
  options += "<option>"+ year +"</option>";
}
document.getElementById("year").innerHTML = options;




  </script>