
 {{> header}}
 {{> sidebar}}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Job Post Management
            <small><a href="{{baseUrl}}/recruiter/jobPosts/addNew" class="btn btn-primary btn-sm">Add New Job</a> </small>
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">All Posted Jobs </h3>
                {{#if success}}
                    <section class="success" style="margin-top: 10px; margin-bottom: -20px;">
                        {{#each success}}
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{this.msg}}
                            </div>
                        {{/each}} 
                    </section>
                {{else}}
                {{#if errors}}
                    <section class="error" >                        
                        {{#each errors}}
                            <div style="color:red;" class="control-label">
                                <h5>{{this.msg}} </h5>
                            </div>
                        {{/each}}                        
                    </section>
                {{/if}}
                {{/if}}
            </div>
            <!-- /.box-header -->
            <div class="box-body">


                <form method="post" class = "jobPost_page1" id="jobPost_page1" action="{{baseUrl}}/recruiter/jobposts/job-list">
                <div class="box-body"></div>
                    <div class="row clearfix">
                        <div class="col-md-8">
                            <label for="sortByCompany" class="control-label">My Companies</label>
                            
                            <div class="form-group">
                                <select name="sortByCompany" id="sortByCompany" class="form-control">
                                       <option value="">All Companies</option> 

                                    {{#each dropDownData}}  

                                        <option value="{{this.companyName}}">{{this.companyName}}</option>

                                    {{/each}}
                                </select>
                                <span class="text-danger"></span>
                            </div>
                        </div> 
                    </div>
                    <div class="box-footer" id="submit">
                    <button type="submit" class="btn btn-success">Sort</button>
                    </div>

                    </div>  
                </form>   
                <table id="notice1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="notice1_info">
                    <thead>
                    <tr>
                        <th>Title </th>
                        <th>Company Name</th> 
                        <th>Job Category</th>
                        <th>Location </th>
                        <th>Action</th>

                        
                    </tr>
                    </thead>
                    {{#each result}}                 
                    
                    <tbody>
                        <tr role="row" class="odd">
                            <td>{{this.title}}</td>
                            <td>{{this.companyName}}</td>
                            <td>{{this.jobCategory}}</td>
                            <td>{{this.location}}</td>
                            <td><div class="btn-group btn-group-xs"><a href="{{baseUrl}}/recruiter/jobPosts/edit?notice_id={{this.notice_id}}" class="btn btn-info">Edit</a> <a href="{{baseUrl}}/recruiter/jobPosts/delete?notice_id={{this.notice_id}}" class="btn btn-danger del">Delete</a></div> </td>

                        </tr>
                    </tbody>
                    {{/each}}
                    {{!-- <tfoot>
                    <tr>
                        <th>Title</th>
                        <th>Created Date</th>                        
                        <th>Stratus</th>
                        <th>Action</th>
                    </tr>
                    </tfoot> --}}
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>


  {{> footer}}

  <script>
      $(".del").click(function(){
            if (!confirm("Do you want to delete")){
                return false;
            }
        });

    $(document).ready(function() {
        $('#notice1').DataTable();
    } );
        
  </script>