 {{> header}}
 {{> sidebar}}

    <div class="content-wrapper">
        <section class="content-header">
        <h1>
            Company Deatils
        </h1>
        
        </section>

        <section class="content">

            <!-- Default box -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Company Deatils</h3>
                </div>
                {{#each result}}
                    <p>{{this.company_id}}</p>
                    <div><a href="{{baseUrl}}/recruiter/company/dashboard?compId={{this.company_id}}&compName={{this.companyName}}">{{this.companyName}}</a></div>                   
                {{/each}}



            </div>
        </section>
    </div>



{{> footer}}