
 {{> header}}
 {{> sidebar}}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        
    </section>
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Job Category List </h3>
                {{#if success}}
                    <section class="success" style="margin-top: 10px; margin-bottom: -20px;">
                        {{#each success}}
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{this.msg}}
                            </div>
                        {{/each}} 
                    </section>
                {{else}}
                {{#if errors}}
                    <section class="error" >                        
                        {{#each errors}}
                            <div style="color:red;" class="control-label">
                                <h5>{{this.msg}} </h5>
                            </div>
                        {{/each}}                        
                    </section>
                {{/if}}
                {{/if}}
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="notice1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="notice1_info">
                    <thead>
                    <tr>
                        <th>Company Name </th>
                        <th>Rejection Cause</th> 
                        <th>Action</th>

                        
                    </tr>
                    </thead>
                    {{#each result}}                 
                    
                    <tbody>
                        <tr role="row" class="odd">
                            <td>{{this.companyName}}</td>
                            <td>{{this.rejectionCause}}</td>
                            <td><div class="btn-group btn-group-xs"><a href="{{baseUrl}}/recruiter/job-category/edit?category_id={{this.category_id}}" class="btn btn-info">Edit</a> <a href="{{baseUrl}}/recruiter/job-category/delete?category_id={{this.category_id}}" class="btn btn-danger del">Delete</a></div> </td>

                        </tr>
                    </tbody>
                    {{/each}}
                    {{!-- <tfoot>
                    <tr>
                        <th>Title</th>
                        <th>Created Date</th>                        
                        <th>Stratus</th>
                        <th>Action</th>
                    </tr>
                    </tfoot> --}}
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>


  {{> footer}}

  <script>
      $(".del").click(function(){
            if (!confirm("Do you want to delete")){
                return false;
            }
        });

    $(document).ready(function() {
        $('#notice1').DataTable();
    } );
        
  </script>