
 {{> header}}
 {{> sidebar}}

 
        <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        <h1>
            Add New User
            <small>Fill up the form bellow</small>
        </h1>
        
        </section>

        <!-- Main content -->
        <section class="content">

        <!-- Default box -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">User Add</h3>
                </div>
                {{#if success}}
                    <section class="success">
                        <h2>Successfully Validation</h2>
                    </section>
                {{else}}
                {{#if errors}}
                    <section class="error">
                        <ul>
                            {{#each errors}}
                                <li>{{this.msg}}</li>
                            {{/each}}
                        </ul>
                    </section>
                {{/if}}
                <form method="post"  action="http://localhost:3000/test_routes/first_page_submit">
                <div class="box-body">
                    <div class="row clearfix">

                        <div class="col-md-6">
                            <label for="first_name" class="control-label"><span class="text-danger">*</span>First Name</label>
                            <div class="form-group">
                                <input type="text" name="first_name" value="" class="form-control" id="first_name" />
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="last_name" class="control-label"><span class="text-danger">*</span>Last Name</label>
                            <div class="form-group">
                                <input type="text" name="last_name" value="" class="form-control" id="last_name" />
                                <span class="text-danger"></span>
                            </div>
                        </div> 

                        
                    </div>
                    <div class="row clearfix">     

                        <div class="col-md-6">
                            <label for="email" class="control-label"><span class="text-danger">*</span>Email</label>
                            <div class="form-group">
                                <input type="text" name="email" value="" class="form-control" id="email" />
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="phone" class="control-label"><span class="text-danger">*</span>Phone</label>
                            <div class="form-group">
                                <input type="number" name="phone" value="" class="form-control" id="phone" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <label for="password" class="control-label"><span class="text-danger">*</span>Password</label>
                            <div class="form-group">
                                <input type="password" name="password" value="" class="form-control" id="password" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="cpassword" class="control-label"><span class="text-danger">*</span> Confirm Password</label>
                            <div class="form-group">
                                <input type="password" name="cpassword" value="" class="form-control" id="cpassword" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <label for="username" class="control-label"><span class="text-danger">*</span>Username</label>
                            <div class="form-group">
                                <input type="text" name="username" value="" class="form-control" id="username" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-check"></i> Save
                    </button>
                </div>
                </form>
                 {{/if}}
            </div>
        <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>


  <!-- Content Wrapper. Contains page content -->
 


<script>
  //iCheck for checkbox and radio inputs
   //$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({ checkboxClass: 'icheckbox_minimal-blue', radioClass : 'iradio_minimal-blue' })
  </script>
  <!-- /.content-wrapper -->
  
  {{> footer}}