{{!-- 
 {{> header}}
 {{> sidebar}} --}}

 
        <div class="content-wrapper1">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">

        <!-- Default box -->
            <div class="login-box">
                <div class="login-logo">
                    <a href="{{baseUrl}}/admin/forgot-password"><b>Forgot Password</b></a>
                </div>
                <!-- /.login-logo -->
                <div class="login-box-body">

                    {{#if errors}}
                        <section class="error" >                        
                            {{#each errors}}
                                <div class="alert alert-danger alert-dismissible">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{this.msg}}
                                </div>
                            {{/each}}                        
                        </section>
                    {{/if}}
                    
                    <form action="{{baseUrl}}/admin/forgot-password" class="adminForgotPassword" id="adminForgotPassword" method="post" id="login-form">
                        <div class="form-group has-feedback">
                            <input type="text" name="email" value="" class="form-control" id="email" placeholder="Enter Your Email" />
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        
                            <div class="row">
                            <div class="col-xs-12">
                                <button type="submit" id="sign-btn" class="btn btn-primary btn-block btn-flat">Submit</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                    
                </div>
            </div>
        <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>


  <!-- Content Wrapper. Contains page content -->
 


<script>
  //iCheck for checkbox and radio inputs
   //$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({ checkboxClass: 'icheckbox_minimal-blue', radioClass : 'iradio_minimal-blue' })
  </script>
  <!-- /.content-wrapper -->
  {{!-- {{> footer}} --}}