{{!-- 
 {{> header}}
 {{> sidebar}} --}}

 
        <div class="content-wrapper1">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">

        <!-- Default box -->
            <div class="login-box">
                <div class="login-logo">
                    <a href="{{baseUrl}}/admin/login"><b>Admin Area</b></a>
                </div>
                <!-- /.login-logo -->
                <div class="login-box-body">
                    {{#if reverify}}
                    {{#if loginEmail}}

                    <section class="error" >   
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <p>Email is not verified,click to reverify</p> 
                            
                                {{loginEmail}}
                                <a href="/admin/login/{{loginEmail}}" class= "btn btn-primary">Resend email</a>                                                        
                        </div>                                              
                    </section>
                    {{/if}} 
                    {{/if}}

                    {{#if success}}
                        <section class="success" >                        
                            {{#each success}}
                                <div class="alert alert-success alert-dismissible">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{this.msg}}
                                </div>
                            {{/each}}                        
                        </section>
                    
                    {{else}}
                    {{#if errors}}
                        <section class="error" >                        
                            {{#each errors}}
                                <div class="alert alert-danger alert-dismissible">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{this.msg}}
                                </div>
                            {{/each}}                        
                        </section>
                    {{/if}}
                    {{/if}}
                <div class="register-box-body"> 
                    <p class="login-box-msg">Admin Login</p>
                    <form action="{{baseUrl}}/admin/login" class="adminLogin" id="adminLogin" method="post" id="login-form">
                        <div class="form-group has-feedback">
                            <input type="text" name="email" value="{{loginEmail}}" class="form-control" id="email" placeholder="Enter Your Email" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" name="password" value="" class="form-control" id="password" placeholder="Enter Your Password" />
                            <span class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col-xs-8">
                            <div class="checkbox icheck1">
                                <label >
                                <input type="checkbox" onclick="Toggle()"> 
                                </b style="text-align: center;">Show Password</b>
                                </label>
                            </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="submit" id="sign-btn" class="btn btn-primary btn-block btn-flat">Sign In</button>
                        </div>
                            <!-- /.col -->
                        </div>
                    </form>
                    <a href="{{baseUrl}}/admin/forgot-password">I forgot my password</a><br>
                    <a href="{{baseUrl}}/admin/registration" class="text-center">Register a new membership</a>
                </div>
                </div>
            </div>
        <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>


  <!-- Content Wrapper. Contains page content -->
 


<script>
  //iCheck for checkbox and radio inputs
   //$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({ checkboxClass: 'icheckbox_minimal-blue', radioClass : 'iradio_minimal-blue' })
  </script>


<script> 
    // Change the type of input to password or text 
        function Toggle() { 
            var pass = document.getElementById("password"); 
			var con_pass = document.getElementById("confirm_password");  
            if (pass.type === "password" || con_pass === "password") { 
                pass.type = "text";
				con_pass.type = "text";

            } 
            else { 
                 pass.type = "password"; 
				 con_pass.type = "password"; 
            } 
        } 
</script>







  <!-- /.content-wrapper -->
  {{!-- {{> footer}} --}}