{{!-- 
 {{> header}}
 {{> sidebar}} --}}

 
        <div class="content-wrapper1">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">

        <!-- Default box -->
            <div class="login-box">
                <div class="login-logo">
                    <a href="{{baseUrl}}/admin/update-password"><b>Change Password</b></a>
                </div>
                <!-- /.login-logo -->
                <div class="login-box-body">
                    {{#if success}}
                    <section class="success">
                        {{#each success}}
                            
                                <div class="alert alert-success alert-dismissible">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{this.msg}}
                                </div>
                           
                        {{/each}} 
                    </section>
                {{else}}
                    {{#if errors}}
                        <section class="error" >                        
                            {{#each errors}}
                                <div class="alert alert-danger alert-dismissible">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{this.msg}}
                                </div>
                            {{/each}}                        
                        </section>
                    {{/if}}
                {{/if}}    
                    <form action="{{baseUrl}}/admin/update-password" id="adminNewPassword" class="adminNewPassword" method="post" >

                        <div class="form-group has-feedback">
                            <input type="password" name="otp" value="" class="form-control" id="otp" placeholder="Enter Your OTP" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" name="password" value="" class="form-control" id="password" placeholder="Enter Your password" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" name="confirm_password" value="" class="form-control" id="confirm_password" placeholder="Confirm Password" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="submit" id="sign-btn" class="btn btn-primary btn-block btn-flat">Save</button>

                            </div>
                            <div class="col-xs-12">
                                <a href="{{baseUrl}}/admin/update-password/{{sendedEmail}}" class="btn btn-primary btn-block btn-flat">Resend OTP</a>

                                
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                    
                </div>
            </div>
        <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>


  <!-- Content Wrapper. Contains page content -->
 


<script>
  //iCheck for checkbox and radio inputs
   //$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({ checkboxClass: 'icheckbox_minimal-blue', radioClass : 'iradio_minimal-blue' })
  </script>
  <!-- /.content-wrapper -->
  {{!-- {{> footer}} --}}