
 {{> admin_header}}
 {{> admin_sidebar}}

 
        <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        <h1>
            Admin Profile
        </h1>
        
        </section>

        <!-- Main content -->
        <section class="content">

        <!-- Default box -->
        <div class="col-md-8">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Profile Details</h3>
                </div>                
                {{#if success}}
                    <section class="success" style="margin-top: 10px; margin-bottom: -20px; margin-left: 10px;
    margin-right: 10px;">
                        {{#each success}}
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{this.msg}}
                            </div>
                        {{/each}} 
                    </section>
                {{else}}
                {{#if errors}}
                    <section class="error" style="margin-left: 10px;">                        
                        {{#each errors}}
                            <div style="color:red;" class="control-label">
                                <h5>{{this.msg}} </h5>
                            </div>
                        {{/each}}                        
                    </section>
                {{/if}}
                {{/if}}
                <form method="post"  enctype="multipart/form-data" action="{{baseUrl}}/admin/profile">
                <div class="box-body">
                    <input type="hidden" name="member_id" value="{{ result.user_id}}" class="form-control" id="user_id" />

                    <div class="row clearfix">

                        <div class="col-md-6">
                            <label for="first_name" class="control-label">First Name</label>
                            <div class="form-group">
                                <input type="text" name="first_name" value="{{ result.first_name}}" class="form-control" id="first_name" />
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="last_name" class="control-label">Last Name</label>
                            <div class="form-group">
                                <input type="text" name="last_name" value="{{ result.last_name}}" class="form-control" id="last_name" />
                                <span class="text-danger"></span>
                            </div>
                        </div> 

                        
                    </div>
                    <div class="row clearfix">     

                        <div class="col-md-6">
                            <label for="email" class="control-label">Email</label>
                            <div class="form-group">
                                <input type="text" name="email" value="{{ result.email}}" class="form-control" id="email" />
                                <input type="hidden" name="old_email" value="{{ result.email}}" class="form-control" id="old_email" />
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="phone" class="control-label">Phone Number</label>
                            <div class="form-group">
                                <input type="number" name="phone" value="{{ result.phone}}" class="form-control" id="phone" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row clearfix">

                        <div class="col-md-6">
                            <label for="username" class="control-label">Username</label>
                            <div class="form-group">
                                <input type="text" name="username" value="{{ result.username}}" class="form-control" id="username" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="Image" class="control-label">Image</label>
                            <div class="form-group">
                               <input type="file" id="image" name="image" class="control-label" accept="image/*" >
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <div class="box-footer" id="submit">
                    <button type="button" class="btn btn-warning edt"> Edit</button>
                </div>
                </form>
                 
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-info">
                <div class="box-header with-border">
                    {{#if result.image}}
                    <img class="profile-user-img img-responsive img-circle" src="{{baseUrl}}/images/uploads/{{ result.image}}" style=" height:200px ; width:200px" alt="User profile picture">
                    {{else}}
                    <img class="profile-user-img img-responsive img-circle" src="{{baseUrl}}/images/uploads/noImage.png" style=" height:200px ; width:200px" alt="User profile picture">

                    {{/if}}
                </div>
            </div>
        </div>
        <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>


  <!-- Content Wrapper. Contains page content -->
 


<script>
  //iCheck for checkbox and radio inputs
   //$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({ checkboxClass: 'icheckbox_minimal-blue', radioClass : 'iradio_minimal-blue' })
  </script>
  <!-- /.content-wrapper -->
  
  {{> admin_footer}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
      $(".edt").click(function () {
        $("#submit").html('<button type="submit" class="btn btn-success">Update</button>');
    });
  </script>