
 {{> header}}
 {{> sidebar}}

 
        <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        <h1>
            Admin Add
        </h1>
        
        </section>

        <!-- Main content -->
        <section class="content">

        <!-- Default box -->
        <div class="col-md-8">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Admin Add</h3>
                </div>
                {{#if success}}
                    <section class="success">
                        {{#each success}}
                            <div class="col-md-6">
                                <div class="alert alert-success alert-dismissible">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{this.msg}}
                                </div>
                            </div>
                        {{/each}} 
                    </section>
                {{else}}
                {{#if errors}}
                    <section class="error" >                        
                        {{#each errors}}
                            <div class="col-md-6">
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{this.msg}}
                            </div>
                            </div>
                        {{/each}}                        
                    </section>
                {{/if}}
                {{/if}}

                <form method="post" id ="adminRegistration" class="adminRegistration" enctype="multipart/form-data" action="{{baseUrl}}/admin/registration">
                <div class="box-body">
                    <div class="row clearfix">     

                        <div class="col-md-8">
                            
                            <label for="email" class="control-label">Email</label>
                            <span class="text-danger">*</span>
                            <div class="form-group">
                                <input type="text" name="email" value="" class="form-control" id="email" />

                                <span class="text-danger"></span>
                            </div>

                        </div>
                        
                    </div>


                    <div class="row clearfix">     

                        <div class="col-md-8">
                            
                            <label for="password" class="control-label">Password</label>
                            <span class="text-danger">*</span>
                            <div class="form-group">
                                <input type="password" name="password" value="" class="form-control" id="password" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row clearfix">     

                        <div class="col-md-8">
                            
                            <label for="confirm_password" class="control-label">Confirm Password</label>
                            <span class="text-danger">*</span>
                            <div class="form-group">
                                <input type="password" name="confirm_password" value="" class="form-control" id="confirm_password" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        
                    </div>
                    <input type="checkbox" onclick="Toggle()"> 
                    <b>Show Password</b> 
                </div>
                <div class="box-footer" id="submit">
                    <button type="submit" class="btn btn-success"> Register </button>
                </div>
                <a href="{{baseUrl}}/admin/login" class="text-center">I am already a member</a>
                </form>
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-info">
                <div class="box-header with-border">
                    {{#if result.image}}
                    <img class="profile-user-img img-responsive img-circle" src="{{baseUrl}}/images/uploads/{{ result.image}}" style=" height:250px ; width:200px" alt="User profile picture">
                    {{else}}
                    <img class="profile-user-img img-responsive img-circle" src="{{baseUrl}}/images/uploads/noImage.png" style=" height:250px ; width:200px" alt="User profile picture">               
                    {{/if}}
                </div>
            </div>
        </div>
        <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>


  <!-- Content Wrapper. Contains page content -->
 


<script>
  //iCheck for checkbox and radio inputs
   //$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({ checkboxClass: 'icheckbox_minimal-blue', radioClass : 'iradio_minimal-blue' })
  </script>
  <!-- /.content-wrapper -->
  
  {{> footer}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
      $(".edt").click(function () {
        $("#submit").html('<button type="submit" class="btn btn-success">Update</button>');
    });
  </script>