 {{> company_header}}
 {{> company_sidebar}}

     <div class="content-wrapper">
        <section class="content-header">
        <h1>
            Company Deatils
        </h1>
        
        </section>

        <section class="content">

            <!-- Default box -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Company Deatils</h3>
                </div>
                
                    <div>{{result.companyName}}</div>  
                    <div>{{result.company_id}}</div>                   
                



            </div>
        </section>
    </div>



 {{> company_footer}}