
 {{> header}}
 {{> sidebar}}

 
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        <h1>
            Job Category
        </h1>
        
        </section>

        <!-- Main content -->
        <section class="content">

        <!-- Default box -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Job Category</h3>
                </div>
                {{#if success}}
                <section class="success">
                    {{#each success}}
                    <div class="col-md-6">
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{this.msg}}
                        </div>
                    </div>
                    {{/each}}
                </section>
                {{else}}
                {{#if errors}}
                    <section class="error" style="margin-left: 10px;">                        
                        {{#each errors}}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h5><i class="icon fa fa-ban"></i> {{this.msg}} </h5>
                                
                            </div>
                        {{/each}}                        
                    </section>
                {{/if}}
                {{/if}}

                <form method="post" class = "recruiterAddCategory" id= "recruiterAddCategory" action="{{baseUrl}}/recruiter/job-category/add">
                <div class="box-body">
                    <div class="row clearfix">

                        <div class="col-md-8">
                            <label for="categoryName" class="control-label">Category Name</label>
                            <span class="text-danger">*</span>
                            <div class="form-group">
                                <input type="text" name="categoryName" value="" class="form-control" id="categoryName" />
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        

                        
                    </div>
                    <div class="row clearfix">

                        <div class="col-md-8">
                            <label for="categoryDetails" class="control-label">Category Details</label>
                            <span class="text-danger">*</span>
                            <div class="form-group">
                                <input type="text" name="categoryDetails" value="" class="form-control" id="categoryDetails" />
                                <span class="text-danger"></span>
                            </div>
                        </div> 
                        
                    </div>
                    
                    
                </div>
                <div class="box-footer" id="submit">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
                </form>
                 
            </div>
        <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>


  <!-- Content Wrapper. Contains page content -->
 


<script>
  //iCheck for checkbox and radio inputs
   //$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({ checkboxClass: 'icheckbox_minimal-blue', radioClass : 'iradio_minimal-blue' })
  </script>
  <!-- /.content-wrapper -->
  
  {{> footer}}

  <script src="https://cdn.ckeditor.com/4.11.2/standard/ckeditor.js"></script>
  <script>
      // CKEDITOR.replace('description');
       
  </script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js "></script>
{{!-- <script src="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></script> --}}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script>
//$( "#year" ).datepicker();

var start = 2010;
//var end = new Date().getFullYear();
var end = 2035;
var options = "";
for(var year = start ; year <=end; year++){
  options += "<option>"+ year +"</option>";
}
document.getElementById("year").innerHTML = options;




  </script>