
 {{> header}}
 {{> sidebar}}

 
        <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        <h1>
            Job Category
        </h1>
        
        </section>

        <!-- Main content -->
        <section class="content">

        <!-- Default box -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Job Category</h3>
                </div>
                {{#if errors}}
                    <section class="error" style="margin-left: 10px;">                        
                        {{#each errors}}
                            <div style="color:red;" class="control-label">
                                <h5>{{this.msg}} </h5>
                            </div>
                        {{/each}}                        
                    </section>
                {{/if}}
                <form method="post" class = "editCategory" id = "editCategory" action="{{baseUrl}}/recruiter/job-category/edit">
                <div class="box-body">

                    <input type="hidden" name="category_id" value="{{result.category_id}}" class="form-control" id="title" />
                    <div class="row clearfix">

                        <div class="col-md-8">
                            <label for="categoryName" class="control-label">Category Name</label>
                            <span class="text-danger">*</span>
                            <div class="form-group">
                                <input type="text" name="categoryName" value="{{result.categoryName}}" class="form-control" id="categoryName" />
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        

                        
                    </div>
                    <div class="row clearfix">

                        <div class="col-md-8">
                            <label for="categoryDetails" class="control-label">Category Details</label>
                            <span class="text-danger">*</span>
                            <div class="form-group">
                                <input type="text" name="categoryDetails" value="{{result.categoryDetails}}" class="form-control" id="categoryDetails" />
                                <span class="text-danger"></span>
                            </div>
                        </div> 
                        
                    </div>
                    
                </div>
                <div class="box-footer" id="submit">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
                </form>
                 
            </div>
        <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>


  <!-- Content Wrapper. Contains page content -->
 


<script>
  //iCheck for checkbox and radio inputs
   //$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({ checkboxClass: 'icheckbox_minimal-blue', radioClass : 'iradio_minimal-blue' })
  </script>
  <!-- /.content-wrapper -->
  
  {{> footer}}

  <script src="https://cdn.ckeditor.com/4.11.2/standard/ckeditor.js"></script>
  <script>
      // CKEDITOR.replace('description');
  </script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js "></script>
{{!-- <script src="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></script> --}}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script>
    //$( "#year" ).datepicker();

    //console.log($(".sku-info").text())
    var selected_year=$(".sel_yr").text()
    /*
        $('#year').each(function() {
        var start = 19;
        var year = (new Date()).getFullYear();
        var current = year;
        year -= 19;
        //year == 2015
        for (var i = 0; i < start+1; i++) {
            if ((year+i) == selected_year)
            $(this).append('<option selected value="' + (year + i) + '">' + (year + i) + '</option>');
            else
            $(this).append('<option value="' + (year + i) + '">' + (year + i) + '</option>');
        }
    
    })
*/
    var start = 2010;
    //var end = new Date().getFullYear();
    var end = 2035;
    $('#year').each(function() {
        for (var i = 2010; i < end+1; i++) {
            if (i == selected_year){
                $(this).append('<option selected value="' + (i) + '">' + (i) + '</option>');
            }else{
                $(this).append('<option value="' + i + '">' + i + '</option>');
            }
            
        }
    })


  </script>