 {{> header}}
 {{> sidebar}}
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: static;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 600px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=textarea], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=textarea]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: fit-content;
  margin-bottom:10px;
  opacity: 0.8;
  display: inline;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
</style>
    
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        
    </section>
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            
            <!-- /.box-header -->
            <div class="box-body">
                
                <p>{{result.companyName}}</p>
                <p>{{result.companyDetails}}</p>
                <p>{{result.companyEmail}}</p>
                
                <p>{{result.phone}}</p>
                <p>{{result.companyType}}</p>

                
                
                
            </div>
            <!-- /.box-body -->
            
            <div class="form-popup" id="myForm">
                <form action="{{baseUrl}}/admin/requested-companies/rejected?companyEmail={{result.companyEmail}}" method = "post" class="form-container">
                    <label for="rejectionCause"><b>Rejection reason</b></label>
                    {{!-- <input type="textarea" placeholder="Why rejected" name="rejectionCause" value="" id = "rejectionCause"> --}}
                    
                    <textarea  name="rejectionCause" value="" class="form-control" id="rejectionCause"/></textarea>
                    <button type="submit" class="btn">Send</button>
                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
            </div>
            <button class="btn btn-danger" onclick="openForm()">Reject</button>
            
            <a href="{{baseUrl}}/admin/requested-companies/approved?companyId={{result.company_id}}&companyEmail={{result.companyEmail}}" class="btn btn-success">Approved</a> 

        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>

<script>
    
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>



 {{> admin_footer}}