
 {{> admin_header}}
 {{> admin_sidebar}}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Job Applications List
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Job Applications List </h3>
                {{#if success}}
                    <section class="success" style="margin-top: 10px; margin-bottom: -20px;">
                        {{#each success}}
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{this.msg}}
                            </div>
                        {{/each}} 
                    </section>
                {{else}}
                {{#if errors}}
                    <section class="error" >                        
                        {{#each errors}}
                            <div style="color:red;" class="control-label">
                                <h5>{{this.msg}} </h5>
                            </div>
                        {{/each}}                        
                    </section>
                {{/if}}
                {{/if}}
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="companies_table" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="notice1_info">
                    
                    {{#each result}}    
                        <thead>
                            <tr>
                                <th>Company Details</th>
                                <th>Action</th>
                            </tr>
                            
                        </thead>


                        <tbody>
                            <tr role="row" class="odd">
                                <td><p><b>Company:</b>{{this.companyName}} </p>
                                <p><b>Details:</b>{{this.companyDetails}}</p>
                                <td><a href="{{baseUrl}}/admin/requested-companies/view?company_id={{this.company_id}}" class="btn btn-success">View Details</a></td>
                            </tr>
                        </tbody>
                               

                            
                        
                    {{/each}}
                    {{!-- <tfoot>
                    <tr>
                        <th>Title</th>
                        <th>Created Date</th>                        
                        <th>Stratus</th>
                        <th>Action</th>
                    </tr>
                    </tfoot> --}}
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>


  {{> admin_footer}}

  <script>
      $(".del").click(function(){
            if (!confirm("Do you want to delete")){
                return false;
            }
        });

    $(document).ready(function() {
        $('#notice1').DataTable();
    } );
        
  </script>